.content .container {
  max-width: 1000px;
}

.content .round_img {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: url("../img/blog_1.jpg") bottom right -20px no-repeat;
  margin: 25px auto;
}

.content span {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.content ul:before {
  content: url("../img/blog_icon.png");
  position: relative;
  top: 10px;
  left: 5px;
}

.content ul a {
  text-decoration: none !important;
  color: #818181 !important;
}

.content ul a:hover {
  color: #c59d5f !important;
}

.content ul li {
  list-style-type: none;
}

.content ul li:first-child {
  padding-left: 20px;
}

.content ul li:before {
  content: none !important;
}

.content .LastB {
  text-align: center;
}

.content .LastB span {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content .LastB a {
  text-decoration: none !important;
  color: #4f4f4f !important;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.content .LastB a:hover {
  color: #c59d5f !important;
}

.content .LastB img {
  margin-top: 35px;
  margin-bottom: 5px;
}

.content .LastB h2 {
  margin-bottom: 0px;
}
