/* line 14, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .tags {
  text-align: center;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul a {
  text-decoration: none !important;
  color: #818181 !important;
}

/* line 27, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul a:hover {
  color: #c59d5f !important;
}

/* line 31, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul li {
  list-style-type: none;
}

/* line 33, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul li:first-child {
  padding-left: 20px;
}

/* line 36, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul li:before {
  content: none !important;
}

/* line 40, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul b {
  color: #4f4f4f;
}

/* line 42, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content ul b:hover {
  color: #c59d5f !important;
}

/* line 49, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .row div {
  padding: 15px 15px;
}

/* line 53, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box1, .content .box2, .content .box3, .content .box4, .content .box5, .content .box6, .content .box7, .content .box8 {
  background-clip: content-box !important;
  height: 340px;
  height: 28vw;
}

/* line 58, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box1 {
  background: url("../img/gallery1.jpg") center no-repeat;
}

/* line 61, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box2 {
  background: url("../img/gallery2.jpg") center no-repeat;
}

/* line 64, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box3 {
  background: url("../img/gallery3.jpg") center no-repeat;
}

/* line 67, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box4 {
  background: url("../img/gallery4.jpg") center no-repeat;
}

/* line 70, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box5 {
  background: url("../img/gallery5.jpg") center no-repeat;
}

/* line 73, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box6 {
  background: url("../img/gallery6.jpg") center no-repeat;
}

/* line 76, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box7 {
  background: url("../img/gallery7.jpg") center no-repeat;
}

/* line 79, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.content .box8 {
  background: url("../img/gallery8.jpg") center no-repeat;
}

/* line 126, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover .bubba {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #2154ac;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
}

/* line 135, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover .bubba_top {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 59;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 149, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover .bubba_top div {
  width: 100%;
  text-align: center;
}

/* line 152, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover .bubba_top div img {
  margin: 0;
  margin-top: 5vh;
}

/* line 158, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover:hover .bubba {
  visibility: visible;
  opacity: 0.5;
}

/* line 162, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work5/sass/gallery.scss */
.hover:hover .bubba_top {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*# sourceMappingURL=../css/gallery.map */