body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

li {
  list-style-type: none;
}

header {
  height: 100vh;
  color: white;
  padding-top: 20px;
}

h1 {
  color: white;
  font-size: 69px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
  margin-bottom: 45px;
}

h4 {
  color: white;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: auto;
  width: 90%;
  max-width: 620px;
  min-width: 440px;
}

h4:before {
  content: url("../img/line.png");
  position: relative;
  left: -260px;
  top: -10px;
  display: block;
  width: 80%;
}

h2 {
  color: #c59d5f;
  font-size: 51px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
}

h2:after {
  content: url("../img/line_golden.png");
  position: relative;
  left: -85px;
  bottom: 25px;
  display: block;
  width: 80%;
}

p {
  color: #4f4f4f;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  text-align: center;
}

.title {
  position: relative;
  top: 20vh;
}

.block {
  padding-top: 80px;
  padding-bottom: 80px;
  background: white;
  min-height: 580px;
  text-align: center;
}

.block img {
  width: 100%;
}

.BG {
  height: 640px;
}

.star:before {
  content: url("../img/flower.png");
  position: relative;
  left: calc(50% - 6px);
  top: -30px;
}

nav {
  display: inline-block;
  margin-top: 35px;
  text-align: right;
  float: right;
}

nav li {
  margin-left: 1vw;
}

nav a {
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro';
}

nav a:hover {
  color: white;
}

nav a:focus {
  color: #c59d5f;
}

#france_for_you .star:before {
  left: calc(40% - 6px);
}

#advantage div {
  min-height: 220px;
}

#advantage img {
  width: 70px;
  margin-bottom: 30px;
}

#advantage p {
  margin-bottom: 30px;
}

#how_we_work_bottom img {
  height: 410px;
}

footer {
  height: 250px;
  text-align: center;
}
