a {
  text-decoration: none !important;
}

button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

li {
  list-style-type: none;
}

h1 {
  color: white;
  font-size: 69px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  background: url("../img/line.png") 50% 100% no-repeat;
  padding-bottom: 40px;
}

h4 {
  color: white;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: auto;
  width: 90%;
  max-width: 620px;
  min-width: 440px;
}

h2 {
  color: #c59d5f;
  font-size: 51px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
  background: url("../img/line_golden.png") 50% 100% no-repeat;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

p {
  color: #4f4f4f;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  text-align: center;
  line-height: 28px;
  max-width: 485px;
  margin: 15px auto;
}

.title {
  position: relative;
  top: 20vh;
}

.block {
  padding-top: 80px;
  padding-bottom: 80px;
  background: white;
  min-height: 500px;
  text-align: center;
}

.block img {
  width: 100%;
}

.BG {
  height: 640px;
}

.star {
  margin-top: 15px;
}

header {
  height: 100vh;
  color: white;
  padding-top: 20px;
}

header img {
  width: 30%;
}

nav {
  display: inline-block;
  margin-top: 35px;
  text-align: right;
  float: right;
}

nav a {
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro';
}

nav a:hover {
  color: white;
}

nav a:focus {
  color: #c59d5f;
}

#france_for_you .star:before {
  left: calc(40% - 6px);
}

#advantage div {
  min-height: 220px;
}

#advantage img {
  width: 70px;
  margin-bottom: 30px;
}

#advantage p {
  margin-bottom: 30px;
}

#how_we_work_bottom img {
  height: 410px;
}

#how_we_work_bottom a {
  color: #2c3d97;
}

#how_we_work_bottom p a {
  text-decoration: underline !important;
}

#book {
  text-align: center;
}

#book h4 {
  margin-bottom: 40px;
}

#book a {
  background: #2c3d97;
  padding: 13px 26px;
  border-radius: 18px;
  color: white;
}

#book a:hover {
  background: white;
  color: #2c3d97;
}

footer {
  min-height: 250px;
  background: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
}

footer .bank {
  margin-bottom: 20px;
}

footer img {
  float: right;
  margin-right: 40px;
}

footer a {
  color: #2c3d97;
  font-size: 16px;
  text-decoration: underline !important;
}

footer ul {
  text-align: left;
}

footer ul li {
  margin-right: 7px;
}

footer .col {
  display: inline-block;
  margin-right: 17px;
  margin-left: 17px;
  margin-bottom: 30px;
}

footer .col p {
  margin-bottom: 0px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .col {
    display: block !important;
    width: 100%;
  }
}

#fb {
  background: url("../img/mesenger_sprite.png") 0 0;
  width: 26px;
  height: 26px;
}

#fb:hover {
  background: url("../img/mesenger_sprite.png") -26px 0;
}

#tw {
  background: url("../img/mesenger_sprite.png") 0 -26px;
  width: 26px;
  height: 26px;
}

#tw:hover {
  background: url("../img/mesenger_sprite.png") -26px -26px;
}

#vk {
  background: url("../img/mesenger_sprite.png") 0 -52px;
  width: 26px;
  height: 26px;
}

#vk:hover {
  background: url("../img/mesenger_sprite.png") -26px -52px;
}

#ig {
  background: url("../img/mesenger_sprite.png") 0 -78px;
  width: 26px;
  height: 26px;
}

#ig:hover {
  background: url("../img/mesenger_sprite.png") -26px -78px;
}
