body {
  background-color: white;
}

a {
  text-decoration: none !important;
}

button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

li {
  list-style-type: none;
}

header {
  background: url("../img/BG1.jpg") center bottom;
  height: 100vh;
  color: white;
}

h1 {
  color: white;
  font-size: 69px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
}

h4 {
  color: white;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: auto;
  width: 90%;
  max-width: 620px;
  min-width: 440px;
}

h2 {
  color: #c59d5f;
  font-size: 51px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
}

p {
  color: #4f4f4f;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  text-align: center;
}

.logo {
  font-size: 39px;
  font-family: 'Cuprum', sans-serif;
}

.logo:before {
  content: url("../img/logoW.png");
  position: relative;
  top: 20px;
}

nav a {
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro';
}

nav a:hover {
  color: white;
}

nav a:focus {
  color: #c59d5f;
}

.Our_advantage {
  height: 650px;
  background: url("../img/BG2.jpg");
}

.advantage {
  height: 660px;
  text-align: center;
}

.about_us {
  height: 640px;
  background: url("../img/BG3.jpg");
}

.about_us_bottom {
  height: 660px;
  text-align: center;
}

.how_we_work {
  height: 640px;
  background: url("../img/BG4.jpg");
}

.how_we_work_bottom {
  height: 660px;
  text-align: center;
}

.book {
  height: 640px;
  background: url("../img/BG5.jpg");
}

footer {
  height: 250px;
  text-align: center;
}
