.content {
  padding-top: 40px;
  padding-bottom: 75px;
  text-align: center;
}

.content .gold {
  background: url("../img/line_golden.png") 50% 100% no-repeat;
  margin-top: 40px;
  padding-bottom: 30px;
}

.content .img {
  height: 270px;
  max-width: 970px;
  background: url("../img/price_1.jpg") no-repeat center top;
  padding-top: 60px;
  margin-top: 15px;
}

.content .img p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 32px;
}

.content .img span {
  font-size: 16px;
  position: relative;
  top: 50px;
}

.content .bg2 {
  background: url("../img/price_2.jpg") no-repeat center top;
  width: 270px;
}

.content .bg3 {
  background: url("../img/price_3.jpg") no-repeat center top;
  width: 270px;
}

.content .bg4 {
  background: url("../img/price_4.jpg") no-repeat center top;
  width: 270px;
}

.content .arrow {
  background: url("../img/price_arrow.png") no-repeat 50% 60%;
  width: 80px;
  height: 270px;
  display: inline-block;
}

.content .flex-container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 50px;
}

.content .part3 b {
  margin-top: 60px;
  display: inline-block;
}

.content .part3 a {
  margin-top: 25px;
  display: inline-block;
  color: red;
  border: 2px solid red;
  border-radius: 23px;
  font-size: 19px;
  text-decoration: none !important;
  padding: 8px 19px;
}

.content .part3 a:hover {
  color: white;
  background: red;
  border: 2px solid red;
}

.content .star {
  margin-top: 5px;
  margin-bottom: 15px;
}

.content .part3 .flex-container {
  padding-bottom: 15px;
}

.content span {
  font-size: 19px;
}

.content h3 {
  color: #000a5f;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
}
