.content {
  padding-top: 35px;
}

.content .round_img {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: url("../img/review_pic1.jpg") bottom right -40px no-repeat;
  margin: 25px auto;
}

.content p {
  margin-bottom: 20px;
}

.content b {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.content b p {
  margin-bottom: 0px;
}

.content h2 {
  margin-bottom: 50px !important;
}

.content span {
  margin-top: 0px;
}
