@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/Gotham Pro Medium/Gotham Pro Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Reg.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold; }

a {
  text-decoration: none !important; }

button:focus, a:focus, input:focus, select:focus, a:after {
  outline: none !important; }

li {
  list-style-type: none; }

body {
  background-color: transparent; }

h2 {
  font-size: 52px; }

h5 {
  font-size: 16px; }

a:hover {
  color: #d39500; }

header {
  min-height: 120px;
  position: relative;
  z-index: 999; }
  header .col-md-4 {
    height: 100%; }
  header .icon_phone {
    position: relative; }
    header .icon_phone:before {
      content: url("../img/icon_phone.png");
      position: absolute;
      left: -20px;
      top: 10px; }
  header .icon_marker {
    position: relative; }
    header .icon_marker:before {
      content: url("../img/icon_marker.png");
      position: absolute;
      left: -20px;
      top: 10px; }
  header .icon_marker, header .icon_phone {
    margin-top: 40px;
    margin-left: 20%; }
  header span {
    display: block; }
  header .logo {
    text-align: center;
    padding-top: 10px; }

nav {
  width: 100%;
  z-index: 999;
  position: relative; }
  nav ul {
    margin: auto;
    background-color: #080425; }
  nav .arrow_down:after {
    content: url("../img/icon_arrow_down.png");
    position: absolute;
    right: 20px;
    top: 22px; }
  nav li {
    height: 77px;
    width: calc(100% / 6 - 4px);
    margin-right: 0 !important;
    text-align: center; }
    nav li:last-child {
      width: calc(100% / 6 + 0px);
      float: right; }
    nav li:hover {
      background-color: #211e3b; }
    nav li .submenu li {
      background-color: #211e3b;
      width: 100%; }
      nav li .submenu li:hover {
        background-color: #38354f; }
  nav a {
    height: 100%;
    width: 100%;
    font-family: MyriadPro;
    color: #f2f2f2; }

.dark {
  position: relative;
  left: 0;
  top: 0;
  width: calc(100vw - 20px);
  height: 100vh;
  z-index: 49; }

.slider {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  color: #ffffff; }
  .slider .text {
    position: absolute;
    top: 50vh;
    margin-left: 15vw;
    width: 45vw;
    max-width: 540px;
    z-index: 50; }
    .slider .text h2 {
      font-family: 'Playfair Display', serif; }
    .slider .text p {
      font-size: 18px; }
  .slider img {
    width: 100%;
    height: auto; }

.slider_box {
  min-height: 765px; }

.our_advantage {
  min-height: 680px;
  text-align: center; }

.about_us {
  background-color: gray;
  min-height: 550px;
  text-align: center; }

.fotoshoots {
  min-height: 1400px;
  text-align: center; }
  .fotoshoots .col-md-4 {
    height: 310px; }
    .fotoshoots .col-md-4 img {
      width: 100%; }
  .fotoshoots .text_a a {
    height: 130px;
    width: 70%;
    background-color: #ffffff;
    position: relative;
    top: -90px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
    color: #080425;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30%; }
    .fotoshoots .text_a a:hover {
      color: #d39500; }
  .fotoshoots .foto_place {
    width: 100%;
    height: 230px; }
  .fotoshoots .button_arrow {
    height: 45px;
    width: 45px;
    position: relative;
    margin-left: calc(30% - 45px);
    top: 0px;
    background: url("../img/button.jpg"); }
    .fotoshoots .button_arrow:hover {
      background: url("../img/button_hover.jpg"); }

.our_rooms {
  min-height: 680px;
  text-align: center; }
  .our_rooms .buttons div {
    padding: 0; }
  .our_rooms .buttons .button_1 {
    background: url("../img/icon_button-1.png") 75% 50% no-repeat, url("../img/icon_arrow_right.png") 55% 50% no-repeat;
    background-color: #fab91e; }
    .our_rooms .buttons .button_1:hover {
      background: url("../img/icon_button-1.png") 75% 50% no-repeat, url("../img/icon_arrow_right.png") 60% 50% no-repeat;
      background-color: #d39500; }
  .our_rooms .buttons .button_2 {
    background: url("../img/icon_button-2.png") 75% 50% no-repeat, url("../img/icon_arrow_right.png") 55% 50% no-repeat;
    background-color: #fab91e; }
    .our_rooms .buttons .button_2:hover {
      background: url("../img/icon_button-2.png") 75% 50% no-repeat, url("../img/icon_arrow_right.png") 60% 50% no-repeat;
      background-color: #d39500; }
  .our_rooms .buttons a {
    width: 100%;
    height: 140px;
    display: block;
    padding: 30px 0 0 4vw;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #080425; }

footer {
  min-height: 150px; }
  footer .col-sm-4 {
    height: 100%; }
  footer .icon_phone {
    position: relative; }
    footer .icon_phone:before {
      content: url("../img/icon_phone.png");
      position: absolute;
      left: -20px;
      top: 10px; }
  footer .icon_marker {
    position: relative; }
    footer .icon_marker:before {
      content: url("../img/icon_marker.png");
      position: absolute;
      left: -20px;
      top: 10px; }
  footer .icon_mail {
    position: relative; }
    footer .icon_mail:before {
      content: url("../img/icon_mail.png");
      position: absolute;
      left: -25px;
      top: 10px; }
  footer .icon_tian {
    position: relative; }
    footer .icon_tian:before {
      content: url("../img/icon_tian.png");
      position: absolute;
      left: -35px;
      top: 5px; }
  footer .icon_marker, footer .icon_phone, footer .icon_mail, footer .icon_tian, footer .tian {
    margin-top: 40px;
    margin-left: 20%; }
  footer span {
    display: block; }
