@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus,textarea:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 15px 15px 15px 15px;
	background-color: $color4;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	margin: 0px;
	font-family: "PFDasGroteskPro-Regular";
	font-size: 0.95vw;
}
button,input{
	font-size: 0.95vw;
}
textarea{
	font-size: 0.85vw;
}
img{
	width: 100%;
	max-width: 300px;
}
.content{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 100vh;
	float: right;
	padding-bottom: 15px;
}
.row1{
	display:flex;
	height: calc(50vw - 92.5px);//Высота строки
	width: 100%;
}
.row2{
	display:flex;
	height: calc(25vw - 46.25px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.row3{
	display:flex;
	height: calc(12.5vw - 23px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.col1{
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 50%;
	height: 100%;
}
.col2{
	display:flex;
	width: 50%;
	height: 100%;
}
.col3{
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 50%;
	height: 100%;
}
.box_xs{
	width: 50%;
	height: 50%;
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
}
.box_sm{
	width: 50%;
	height: 50%;
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	border-radius: 7px;
}
.box_lg{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 5px solid $color4;
	border-radius: 7px;
}
.bg{
	&:hover{
		filter: blur(1px);
		-webkit-filter: blur(1px);
		background-size:  105% 105% ;
	}
}
.human_info{
	cursor: default;
	.hidden{
		display: none;
		text-align: center;
		font-size: 0.9vw;
		color: white;
		width: 100%;
		height: 25%;
		background-color: rgba(0,0,0,0.3);
		position: relative;
		top: 75%;
		span{
			position: relative;
			// top: 5px;
		}
	}
	&:hover .hidden{
		display: block;
	}
}
.human_text{
	background-color: #1e1e1e;
	color: $color1;
	padding: 20px;
	// font-size: 1.15vw;
	p{
		margin: 0;
	}
}
.no_border{
	border: 0!important;
}
.map_info{
	width: calc(100% - 10px);
	// height: 37%;
	background-color: rgba(0,0,0,0.5);
	color: $color1;
	padding: 20px;
	// padding-top: 4vw;
	box-sizing: border-box;
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 102;
	// font-size: 1.15vw;
	border-radius: 2px;
	b{
		margin-bottom: 1.5vw;
		display: block;
	}
}

// .map-responsive{
// 	overflow:hidden;
// 	padding-bottom:100%;
// 	position:relative;
// 	height:0;
// 	// filter:saturate(16%);
// 	// filter: grayscale(100%);
// }
// .map-responsive iframe{
//     left:0;
//     top:0;
//     height:100%;
//     width:100%;
//     position:absolute;
// }
.map{
	position: relative;
	// background: url("../img/company5(5).jpg")50% 50% no-repeat;
	// background-size: auto;
}
// .map_logo{
// 	height: 63%;
// 	width: 100%;
// 	display: inline-block;
// 	img{
// 		position: relative;
// 		bottom:  calc(-10% - 0px);
// 		left: calc(45% - 32px);
// 		width: 64px;
// 	}
// }
// Form style--------------------------------
.company_form{
	background-color: $color2;
	color: $color1;
	padding: 20px;
	input{
		background-color: $color2;
		color: $color1;
		border: none;
		border-bottom: 1px solid #707070;
		// margin-top: 2px;
		// font-size: 1.1vw;
		font-family: "PFDasGroteskPro-Regular";
	}
	div{
		width: 100%;
	}
	span{
		float: right;
	}
	p{
		margin-top: 0px;
		margin-bottom: 1.5vw;
		display: flex;
		align-items: center;
		justify-content:space-between;
		span{
			font-size: 1.15vw;//1.4
			a{
				color: $color1;
			}
		}
	}
}
.InputName{
	margin-bottom: 1.5vw;
	input{
		width: calc(100% - 5.1vw);//(100% - 107px)
		float: right;
	}
}
.InputEmail{
	margin-bottom: 1.3vw;
	input{
		width: calc(100% - 8.1vw - 5px);//(100% - 203px)
		float: right;
	}
}
.InputText{
	textarea{
		width: calc(100% - 22px);
		height: calc(20vw - 73px);
		resize: none;
		background-color: $color2;
		border: 1px solid #707070;
		color: $color1;
		// font-size: 1.15vw;
		padding: 10px;
		font-family: "PFDasGroteskPro-Regular";
		&::placeholder{
			color: #707070;
		}
		&:focus::-webkit-input-placeholder {color: transparent}
		&:focus::-moz-placeholder          {color: transparent}
		&:focus:-moz-placeholder           {color: transparent}
		&:focus:-ms-input-placeholder      {color: transparent}
	}
}
.ButtonForm{
	background-color: $color2;
	color: $color1;
	border: 1px solid $color1;
	padding: 10px 50px;
	float: right;
	margin-top: calc(1vw + 10px);
	// font-size: 1.15vw;//20px
	font-family: "PFDasGroteskPro-Regular";
	cursor: pointer;
	&:hover{
			color: #5e5e5e;
			border: 1px solid #5e5e5e;
		}
}
// Form style--------------------------------END
// Text in the box
.text_box{
	// padding-top: 5px;
	background-color: $color6;
	// border-top: 6px solid $color4;
	box-sizing: border-box;
	padding: 20px;
	// font-size: 1.15vw;
	span{
		color: $color1;
		margin-bottom: 6px;
		display: block;
	}
	p{
		color: $color1;
		margin: 0px 0;
	}
}
.show_more{
	text-align: center;
	p{
		margin-top: calc(40% - 15px);

	}
	img{
		margin-top: 15px;
		width: 40%;
		height: auto;
	}
}

// Header---------------------------------------------
.logo{
	position: fixed;
	top: 20px;
	left: 20px;
	width: 125px;
	img{
		box-shadow: 0px -5px 70px -30px #000000;
	}
	&:after{
		content: url("../img/hover_icon1.png");
		position: absolute;
		right: 10px;
		bottom: 10px;
		visibility: hidden;
	}
	&:hover:after{
		visibility: visible;
	}
}
.buttons{
	position: fixed;
	bottom: 20px;
	left: -20px;
	ul{
		margin: 0;
	}
	a{
		color: $color6;
		display: block;
		border: 2px solid $color6;
		width: 125px;
		// height: 32px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		box-sizing: border-box;
		// white-space: nowrap;
		text-align: center;
		line-height: 14px;
		font-size: 15px;
		&:hover{
			color: #5e5e5e;
			border: 2px solid #5e5e5e;
		}
	}
	span{
		color: $color6;
		font-size: 13px;
		margin-top: 10px;
		display: block;
		a{
			border: none;
			text-decoration: underline!important;
			text-align: left;
			margin-top: 0;
			display: inline-block;
			font-size: 13px;
			padding-top: 0;
			padding-bottom: 0;
			width: auto;
			&:hover{
				color: #b3b2b2;
				border: none;
			}
		}
	}
}
// Header END----------------------------------------------
// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.content{
		width: calc(100vw - 240px);// Отступ контейнера от хедера
	}
	.row1{
		height: calc(50vw - 120px);//Высота строки
	}
	.row2{
		height: calc(25vw - 60px);//Высота строки
	}
	.buttons{
		a{
			width: 180px;
		}
		span{
			font-size: 16px;
			a{
				font-size: 16px;
			}
		}
	}
}
@media (min-width: 1025px) {
	.content_mobile,.but_tab{
		display: none!important;
	}
}
@media (max-width: 1024px) {
	body,button,input{
		font-size: 1.15vw;
	}
	textarea{
		font-size: 1.0vw;
	}
	.content,.but_lap{
		display: none!important;
	}
	.box_xs{
		width: calc(100% / 3);//33%Ширина Боксов
		height: calc(33vw - 61px);//Высота строки
	}
	.row1{
		height: calc(70vw - 185px);
		width: 100%;//99%
	}
	// .map_info{
	// 	// padding-top: 6vw;
	// 	font-size: 1.4vw;//2.6
	// }
	.map{
		border: none;
	}
	// .text_box{
	// 	font-size: 1.4vw;
	// }
	// .human_text{
	// 	font-size: 1.4vw;
	// }
	.human_info{
		.hidden{
			font-size: 1.12vw;
		}
	}
	// .company_form {
	// 	font-size: 1.4vw;
	// 	p{
	// 		span{
	// 			font-size: 1.4vw;
	// 		}
	// 	}
	// }
	// .ButtonForm{
	// 	font-size: 1.5vw;
	// }
	.InputName{
	input{
		width: calc(100% - 6vw);//(100% - 107px)
	}
}
.InputEmail{
	input{
		width: calc(100% - 10.4vw);//(100% - 203px)
	}
}
}
@media (max-width: 770px) {
	body,button,input{
		font-size: calc(2.20vw - 4px);//calc(2.0vw - 3px) 1.4vw 
	}
	textarea{
		font-size: 1.8vw;
	}
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 92.5px);//Высота строки
	}
	.row1{
		height: calc(100vw - 185px);
		width: 100%;
	}
	// .map_info{
	// 	// padding-top: 9vw;
	// 	font-size: 2.3vw;
	// }
	.text_box{
		// padding-top: 0px;
		// font-size: calc(2.1vw - 2px);
		padding: 15px;
	}
	.human_text{
		// font-size: calc(2.1vw - 2px);
		padding: 15px;
	}
	.human_info{
		.hidden{
			font-size: calc(2.10vw - 4px);
		}
	}
	.company_form{
		padding: 20px;//6vw
		// font-size: 2.3vw;
		input{
			width: 100%;
			margin-bottom: 6px;
			// font-size: 2.2vw;
		}
		// label{
		// 	font-size: 2.4vw;
		// }
		// button{
		// 	font-size: 2.4vw;
		// }
		// textarea{
		// 	font-size: 2.0vw;
		// }
		p{
			flex-direction:column;
			margin-bottom: 10px;
			span{
				font-size: 2.3vw;
				a{
					color: $color1;
					display: block;
				}
			}
		}
	}
}
@media (max-width: 680px) {
	// .box_xs{
	// 	width: 50%;//Ширина Боксов
	// 	height: calc(50vw - 92.5px);//Высота строки
	// }
}
// Mobile style
.content_mobile{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 15px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	// width: 50%;//Ширина Боксов
	// height: calc(50vw - 100px);//Высота строки
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	display:flex;
	border-radius: 7px;
	align-content: stretch;
}
//Mobile style---------------------------------------------------
.logo_mobile,.tel_mob{
	display: none;
}
@media (max-width: 500px) {
	.tel_mob{
		display: inline-block;
	}
	.tel_lap{
		display: none;
	}
	body,button,input{
		background-color: $color4;
		padding: 0;
		font-size: 4.4vw;//15px
	}
	textarea{
		height: 50px!important;
		font-size: 4.2vw;//15px
	}
	.content_mobile{
		width: calc(100vw - 0px);// Отступ контейнера от хедера
		padding-bottom: 0;
	}
	.row1{
		height: calc(100vw - 0px);
		width: 100%;
	}
	.box_xs{
		width: 100%;//Ширина Боксов
		// padding-left: 15px;
		height: calc(100vw - 2px);//Высота строки
		border: none;
		text-align: center;
		border-radius: 0px;
	}
	.kit2{
		// height: calc(100vw - 15px);//Высота строки
	}
	.hidden_mobile{
		display: none;
	}
	.box_info{
		// font-size: 18px;
		text-transform: uppercase;
		color: $color6;
		display: inline-block;
		margin: 30px auto;
		// padding-left: 20px;
		padding-right: 5px;
		width: 100%;
	}
	.text_box, .human_text{
		// font-size: 4.7vw;//19px
		// line-height: 20px;
		// padding: 20px 20px 20px 20px;
		padding: 6vw;
		text-align: left;
		p{
			margin: 0;
		}
	}
	.map_info{
		// font-size: 4.7vw;//4.6vw
		// padding-top: 15vw;
		padding: 6vw;//20px
		// padding-left: 35px;
		width: 100vw;
		top: 0;
		left: 0px;
		a{
			color: $color1;
			text-decoration: underline!important;
		}
	}
	.company_form{
		// padding-left: 35px;
		// font-size: 4.7vw;
		z-index: 110px;
		// input{
		// 	font-size: 4vw;
		// }
		// button{
		// 	// font-size: 4.7vw;
		// }
		// span{
		// 	a{
		// 		font-size: 4vw;
		// 	}
		// }
		// label{
		// 	font-size: 4.7vw;
		// }
		// textarea{
		// 	font-size: 3vw;
		// }
	}
	.box_lg{
		border: none;
		border-radius: 0px;
	}
	.human_info{
		.hidden{
			font-size: 4.4vw;
		}
	}
	// Mobile logo style----------------------
	// Mobile Menu
	#logo_button{
		// visibility: hidden;
		display: none;
		background-color: $color1;
		position: absolute;
		top: 0;
		left: 6vw;
		width: 115px;
		height: 115px;
		z-index: 300;
		img{
			margin-top: 6vw;
			margin-left: 7px;
		}
	}
	#logo_cross{
		position: absolute;
		top: 6vw;
		right: 6vw;
		z-index: 300;
		visibility: hidden;
		img{
			width: 40px;
			height: 40px;
		}
	}
	#logo{
		position: absolute;
		top: 6vw;
		left: 6vw;
		img{
			margin-left: 7px;
		}
	}
	.fixedattop{
		position: fixed; 
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 119;
		// background-color: transparent!important;
		visibility: hidden;
		#logo_button{
			visibility: visible;
			display: block;
		}
		#logo{
			visibility: hidden;
		}
		p{
			visibility: hidden;
		}
	}
	.logo_mobile_open{
		visibility: hidden!important;
		// background-color: transparent!important;
	}
	.logo_mobile_compact{
		background-color:$color1!important;
		box-shadow: 0px 2px 20px 0px #000000;
		visibility: visible;
		&:after{
			content: '';
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			height: calc(100vh - 100vw);
			width: 100%;
			background: rgba(0, 0, 0, .5);
			z-index: 104;
		}
		p{
			visibility: visible;
		}
		#logo_cross{
			visibility: visible;
		}
	}
	// Mobile Menu-------------END
	.logo_mobile{
		display: block;
		// width: calc(100vw - 6vw);//Ширина Боксов
		height: calc(100vw - 0px);//Высота строки
		padding: 6vw;//padding: 8vw 10px 8vw 20px;
		box-sizing: border-box;
		.content_mobile{
			float: right;
		}
		span{
			white-space: nowrap;
		}
		.f_chld{
			margin-bottom: 10vw;
			margin-top: 20vw;
		}
		.mtop{
			display: inline-block;
			margin-top: 5px;
		}
		img{
			width: 100px;
		}
		p{
			color: $color6;
			// font-size: 4.7vw;//15px
			margin-bottom: 6px;
			margin-top: 0px;
			a{
				text-decoration: underline!important;
				color: $color6;
				&:hover{
					color: lighten($color6,25%);
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.logo_mobile{
		// padding:  6vw;
		.f_chld{
			margin-bottom: 10px;
			// margin-top: 10px;
		}
	}
	.text_box{
		line-height: 20px;
		font-size: 18px;
	}
	.ButtonForm{
		padding: 3px 40px;
	}
	// .map_box{
	// 	border-top: 5px solid white;
	// }
}
// Mobile style ---------------------------------------------------END
// Show more pages -----------------------
.hidden_page{
	display: none;
}
.show_page{
	display: block;
}
.hide{
	visibility: hidden!important;
}
.show{
	visibility: visible!important;
}
// Show more pages ----------------------
.pointer_off{
	cursor: default;
}
// .body{
// 	position: relative;
// }
// #link{
// 	position: absolute;
// 	top: 500vh;
// }
// a{
// 	transition: .3s linear;
// }
