@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus,textarea:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 15px 15px 15px 15px;
	background-color: $color4;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	margin: 0px;
	font-family: "PFDasGroteskPro-Regular";
	font-size: 24px;
}
img{
	width: 100%;
	max-width: 300px;
}
.content{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 100vh;
	float: right;
	padding-bottom: 15px;
}
.row1{
	display:flex;
	height: calc(50vw - 92.5px);//Высота строки
	width: 100%;
}
.row2{
	display:flex;
	height: calc(25vw - 46.25px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.row3{
	display:flex;
	height: calc(12.5vw - 23px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.col1{
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 50%;
	height: 100%;
}
.col2{
	display:flex;
	width: 50%;
	height: 100%;
}
.col3{
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 50%;
	height: 100%;
}
.box_xs{
	width: 50%;
	height: 50%;
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
}
.box_sm{
	width: 50%;
	height: 50%;
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
}
.box_lg{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 5px solid $color4;
}
.bg{
	&:hover{
		filter: blur(1px);
		-webkit-filter: blur(1px);
		background-size:  105% 105% ;
	}
}
.human_info{
	.hide{
		display: none;
		text-align: center;
		font-size: 1.1vw;
		color: white;
		width: 100%;
		height: 30%;
		background-color: rgba(0,0,0,0.3);
		position: relative;
		top: 70%;
		span{
			position: relative;
			// top: 5px;
		}
	}
	&:hover .hide{
		display: block;
	}
}
.human_text{
	background-color: #1e1e1e;
	color: $color1;
	padding: 10px;
	font-size: 1.25vw;
}
.no_border{
	border: 0!important;
}
.map_info{
	width: 100%;
	height: 37%;
	background-color: rgba(0,0,0,0.5);
	color: $color1;
	padding: 10px;
	box-sizing: border-box;
}
.map{
	background: url("../img/company5(5).jpg")50% 50% no-repeat;
	background-size: auto;
}
// .map_logo{
// 	height: 63%;
// 	width: 100%;
// 	display: inline-block;
// 	img{
// 		position: relative;
// 		bottom:  calc(-10% - 0px);
// 		left: calc(45% - 32px);
// 		width: 64px;
// 	}
// }
// Form style--------------------------------
.company_form{
	background-color: $color2;
	color: $color1;
	padding: 25px;
	input{
		background-color: $color2;
		color: $color1;
		border: none;
		border-bottom: 1px solid #707070;
		margin-top: 2px;
		font-size: 20px;
	}
	div{
		width: 100%;
	}
	span{
		float: right;
	}
	p{
		margin-top: 0px;
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content:space-between;
		span{
			font-size: 1.4vw;
		}
	}
}
.InputName{
	margin-bottom: 1.5vw;
	input{
		width: calc(100% - 107px);
		float: right;
	}
}
.InputEmail{
	margin-bottom: 1.3vw;
	input{
		width: calc(100% - 203px);
		float: right;
	}
}
.InputText{
	textarea{
		width: calc(100% - 5px);
		height: calc(20vw - 73px);
		resize: none;
		background-color: $color2;
		border: 1px solid #707070;
		color: $color1;
		font-size: 16px;
		&::placeholder{
			color: $color1;
		}
	}
}
.ButtonForm{
	background-color: $color2;
	color: $color1;
	border: 1px solid $color1;
	padding: 10px 50px;
	float: right;
	margin-top: calc(3vw - 10px);
	font-size: 20px;
	&:hover{
			color: #5e5e5e;
			border: 1px solid #5e5e5e;
		}
}
// Form style--------------------------------END
// Text in the box
.text_box{
	// padding-top: 5px;
	background-color: $color6;
	border-top: 6px solid $color4;
	box-sizing: border-box;
	padding: 10px;
	font-size: 1.25vw;
	p{
		color: $color1;
		margin: 7px 0;
	}
}
.show_more{
	text-align: center;
	p{
		margin-top: calc(40% - 15px);

	}
	img{
		margin-top: 15px;
		width: 40%;
		height: auto;
	}
}

// Header---------------------------------------------
.logo{
	position: fixed;
	top: 21px;
	left: 20px;
	width: 125px;
	img{
		box-shadow: 0px -5px 70px -30px #000000;
	}
}
.buttons{
	position: fixed;
	bottom: 20px;
	left: -20px;
	ul{
		margin: 0;
	}
	a{
		color: $color6;
		display: block;
		border: 2px solid $color6;
		width: 130px;
		// height: 32px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		box-sizing: border-box;
		// white-space: nowrap;
		text-align: center;
		line-height: 14px;
		font-size: 15px;
		&:hover{
			color: #5e5e5e;
			border: 2px solid #5e5e5e;
		}
	}
}
// Header END----------------------------------------------
// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.content{
		width: calc(100vw - 240px);// Отступ контейнера от хедера
	}
	.row1{
		height: calc(50vw - 120px);//Высота строки
	}
	.row2{
		height: calc(25vw - 60px);//Высота строки
	}
	.buttons{
		a{
			width: 180px;
		}
	}
}
@media (min-width: 1025px) {
	.content_mobile{
		display: none!important;
	}
}
@media (max-width: 1024px) {
	.content{
		display: none;
	}
	.box_xs{
		width: 33%;//Ширина Боксов
		height: calc(33vw - 61px);//Высота строки
	}
	.row1{
		height: calc(70vw - 185px);
		width: 99%;
	}
	.map_info{
		font-size: 2.6vw;
	}
	.map{
		background: url("../img/company5_tab.jpg")50% 50% no-repeat;
		background-size: auto;
	}
	.text_box{
		font-size: 1.5vw;
	}
	.human_text{
		font-size: 1.5vw;
	}
	.human_info{
		.hide{
			font-size: 1.5vw;
		}
	}
}
@media (max-width: 770px) {
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 92.5px);//Высота строки
	}
	.row1{
		height: calc(100vw - 185px);
		width: 100%;
	}
	.map_info{
		// height: 45%;
	}
	.text_box{
		padding-top: 0px;
		font-size: calc(2.2vw - 2px);
	}
	.human_text{
		font-size: 2.3vw;
	}
	.human_info{
		.hide{
			font-size: 1.8vw;
		}
	}
	.company_form{
		padding-top: 15px;
		input{
			width: 100%;
			margin-bottom: 10px;
		}
		label{
			font-size: 3.1vw;
		}
		button{
			// padding: 5px 40px;
		}
		p{
			flex-direction:column;
			margin-bottom: 10px;
			span{
				font-size: 2.1vw;
			}
		}
	}
}
@media (max-width: 680px) {
	// .box_xs{
	// 	width: 50%;//Ширина Боксов
	// 	height: calc(50vw - 92.5px);//Высота строки
	// }
}
// Mobile style
.content_mobile{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 15px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	// width: 50%;//Ширина Боксов
	// height: calc(50vw - 100px);//Высота строки
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	display:flex;
	
	align-content: stretch;
}
//Mobile style---------------------------------------------------
.logo_mobile{
	display: none;
}
@media (max-width: 500px) {
	body{
		background-color: $color1;
		padding: 0;
	}
	textarea{
		height: 50px!important;
	}
	.content_mobile{
		width: calc(100vw - 0px);// Отступ контейнера от хедера
		padding-bottom: 0;
	}
	.row1{
		height: calc(100vw - 0px);
		width: 100%;
	}
	.box_xs{
		width: 100%;//Ширина Боксов
		height: calc(100vw - 2px);//Высота строки
		border: none;
		text-align: center;
	}
	.hide_mobile{
		display: none;
	}
	.box_info{
		font-size: 18px;
		text-transform: uppercase;
		color: $color6;
		display: inline-block;
		margin: 30px auto;
		padding-left: 20px;
		padding-right: 5px;
		width: 100%;
	}
	.text_box, .human_text{
		font-size: 19px;
		padding: 20px 30px 20px 40px;
		text-align: left;
	}
	.map_info{
		font-size: 3.9vw;
		padding: 20px;
	}
	.box_lg{
		border: none;
	}
	.human_info{
		.hide{
			font-size: 4.8vw;
		}
	}
	// Mobile logo style----------------------
	.logo_mobile{
		display: block;
		width: calc(100vw - 6vw);//Ширина Боксов
		height: calc(100vw - 0px);//Высота строки
		padding: 8vw 10px 8vw 6vw;
		box-sizing: border-box;
		.content_mobile{
			float: right;
		}
		span{
			white-space: nowrap;
		}
		.f_chld{
			margin-bottom: 11.2vw;
			margin-top: 20px;
		}
		.mtop{
			display: inline-block;
			margin-top: 5px;
		}
		img{
			width: 100px;
		}
		p{
			color: $color6;
			font-size: 15px;
			margin-bottom: 5px;
			margin-top: 5px;
			a{
				text-decoration: underline!important;
				color: $color6;
				&:hover{
					color: lighten($color6,25%);
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.logo_mobile{
		padding: 5vw 10px 8vw 6vw;
		.f_chld{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}
// Mobile style ---------------------------------------------------END