//font-family: 'Playfair Display', serif;
//font-family: Source Sans Pro;
//font-family: 'Cuprum', sans-serif;
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 10px 20px 20px 20px;
	background-color: $color2;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	// margin: 8px;
}
img{
	width: 100%;
	max-width: 300px;
}
.content{
	width: calc(100vw - 200px);// Отступ контейнера от хедера
	min-height: 100vh;
	float: right;
	padding-bottom: 20px;
}
.row1{
	display:flex;
	height: calc(50vw - 100px);//Высота строки
	width: 100%;
}
.row2{
	display:flex;
	height: calc(25vw - 50px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.col1{
	display:flex;
	flex-wrap: wrap;
	align-content: stretch;
	width: 50%;
	height: 100%;
}
.col2{
	display:flex;
	width: 50%;
	height: 100%;
}
.box_sm{
	width: 50%;
	height: 50%;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color2;
	&:hover{
		filter: blur(1px);
		-webkit-filter: blur(1px);
		background-size:  105% 105% ;
	}
}
.box_lg{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 5px solid $color2;
	&:hover{
		filter: blur(1px);
		-webkit-filter: blur(1px);
		background-size:  105% 105% ;
	}
}
// Text in the box
.text_box{
	// padding-top: 5px;
	background-color: $color3;
	border-top: 6px solid $color2;
	box-sizing: border-box;
	p{
		position: absolute;
		width: calc(25vw - 90px);
		margin: 0;
		color: $color1;
	}
}

// Pictures in the box
.bg1{
	background: url("../img/pic-1.png")center no-repeat;
	background-size: contain;
}
.bg2{
	background: url("../img/pic-4.png")center no-repeat;
	background-size: contain;
}

// Header---------------------------------------------
.logo{
	position: fixed;
	top: 24px;
	width: 125px;
}
.buttons{
	position: fixed;
	bottom: 10px;
	left: -12px;
	a{
		color: $color1;
		display: block;
		border: 2px solid $color1;
		width: 155px;
		height: 32px;
		padding-top: 5px;
		margin-bottom: 15px;
		box-sizing: border-box;
		white-space: nowrap;
		text-align: center;
		&:hover{
			color: #b3b2b2;
			border: 2px solid #b3b2b2;
		}

	}
}
// Header END----------------------------------------------
// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.content{
		width: calc(100vw - 255px);// Отступ контейнера от хедера
	}
	.row1{
		height: calc(50vw - 125px);//Высота строки
	}
	.row2{
		height: calc(25vw - 63px);//Высота строки
	}
}
@media (min-width: 1025px) {
	.content_mobile{
		display: none!important;
	}
}
@media (max-width: 1024px) {
	.content{
		display: none;
	}
	.box_xs{
		width: 33%;//Ширина Боксов
		height: calc(33vw - 65px);//Высота строки
	}
}
@media (max-width: 770px) {
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 100px);//Высота строки
	}
}
// Mobile style
.content_mobile{
	width: calc(100vw - 200px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 20px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	// width: 50%;//Ширина Боксов
	// height: calc(50vw - 100px);//Высота строки
	display: block;
	padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color2;
	display:flex;
	
	align-content: stretch;
}