@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 15px 15px 15px 15px;
	background-color: $color2;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	margin: 0px;
	font-family: "PFDasGroteskPro-Regular";
}
img{
	width: 100%;
	max-width: 300px;
}
.content{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 100vh;
	float: right;
	padding-bottom: 15px;
}
.row1{
	display:flex;
	height: calc(50vw - 92.5px);//Высота строки
	width: 100%;
}
.row2{
	display:flex;
	height: calc(25vw - 46.25px);//Высота строки
	width: 100%;
	.box_sm{
		height: 100%;
	}
}
.col1{
	display:flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 50%;
	height: 100%;
}
.col2{
	display:flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 50%;
	height: 100%;
}
.box_sm{
	width: 50%;
	height: calc(50% - 0px);//50%
	display: block;
	box-sizing: border-box;
	border: 5px solid $color2;
}
.box_lg{
	width: 100%;
	height: calc(100% - 0px);//100%
	box-sizing: border-box;
	border: 5px solid $color2;
	// border-radius: 8px;
}
.blur{
 	z-index: 99;
 	transition: ease 0.5s ;
 	// transition-property: background-size;

}
.inner_wrapper{
	z-index: 100;

}
.wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 7px;
}
.inner_wrapper,.blur{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
// Text in the box
.text_box{
	background-color: $color3;
	box-sizing: border-box;
	font-size: 1.11vw;//0.95
	border-radius: 7px;
	a{
		text-decoration: underline!important;
		color: $color1;
		&:hover{
			color: darken($color1,15%);
		}
	}
	p{
		margin: 20px;
		color: $color1;
	}
}
.show_more{
	text-align: center;
	color: $color1;
	background-color: $color3;
	p{
		margin-top: calc(40% - 15px);
	}
	img{
		margin-top: 15px;
		width: 37%;
		height: auto;
	}
}
.box_info{
	font-size: 1.2vw;
	text-transform: uppercase;
	color: $color6;
	display: flex;
	padding: 20px;//0.9vw
	text-align: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	flex-direction:column;
	align-items:center;
	justify-content: space-between;
}
.tags{
	text-transform: lowercase;
	position: absolute;
	bottom: 20px;
	left: 20px;
	visibility: hidden;
	z-index: 121;
	a{
		color: $color1;
		margin-left: 5px;
		background-color: gray;
		border-radius: 4px;
		padding: 1px 4px 2px 4px;
		line-height: 22px;
		cursor: default;
		&:hover{
			background-color: #323131;
		}
	}
}
.white_text{
	color: $color1!important;
}
// Header---------------------------------------------
.logo{
	position: fixed;
	top: 21px;
	left: 20px;
	width: 125px;
}
.buttons{
	position: fixed;
	bottom: 20px;
	left: -20px;

	ul{
		margin: 0;
	}
	a{
		color: $color1;
		display: block;
		border: 2px solid $color1;
		border-radius: 2px;
		width: 125px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		box-sizing: border-box;
		text-align: center;
		line-height: 16px;
		font-size: 15px;
		&:hover{
			color: #b3b2b2;
			border: 2px solid #b3b2b2;
		}
	}
	span{
		color: $color1;
		font-size: 13px;
		margin-top: 15px;
		display: block;
		// text-align: center;
		a{
			border: none;
			text-decoration: underline!important;
			text-align: left;
			margin-top: 0;
			display: inline-block;
			font-size: 13px;
			padding-top: 0;
			&:hover{
				color: #b3b2b2;
				border: none;
			}
		}
	}
}
// Header END----------------------------------------------
// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.content{
		width: calc(100vw - 240px);// Отступ контейнера от хедера
	}
	.row1{
		height: calc(25vw + 25vw - 120px);//Высота строки
	}
	.row2{
		height: calc(25vw - 60px);//Высота строки
	}
	.buttons{
		a{
			width: 180px;
		}
		span{
			font-size: 16px;
			a{
				font-size: 16px;
			}
		}
	}
	.kit1{
		border-top: 7px solid $color2;
		border-bottom: 6px solid $color2;
		border-radius: 10px;
	}
	.kit2{
		border-top: 6px solid $color2;
	}
}
@media (min-width: 1025px) {
	.content_mobile{
		display: none!important;
	}
}
@media (max-width: 1024px) {
	.content,#page2{
		display: none!important;
	}
	.box_xs{
		width:calc(100% / 3 );//33%Ширина Боксов
		height: calc(33vw - 59px);//61 Высота строки
	}
	.box_info{
		font-size: 1.5vw;
		padding: 15px;
	}
	.text_box{
		display: block;
		text-align: left!important;
		font-size: 1.3vw;
		p{
			margin: 15px;
		}
	}
	.kit1{
		border-top: 7px solid $color2;
		border-bottom: 6px solid $color2;
		border-radius: 10px;
	}
	.kit2{
		border-top: 6px solid $color2;
	}
}
@media (max-width: 770px) {
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 92.5px);//Высота строки
	}
	.box_info{
		font-size: 1.9vw;
		padding: 10px;
	}
	.text_box{
		font-size: 1.7vw;
		p{
			margin: 10px;
		}
	}
}
// Tablet style----------------------------------------------
.content_mobile{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 15px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	display: block;
	box-sizing: border-box;
	border: 5px solid $color2;
}
//Mobile style---------------------------------------------------
// .logo_mobile{
// 	display: none;
// }
// Отключение ховера у мобильных устройств
@media (min-width: 500px){
	.wrapper{
		&:hover .blur{
			// filter: blur(3px);
			// -webkit-filter: blur(3px);
			// background-size:  105% 105% ;
			transform: scale(1.05);
		}
		&:hover .tags{
			visibility: visible;
		}
	}
	.logo_mobile{
		display: none;
	}
}
@media (max-width: 500px) {
	body{
		padding: 0;
	}
	.content_mobile{
		width: calc(100vw - 0px);// Отступ контейнера от хедера
		padding-bottom: 0;
	}
	.box_xs{
		width: 100%;//Ширина Боксов
		height: calc(100vw - 0px);//Высота строки
		border: none;
		text-align: center;
		border-radius: 0;
		display:flex;
		text-align: center;
		align-content: stretch;
	}
	.show_more{
		display: block;
	}
	.hide_mobile{
		display: none;
	}
	.box_info{
		font-size: 4.5vw;//18px
		padding: 20px 20px 20px 20px;
	}
	.tags{
		font-size: 4.5vw

	}
	// Mobile logo style----------------------
	// Mobile Menu
	#logo_button{
		// visibility: hidden;
		display: none;
		background-color: $color6;
		position: absolute;
		top: 0;
		left: 6vw;
		width: 115px;
		height: 115px;
		z-index: 300;
		img{
			margin-top: 6vw;
			margin-left: 7px;
		}
	}
	#logo_cross{
		position: absolute;
		top: 6vw;
		right: 6vw;
		z-index: 300px;
		visibility: hidden;
		img{
			width: 40px;
			height: 40px;
		}
	}
	#logo{
		position: absolute;
		top: 6vw;
		left: 6vw;
		img{
			margin-left: 7px;
		}
	}
	.fixedattop{
		position: fixed; 
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 119;
		// background-color: transparent!important;
		// background: none;
		visibility: hidden;
		#logo_button{
			visibility: visible;
			display: block;
		}
		#logo{
			visibility: hidden;
		}
		p{
			visibility: hidden;
		}
	}
	.logo_mobile_open{
		visibility: hidden!important;
		background-color: transparent!important;
	}
	.logo_mobile_compact{
		background-color:$color6!important;
		box-shadow: 0px 2px 20px 0px #000000;
		visibility: visible;
		&:after{
			content: '';
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			height: calc(100vh - 100vw);
			width: 100%;
			background: rgba(0, 0, 0, .5);
			z-index: 104;
		}
		p{
			visibility: visible;
		}
		#logo_cross{
			visibility: visible;
		}
	}
	// Mobile Menu-------------END
	.logo_mobile{
		// display: block;
		height: calc(100vw - 0px);//Высота строки
		padding: 6vw;
		box-sizing: border-box;
		background-color: $color6;
		.content_mobile{
			float: right;
		}
		span{
			white-space: nowrap;
		}
		.f_chld{
			margin-bottom: 6vw;
			margin-top: 20vw;
		}
		.mtop{
			display: inline-block;
			margin-top: 5px;
		}
		img{
			width: 100px;
		}
		p{
			color: $color1;
			font-size: 4.4vw;//15px
			margin-bottom: 5px;
			margin-top: 5px;
			a{
				text-decoration: underline!important;
				color: $color1;
				&:hover{
					color: darken($color1,15%);
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.logo_mobile{
		.f_chld{
			margin-bottom: 10px;
		}
	}
}
// Mobile style ---------------------------------------------------END
// Show more pages -----------------------
.hide_page{
	display: none;
}
.show_page{
	display: block;
}
.show{
	visibility: visible!important;
}
.hide{
	visibility: hidden!important;
}
// Show more pages ---------------
#page2{
	margin-top: -15px;
}
