@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 15px 15px 15px 15px;
	background-color: $color4;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	margin: 0px;
	font-family: "PFDasGroteskPro-Regular";
}
img{
	width: 100%;
}
// Text in the box
.text_box{
	background-color: $color3;
	border-top: 6px solid $color4;
	box-sizing: border-box;
	font-size: 24px;//1.3vw
	padding: 5px 10px;
	p{
		color: $color1;
		text-align: left;
		margin-left: 10px;
		margin-right: 10px;

		b{
			margin-bottom: 40px;
			display: inline-block;
		}
	}
}
// Header---------------------------------------------
.logo{
	position: fixed;
	top: 21px;
	left: 20px;
	width: 125px;
}
.back_arrow{
	position: fixed;
	top: 270px;
	left: 50px;
	width: 60px;
}
.buttons{
	position: fixed;
	bottom: 20px;
	left: -20px;
	ul{
		margin: 0;
	}
	a{
		color: $color2;
		display: block;
		border: 2px solid $color2;
		width: 130px;
		// height: 32px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		box-sizing: border-box;
		// white-space: nowrap;
		text-align: center;
		line-height: 16px;
		font-size: 15px;
		&:hover{
			color: #b3b2b2;
			border: 2px solid #b3b2b2;
		}
	}
}
.back_arrow_mobile{
	width: 60px;
}
.logo_mobile_black{
	img{
		width: 100px;
	}
}
// Header END----------------------------------------------
// Tablet style----------------------------------------------
.content_mobile{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 15px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	width: 25%;//Ширина Боксов
	height: calc(25vw - 60px);//Высота строки
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color4;
	display:flex;
	text-align: center;
	align-content: stretch;
}

// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.back_arrow{
		left: 80px;
	}
	.content_mobile{
		width: calc(100vw - 240px);// Отступ контейнера от хедера
	}
	.buttons{
		a{
			width: 180px;
		}
	}
}
@media (max-width: 1359px) {
	.box_xs{
		width: 33.3%;//Ширина Боксов
		height: calc(33.3vw - 61.61px);//Высота строки 46.25 для 25%
	}
}
@media (max-width: 901px) {
	.text_box{
		font-size: 3.1vw;
	}
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 92.49px);//Высота строки 46.25 для 25%
	}
}
// Mobile style--------------------------------------------------
.logo_mobile{
	display: none;
}
@media (max-width: 550px) {
	body{
		padding: 0;
	}
	.text_box{
		font-size: 4.3vw;
		padding-left: 30px;
	}
	.content_mobile{
		width: calc(100vw - 0px);// Отступ контейнера от хедера
		padding-bottom: 0;
	}
	.box_xs{
		width: 100%;//Ширина Боксов
		height: calc(100vw - 2px);//Высота строки
		border: none;
		text-align: center;
	}
	.hide_mobile{
		display: none;
	}
	// .box_info{
	// 	font-size: 18px;
	// 	text-transform: uppercase;
	// 	color: $color6;
	// 	display: inline-block;
	// 	margin: 30px auto;
	// 	padding-left: 20px;
	// 	padding-right: 5px;
	// 	width: 100%;
	// }
	// Mobile logo style----------------------
	.logo_mobile{
		width: calc(100vw - 6vw);//Ширина Боксов
		height: calc(100vw - 0px);//Высота строки
		padding: 8vw 20px 8vw 6vw;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.content_mobile{
			float: right;
		}
		h1{
			color: $color2;
			font-size: 8.0vw;
		}
		span{
			white-space: nowrap;
		}
		.f_chld{
			margin-bottom: 11.2vw;
			margin-top: 20px;
		}
		.mtop{
			display: inline-block;
			margin-top: 5px;
		}
		p{
			color: $color1;
			font-size: 15px;
			margin-bottom: 5px;
			margin-top: 5px;
			a{
				text-decoration: underline!important;
				color: $color1;
				&:hover{
					color: darken($color1,15%);
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.logo_mobile{
		padding: 5vw 10px 8vw 6vw;
		.f_chld{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}
// Mobile style ---------------------------------------------------END
// Show more pages -----------------------
.hide_page{
	display: none;
}
.show_page{
	display: block;
}