.bg1{
	background: url("../img/company.png")center no-repeat;
	background-size: contain;
}
.bg2{
	background: url("../img/company1.png")center no-repeat;
	background-size: contain;
}
.bg3{
	background: url("../img/company3.png")center no-repeat;
	background-size: contain;
}
.bg4{
	background: url("../img/company3.png")center no-repeat;
	background-size: contain;
}
.bg5{
	background: url("../img/company2.jpg")center no-repeat;
	background-size: contain;
}
.bg6{
	background: url("../img/Human_cross.jpg")center no-repeat;
	background-size: contain;
}
.bg7{
	background: url("../img/presentation.jpg")center no-repeat;
	background-size: contain;
}