.bg1{
	background: url("../img/product_1_main.jpg")center no-repeat;
	background-size: contain;
}
.bg2{
	background: url("../img/product_2_main.jpg")center no-repeat;
	background-size: contain;
}
.bg3{
	background: url("../img/product_3_main.jpg")center no-repeat;
	background-size: contain;
}
.bg4{
	background: url("../img/product_4_main.jpg")center no-repeat;
	background-size: contain;
}
.bg5{
	background: url("../img/product_5_main.jpg")center no-repeat;
	background-size: contain;
}
.bg6{
	background: url("../img/product_6_main.jpg")center no-repeat;
	background-size: contain;
}
.bg7{
	background: url("../img/product_7_main.jpg")center no-repeat;
	background-size: contain;
}
.bg8{
	background: url("../img/product_8_main.jpg")center no-repeat;
	background-size: contain;
}
.bg9{
	background: url("../img/product_9_main.jpg")center no-repeat;
	background-size: contain;
}
.bg10{
	background: url("../img/product_10_main.jpg")center no-repeat;
	background-size: contain;
}
.bg11{
	background: url("../img/product_11_main.jpg")center no-repeat;
	background-size: contain;
}
.bg12{
	background: url("../img/product_12_main.jpg")center no-repeat;
	background-size: contain;
}
.bg13{
	background: url("../img/product_13_main.jpg")center no-repeat;
	background-size: contain;
}
.bg14{
	background: url("../img/product_14_main.jpg")center no-repeat;
	background-size: contain;
}