@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "PFDasGroteskPro-Regular"; 
// адрес шрифта
src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
$color1: #ffffff;//white for text
$color2: #1a1a1a;//Black for BG
$color3: #262626;//Dark gray for windows
$color4: #f2f2f2;//white for BG
$color6: #000000;//black for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// -------------------------------------------------------------------
body{
	padding: 15px 15px 15px 15px;
	background-color: $color2;
	// div{border: 1px solid red;}
	box-sizing: border-box;
	margin: 0px;
	font-family: "PFDasGroteskPro-Regular";
}
img{
	width: 100%;
}
// Text in the box
.text_box{
	background-color: $color3;
	border-top: 6px solid $color2;
	box-sizing: border-box;
	font-size: 1.3vw;//1.3vw
	padding: 20px;//1vw
	flex-direction:column;
	align-items:left;
	justify-content: space-between;
	p{
		color: $color1;
		text-align: left;
		margin: 0;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		// text-overflow:ellipsis;
		// margin-left: 10px;
		// margin-right: 10px;


		b{
			// margin-bottom: 1.4vw;
			display: inline-block;
			text-transform: uppercase;
		}
	}
}
.tags{
	// display: flex;
	// flex-direction:row;
	// justify-content:space-around;
	text-align: left;
	font-size: 1.3vw;
	z-index: 5;
	padding-top: 2px;
	// a{
	// 	color: $color6;
	// 	padding: 0 1.0vw 0 0vw;
	// 	cursor: default;
	// 	&:hover{
	// 		color: $color1;
	// 	}
	// }
	a{
		color: $color1;
		// margin-left: -4px;
		margin-right: 1.0vw;
		display: inline-block;
		margin-bottom: 3px;
		background-color: black;
		border-radius: 4px;
		padding: 1px 4px 2px 4px;
		text-transform: lowercase;
		// line-height: 15px;
		cursor: default;
		white-space: nowrap;
		&:hover{
			background-color: #323131;
		}
	}
}

// Header---------------------------------------------
.logo{
	position: fixed;
	top: 21px;
	left: 20px;
	width: 125px;
}
.back_arrow{
	position: fixed;
	top: 165px;//215px
	left: 20px;//50px
	width: 125px;//60px
	height: calc(100vh - 165px - 96px - 30px - 100px);
	text-align: center;
	a{
		// width: 125px;//60px
		display: block;
		height: 100%;
		&:hover img{
			width: 65px;
		}
	}
	img{
		width: 60px;
		margin-top: 50px;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;;
		-moz-transition: all 0.3s ease-out;;
		-o-transition: all 0.3s ease-out;;
	}
}
.buttons{
	position: fixed;
	bottom: 20px;
	left: -20px;
	ul{
		margin: 0;
	}
	a{
		color: $color1;
		display: block;
		border: 2px solid $color1;
		width: 125px;
		// height: 32px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		box-sizing: border-box;
		// white-space: nowrap;
		text-align: center;
		line-height: 16px;
		font-size: 15px;
		&:hover{
			color: #b3b2b2;
			border: 2px solid #b3b2b2;
		}
	}
	span{
		color: $color1;
		font-size: 13px;
		margin-top: 10px;
		display: block;
		a{
			border: none;
			text-decoration: underline!important;
			text-align: left;
			margin-top: 0;
			display: inline-block;
			font-size: 13px;
			padding-top: 0;
			padding-bottom: 0;
			width: auto;
			&:hover{
				color: #b3b2b2;
				border: none;
			}
		}
	}
}
// Header END----------------------------------------------
// Tablet style----------------------------------------------
.content_mobile{
	width: calc(100vw - 185px);// Отступ контейнера от хедера
	min-height: 90vh;
	float: right;
	padding-bottom: 15px;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.box_xs{
	width: 50%;//Ширина Боксов
	height: calc(50vw - 120px);//Высота строки
	display: block;
	// padding: 10px;
	box-sizing: border-box;
	border: 5px solid $color2;
	display:flex;
	text-align: center;
	align-content: stretch;
	border-radius: 7px;
}
.box_xl{
	width: 100%!important;
	height: calc(100vw - 240px)!important;
}

//Mobile style---------------------------------------------------
.logo_mobile{
	display: none;
}
// Adaptive
@media (min-width: 1360px) {
	.logo{
		width: 180px;
	}
	.back_arrow{
		left: 20px;//80px
		top: 220px;//270px
		width: 180px;//не было
		height: calc(100vh - 220px - 96px - 30px);// не было 
	}
	.content_mobile{
		width: calc(100vw - 240px);// Отступ контейнера от хедера
	}
	.buttons{
		a{
			width: 180px;
		}
		span{
			font-size: 16px;
			a{
				font-size: 16px;
			}
		}
	}
}
@media (max-width: 1359px) {
	.box_xs{
		width: 50%;//Ширина Боксов
		height: calc(50vw - 92.5px);//Высота строки
	}
	.box_xl{
		width: 100%!important;
		height: calc(100vw - 185px)!important;
	}
}
@media (min-width: 1025px) {
	.but_tab{
		display: none!important;
	}
}
@media (max-width: 1024px) {
	.but_lap{
		display: none!important;
	}
}
	
@media (max-width: 1201px) {
	.text_box{
		font-size: 1.5vw;
	}
}
// Mobile style--------------------------------------------------
@media (max-width: 680px) {
	.bg1{
		order: 0;
	}
	.bg2,.bg3,.bg4,.bg5,.bg6,.bg7,.bg8,.bg9,.bg10,.bg11,.bg12,.bg13,.bg14,.bg15,.bg16,.bg17,.bg18,.bg19,.text_box{
		order: 1;
	}
	body{
		padding: 0;
	}
	.shadow1{
		&:before{
			content: "";
			position: absolute;
			height: 1.5em;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 5;
			background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.0) 100%);
		}
	}
	.shadow2{
		&:after{
			content: "";
			position: absolute;
			height: 1.5em;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 5;
			background: linear-gradient(to top,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.0) 100%);
		}
	}
	.text_box{
		font-size: 4.3vw;
		padding: 20px;
		// padding-left: 35px;
		.shadow{
			height: calc(17.0em + 0px);//calc(100% - (3.5vw*2 + 7px*2) - 4.3vw);
			width: 100%;
			position: relative;
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	height: 1.5em;
			// 	bottom: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	z-index: 5;
			// 	background: linear-gradient(to top,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.0) 100%);
			// }
			// &:before{
			// 	content: "";
			// 	position: absolute;
			// 	height: 1.5em;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	z-index: 5;
			// 	background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.0) 100%);
			// }
		}
		p{
			display: block;
			height: 17em;
			width: 100%;
			overflow: scroll;
			// padding-bottom: 5px;
			// z-index: 2;
			position:relative;
			// z-index:-1;
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	height: 10%;
			// 	bottom: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	z-index: 5;
			// 	background: linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.0) 100%,rgba(255,255,255,0) 16%);
			// }
			// line-height: 1.1;
		}
	}
	.tags{
		font-size: 3.5vw;
		overflow: hidden;
		display: block;
		width: 100%;
		height: calc(3.5vw*2 + 7px*2);
	}
	.content_mobile{
		width: calc(100vw - 0px);// Отступ контейнера от хедера
		padding-bottom: 0;
	}
	.box_xs{
		width: 100%;//Ширина Боксов
		height: calc(100vw - 2px);//Высота строки
		border: none;
		text-align: center;
		border-radius: 0px;
	}
		.box_xl{
		width: 100%!important;
		height: calc(100vw - 0px)!important;
	}
	.hide_mobile{
		display: none;
	}
	// .box_info{
	// 	font-size: 18px;
	// 	text-transform: uppercase;
	// 	color: $color6;
	// 	display: inline-block;
	// 	margin: 30px auto;
	// 	padding-left: 20px;
	// 	padding-right: 5px;
	// 	width: 100%;
	// }
	// Mobile logo style----------------------
	// Mobile Menu
	#logo_button{
		// visibility: hidden;
		display: none;
		background-color: $color2;
		position: absolute;
		top: 0;
		left: 6vw;
		width: 115px;
		height: 115px;
		z-index: 300;
		img{
			margin-top: 6vw;
			margin-left: 7px;
		}
	}
	#logo_cross{
		position: absolute;
		top: 6vw;
		right: 6vw;
		z-index: 300;
		visibility: hidden;
		img{
			width: 40px;
			height: 40px;
		}
	}
	#logo{
		position: absolute;
		top: 6vw;
		left: 6vw;
		img{
			margin-left: 7px;
		}
	}
	.fixedattop{
		position: fixed; 
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 119;
		// background-color: transparent!important;
		visibility: hidden;
		#logo_button{
			visibility: visible;
			display: block;
		}
		#logo{
			visibility: hidden;
		}
		p,h1{
			visibility: hidden;
		}

	}
	.logo_mobile_open{
		visibility: hidden!important;
		background-color: transparent!important;
	}
	.logo_mobile_compact{
		background-color:$color2!important;
		box-shadow: 0px 2px 20px 0px #000000;
		visibility: visible;
		&:after{
			content: '';
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			height: calc(100vh - 100vw);
			width: 100%;
			background: rgba(0, 0, 0, .5);
			z-index: 104;
		}
		h1{
			visibility: visible!important;
			// position: absolute;
			// top: calc(6vw + 55px);
		}
		#logo_cross{
			visibility: visible;
		}
	}
	.logo_mobile{
		display: block;
		// width: calc(100vw - 6vw);//Ширина Боксов
		height: calc(100vw - 0px);//Высота строки
		padding: 8vw 20px 8vw 6vw;
		box-sizing: border-box;
		.content_mobile{
			float: right;
		}
		h1{
			color: $color1;
			font-size: 8.0vw;
			margin-top: 20vw;
			text-transform: uppercase;
		}
		p{
			visibility: hidden;
		}
		span{
			white-space: nowrap;
		}
		.f_chld{
			margin-bottom: 11.2vw;
			margin-top: 20px;
		}
		.mtop{
			display: inline-block;
			margin-top: 5px;
		}
		img{
			width: 100px;
		}
		p{
			color: $color1;
			font-size: 15px;
			margin-bottom: 5px;
			margin-top: 5px;
			a{
				text-decoration: underline!important;
				color: $color1;
				&:hover{
					color: darken($color1,15%);
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.logo_mobile{
		padding: 5vw 10px 8vw 6vw;
		.f_chld{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}
// Mobile style ---------------------------------------------------END
// Kit
.product_team{
	display: block;
	.tags{
		display: block;
		// height: calc(10% - 20px);
		// margin-bottom: 10%;
	}
	.names{
		width: 100%;
		height: calc(100% - 32px);
		display: flex;
		flex-direction: column;
		flex-wrap:wrap;
		align-content:flex-start;

		div{
			width: 45%;
			margin: 1vw 4% 1vw 0%; 
			text-align: left;
			color: $color1;
		}
	}
}
// Show more pages -----------------------
.hide_page{
	display: none;
}
.show_page{
	display: block;
}
.hide{
	visibility: hidden!important;
}
.show{
	visibility: visible!important;
}
// Show more pages -----------------------
