/* $default-font: "Proxima Nova", sans-serif */
/* $base-width: 1200 */
/* $border-color: #dddddd */
/* $main-color: #6c00ff */
/* $second-color: #e7e7e7 */
/* $sale-label-color: #ffcc00 */
/* $new-label-color: #e20668 */
/* $actual-label-color: #a100c3 */
/* $main-bgc: #000 */
/* $city-color: rgba(246, 224, 192, 1) */
/* $events-color: rgba(179, 192, 226, 1) */
/* $articles-color: rgba(178, 213, 178, 1) */
/* $report-color: #decbd7 */
:root {
	--defaultFont: "SFUIDisplay", sans-serif;
	--baseWidth: 980px;
	--mainColor: #212e7d;
	--secondColor: #fff;
	--footerBg: #262626;

	--borderColor: #e7e7e7;
	--boxShadow: 3px 3px 4px rgba(0,0,0, .1);
}
html {
	font-size: 100%;
}
input, a, button, textarea, select {
	outline: none;
}
*::-webkit-input-placeholder {
	color: #262626;
	opacity: .4;
}
*:-moz-placeholder {
	color: #262626;
	opacity: .4;
}
*::-moz-placeholder {
	color: #262626;
	opacity: .4;
}
*:-ms-input-placeholder {
	color: #262626;
	opacity: .4;
}
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select, input[type="submit"], button {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	font: inherit;
}
input[type="color"]:focus::-webkit-input-placeholder, input[type="date"]:focus::-webkit-input-placeholder, input[type="datetime"]:focus::-webkit-input-placeholder, input[type="datetime-local"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="month"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="time"]:focus::-webkit-input-placeholder, input[type="url"]:focus::-webkit-input-placeholder, input[type="week"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, input[type="submit"]:focus::-webkit-input-placeholder, button:focus::-webkit-input-placeholder {
			opacity: 0;
}
input[type="color"]:focus:-moz-placeholder, input[type="date"]:focus:-moz-placeholder, input[type="datetime"]:focus:-moz-placeholder, input[type="datetime-local"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="month"]:focus:-moz-placeholder, input[type="number"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, input[type="search"]:focus:-moz-placeholder, input[type="tel"]:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input[type="time"]:focus:-moz-placeholder, input[type="url"]:focus:-moz-placeholder, input[type="week"]:focus:-moz-placeholder, input:not([type]):focus:-moz-placeholder, textarea:focus:-moz-placeholder, select:focus:-moz-placeholder, input[type="submit"]:focus:-moz-placeholder, button:focus:-moz-placeholder {
			opacity: 0;
}
input[type="color"]:focus::-moz-placeholder, input[type="date"]:focus::-moz-placeholder, input[type="datetime"]:focus::-moz-placeholder, input[type="datetime-local"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="month"]:focus::-moz-placeholder, input[type="number"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="search"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, input[type="text"]:focus::-moz-placeholder, input[type="time"]:focus::-moz-placeholder, input[type="url"]:focus::-moz-placeholder, input[type="week"]:focus::-moz-placeholder, input:not([type]):focus::-moz-placeholder, textarea:focus::-moz-placeholder, select:focus::-moz-placeholder, input[type="submit"]:focus::-moz-placeholder, button:focus::-moz-placeholder {
			opacity: 0;
}
input[type="color"]:focus:-ms-input-placeholder, input[type="date"]:focus:-ms-input-placeholder, input[type="datetime"]:focus:-ms-input-placeholder, input[type="datetime-local"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="month"]:focus:-ms-input-placeholder, input[type="number"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, input[type="search"]:focus:-ms-input-placeholder, input[type="tel"]:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input[type="time"]:focus:-ms-input-placeholder, input[type="url"]:focus:-ms-input-placeholder, input[type="week"]:focus:-ms-input-placeholder, input:not([type]):focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, input[type="submit"]:focus:-ms-input-placeholder, button:focus:-ms-input-placeholder {
			opacity: 0;
}
/* #{$all-text-inputs} */
/* 	&:not(.form-control):not(.comment-form__text) */
/* 		&::-webkit-input-placeholder */
/* 			color: #fff */
/* 			opacity: 1 */
/* 		&:-moz-placeholder */
/* 			color: #fff */
/* 			opacity: 1 */
/* 		&::-moz-placeholder */
/* 			color: #fff */
/* 			opacity: 1 */
/* 		&:-ms-input-placeholder */
/* 			color: #fff */
/* 			opacity: 1 */
*, *:after, *:before {
	box-sizing: border-box;
}
*[v-cloak] {
	display: none !important;
}
address {
	font-weight: inherit;
}
body {
	min-width: 960px;
	line-height: 1.2;
	font-family: "SFUIDisplay", sans-serif;
	font-family: var(--defaultFont);
	font-weight: 500;
	font-size: 16px;
	background: #fff;
	background: var(--secondColor);
	color: #000;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
body.inner #content {
			margin: 0;
}
select {
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
}
select::-ms-expand {
		display: none;
}
.head, .footer {
	flex: none;
}
#content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	margin: 1.2rem 0;
}
#content > .wrapper {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		/* margin: 0 */
		/* width: 100% */
}
a {
	color: #000;
	font-weight: inherit;
	text-decoration: none;
}
a[href^="tel"], a[href^="mail"] {
		white-space: nowrap;
}
a:not([class]) {
		border-bottom: 1px solid transparent;
}
a:not([class]):hover, a:not([class]):focus {
			border-color: transparent;
}
.wrapper {
	width: 980px;
	width: var(--baseWidth);
	max-width: calc(100% - 4rem);
	padding: 0 2rem;
	margin: 0 auto;
	box-sizing: content-box;
}
input[type="submit"], button {
	cursor: pointer;
}
img, svg {
	max-width: 100%;
}
li {
	list-style: none;
}
.table-wrap {
	overflow: auto;
}
.text-page > *:not(:first-child) {
		/* margin-top: 20px */
}
.text-page p, .text-page img, .text-page blockquote, .text-page ul, .text-page ol {
		margin: 1.375rem 0 0;
}
.text-page > *:first-child {
		margin-top: 0;
}
.text-page strong {
		font-weight: 700;
}
.text-page h2, .text-page h3, .text-page h4, .text-page h5, .text-page h6 {
		font-weight: 300;
}
.text-page h2 {
		font-size: 2.75rem;
		line-height: 1.07;
}
.text-page h3 {
		font-size: 2rem;
		line-height: 1.25;
}
.text-page h4 {
		font-size: 1.625rem;
		line-height: 1.15;
}
.text-page h5, .text-page h6 {
		font-size: 1rem;
		line-height: 1.38;
}
.text-page [align="right"] {
		float: right;
		margin-left: 80px;
}
.text-page [align="left"] {
		float: left;
		margin-right: 80px;
}
.text-page blockquote {
		/* border-left: 2px solid $main-color */
		/* padding-left: 21px */

		/* &.bg */
		/* 	border: none */
		/* 	padding: 22px 30px */
		/* 	background: #fff */
		/* 	color: #b6b6b6 */

		/* &.border */
		/* 	font-weight: 400 */
		/* 	font-size: rem(22) */
		/* 	line-height: lh(26, 22) */
		/* 	padding: 25px 0 */
		/* 	border: */
		/* 		top: 1px solid $border-color */
		/* 		bottom: 1px solid $border-color */
		/* 		left: none */
}
.text-page img[height] {
		height: auto;
}
.text-page img[align] {
		margin-bottom: 1.375rem;
}
.text-page table {
		/* width: 100% */
		/* table-layout: fixed */
		/* color: #000 */
}
.text-page table td, .text-page table th {
			padding: 15px 23px;
			font-weight: 300;
}
.text-page table td:not([valign]), .text-page table td[valign="middle"], .text-page table th:not([valign]), .text-page table th[valign="middle"] {
				vertical-align: middle;
}
.text-page table td[valign="top"], .text-page table th[valign="top"] {
				vertical-align: top;
}
.text-page table td[valign="bottom"], .text-page table th[valign="bottom"] {
				vertical-align: bottom;
}
.text-page table[cellspacing]:not([cellspacing="1"]):not([cellspacing="0"]) {}
.text-page table[border="1"] td, .text-page table[border="1"] th {
			border: 1px solid #e7e7e7;
			border: 1px solid var(--borderColor);
}
.text-page ul, .text-page ol {
		/* list-style: none */
		max-width: 990px;
}
.text-page ul ul li, .text-page ol ul li {
				/* padding-left: 20px */
}
.text-page ul ul li:before, .text-page ol ul li:before {
					content: "";
}
.text-page li {
		/*padding-left: 20px */
		position: relative;
		line-height: 1.3;
}
.text-page li:not(:first-child) {
			margin: 10px 0 0;
}
.text-page li:before {
			display: inline-block;
}
.text-page li ul, .text-page li ol {
			margin-bottom: 20px;
			margin-top: 0;
}
.text-page li li {
			padding-left: 10px;
}
.text-page li li:before {
				margin-right: 10px !important;
}
.text-page li li:not(:first-child) {
				margin-top: 5px;
}
.text-page ul li {
			/* padding-left: 8px */
			padding-left: 25px;

			/* &:not(:first-child) */
			/* 	margin-top: 14px */
}
.text-page ul li:before {
				content: "";
				/* margin: 0 4px 0 -8px */
				border-radius: 50%;
				display: inline-block;
				vertical-align: top;
				background: #fff;
				width: 6px;
				height: 6px;
				margin: 7px 19px 0 -25px;
}
.text-page ol {
		counter-reset: i;
}
.text-page ol li {
			counter-increment: i;
}
.text-page ol li:before {
				content: counter(i) ".";
				margin-right: 4px;
}
.default-btn, .white-btn, .gray-btn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: none;
	cursor: pointer;
}
.default-btn {
	border-radius: 30px;
	padding: 13px 26px;
}
.default-btn:not(.default-btn--white), .default-btn--white:hover:not(:active) {
		color: #fff;
		background: #212e7d;
		background: var(--mainColor);
}
.default-btn--white {
		transition: background .3s ease, color .3s ease;
		background: #fff;
		color: #000;
}
.white-btn, .gray-btn {
	color: #000;
}
.white-btn {
	background: #fff;
	padding: 8px 13px 7px;
	border-radius: 6px;
}
.gray-btn {
	border-radius: 25px;
	background: #fff;
	background: var(--secondColor);
	padding: 10px 18px 9px;
	transition: color .3s ease, background .3s ease;
}
.gray-btn:hover {
		color: #fff;
		background: #212e7d;
		background: var(--mainColor);
}
.hostory-link {
	width: auto !important;
	margin-left: auto;
}
/* @import "_header.sss" */
/* @import "_footer.sss" */
#app, .wrapper {
	min-height: 100vh;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.app {
	border: 1px solid #e7e7e7;
	border: 1px solid var(--borderColor);
	border-radius: 15px;
	padding: 1.6rem;
}
.app__title {
		font-size: 1.75rem;
		margin-bottom: 10px;
}
.app__tools:not(:first-child), .app__material:not(:first-child), .app__diameter:not(:first-child), .app__result:not(:first-child) {
			margin: 25px 0 0;
}
.radio-group {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between */
	margin: 0 -15px -15px;
}
.radio-group__item {
		margin: 0 15px 15px;
}
.radio__input {
		display: none;
}
.radio__input:checked + label {
				background: #212e7d;
				background: var(--mainColor);
				color: #fff;
				border-color: transparent;
}
.radio__label {
		transition: color .3s ease, background .3s ease, border-color .3s ease;
		border-radius: 5px;
		padding: 5px 10px;
		display: block;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		cursor: pointer;
		border: 1px solid #e7e7e7;
		border: 1px solid var(--borderColor);
}
.diameter__input {
		border: 1px solid #e7e7e7;
		border: 1px solid var(--borderColor);
		padding: 5px 10px;
		border-radius: 5px;
}
.mode__table table {
			width: 100%;
}
/* table-layout: fixed */
.mode__table table td, .mode__table table th {
				border: 1px solid #e7e7e7;
				border: 1px solid var(--borderColor);
				padding: 5px 10px;
				text-align: center;
				letter-spacing: .02em;
}
.mode__table table td:first-child, .mode__table table th:first-child {
					text-align: left;
}
/*# sourceMappingURL=main.css.map */
