$color1: white;
$color2: #c59d5f;//gold for h1
$color3: #4f4f4f;//gray for 
$color4: #000a5f;//blue for a
$color5: #2c3d97;//blue for a:hover
$color6: #d51313;//red for a:focus in nav
.content{
	img{
		height: 340px;
		margin: 0;
		width: auto;   
	}
	// tags------------------
	.tags{
		text-align: center;
	}
	ul{
		// &:before{
		// 	content: url("../img/blog_icon.png");
		// 	position: relative;
		// 	top: 10px;
		// 	left: 5px;
		// }
		a{
			text-decoration: none!important;
			color: #818181!important;
			&:hover{
				color:$color2!important;
			}
		}
		li{
			list-style-type: none;
		&:first-child{
			padding-left: 20px;
		}
		&:before{
			content: none!important;
			}
		}
		b{
			color: $color3;
			&:hover{
				color:$color2!important;
			}
		}
	}
	// tags------------------ END
	.row{
		div{
			padding: 15px 15px;
		}
	}
	.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,{
		background-clip: content-box!important;
		height: 340px;
	}
	.box1{
		background: url("../img/gallery1.jpg")center;
	}
	.box2{
		background: url("../img/gallery2.jpg")center no-repeat;
	}
	.box3{
		background: url("../img/gallery3.jpg")center no-repeat;
	}
	.box4{
		background: url("../img/gallery4.jpg")center no-repeat;
	}
	.box5{
		background: url("../img/gallery5.jpg")center no-repeat;
	}
	.box6{
		background: url("../img/gallery6.jpg")center no-repeat;
	}
	.box7{
		background: url("../img/gallery7.jpg")center no-repeat;
	}
	.box8{
		background: url("../img/gallery8.jpg")center no-repeat;
	}
}


    








