//font-family: 'Playfair Display', serif;
//font-family: Source Sans Pro;
//font-family: 'Cuprum', sans-serif;
$color1: white;
$color2: #c59d5f;//gold for h1
$color3: #4f4f4f;//gray for 
$color4: #2c3d97;//blue for a
body{
	width: 100%;
	// background-color: red;
	// border: solid 1px green;
	overflow-x:hidden;
}
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// -----------------------------------------------
header{
	// background: url("../img/BG1.jpg")center bottom;
	height: 100vh;
	color:$color1; 
	padding-top: 20px;
}
h1{

	color: $color1;
	font-size: 69px;
	font-family: 'Playfair Display';
	font-style: italic;
	text-align: center;
	margin-bottom: 45px;
}
h4{
	color: $color1;
	font-size: 19px;
	font-family: 'Source Sans Pro';
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 620px;
	min-width: 440px;
	&:before{
		content: url("../img/line.png");
		position: relative;
		left: -260px;
		top: -10px;
		display: block;
		width: 80%;
	}
}
h2{
	color: $color2;
	font-size: 51px;
	font-family: 'Playfair Display';
	font-style: italic;
	text-align: center;
	&:after{
		content: url("../img/line_golden.png");
		position: relative;
		left: -85px;
		bottom: 25px;
		display: block;
		width: 80%;
	}
}
p{
	color: $color3;
	font-size: 18px;
	font-family: 'Source Sans Pro';
	text-align: center;
}
.title{
	position: relative;
	top: 20vh;
}
.block{
	padding-top: 80px;
	padding-bottom: 80px;
	background: white;
	min-height: 580px;
	text-align: center;
	img{
		width: 100%;
	}
}
.BG{
	height: 640px;
}
.star:before{
		content: url("../img/flower.png");
		position: relative;
		left: calc(50% - 6px);
		top: -30px;
	}
// .logo{
// 	font-size: 39px;
// 	font-family: 'Cuprum', sans-serif;
// 	text-wrap: none;
// 	&:before{
// 		content: url("../img/logoW.png");
// 		position: relative;
// 		top: 20px;
// 	}
// }
nav{
	display: inline-block;
	margin-top: 35px;
	text-align: right;
	float: right;
	li{
		margin-left: 1vw;
	}
	a{
		color: $color1;
		font-size: 18px;
		font-family: 'Source Sans Pro';
		&:hover{
			color: $color1;
		}
		&:focus{
			color: $color2;
		}	
	}

}
// france_for_you------------------------------------
#france_for_you{
	// min-height: 580px;
	.star:before{
		left: calc(40% - 6px);
	}
}
// Our_advantage----------------------------------
#Our_advantage{
	// height: 650px;
	// background: url("../img/BG2.jpg") ;
}
// advantage----------------------------------------
#advantage{
	div{
		min-height: 220px;
	}
	img{
		width: 70px;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 30px;
	}
}
// about_us-----------------------------------------
#about_us{
	// height: 640px;
	// background: url("../img/BG3.jpg") ;
}
// about_us_bottom----------------------------------------
#about_us_bottom{
	// min-height: 580px;
	// text-align: center;
}
// how_we_work-----------------------------------------
#how_we_work{
	
}
// how_we_work_bottom----------------------------------------
#how_we_work_bottom{
	img{	
		height: 410px;
	}
}
// book-----------------------------------------
#book{
	// height: 640px;
	// background: url("../img/BG5.jpg") ;
}
//footer----------------------------------------
footer{
	height: 250px;
	text-align: center;
}