//font-family: 'Playfair Display', serif;
//font-family: Source Sans Pro;
//font-family: 'Cuprum', sans-serif;
$color1: white;
$color2: #c59d5f;//gold for h1
$color3: #4f4f4f;//gray for 
$color4: #2c3d97;//blue for a

a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// General style-----------------------------------------------
h1{

	color: $color1;
	font-size: 69px;
	font-family: 'Playfair Display';
	font-style: italic;
	text-align: center;
	margin-bottom: 20px;
	background: url("../img/line.png") 50% 100% no-repeat;
	padding-bottom: 40px;
}
h4{
	color: $color1;
	font-size: 19px;
	font-family: 'Source Sans Pro';
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 620px;
	min-width: 440px;
}
h2{
	color: $color2;
	font-size: 51px;
	font-family: 'Playfair Display';
	font-style: italic;
	text-align: center;
	background: url("../img/line_golden.png") 50% 100% no-repeat;
	padding-bottom: 20px;
	margin-bottom: 25px;
	// &:after{
	// 	content: url("../img/line_golden.png");
	// 	position: absolute;
	// 	left: 0px;
	// 	top: 25px;
	// 	display: block;	
	// }
}
p{
	color: $color3;
	font-size: 18px;
	font-family: 'Source Sans Pro';
	text-align: center;
	line-height: 28px;
	max-width: 485px;
	margin: 15px auto;
}
.title{
	position: relative;
	top: 20vh;
}
.block{
	padding-top: 80px;
	padding-bottom: 80px;
	background: white;
	min-height: 500px;
	text-align: center;
	img{
		width: 100%;
	}
}
.BG{
	height:  640px;
}
.star{
		margin-top: 15px;
	}
// General style END----------------------------
header{
	height: 100vh;
	color:$color1; 
	padding-top: 20px;
	img{
		width: 30%;
	}
}
nav{
	display: inline-block;
	margin-top: 35px;
	text-align: right;
	float: right;
	li{
		// margin-left: 1vw;
	}
	a{
		color: $color1;
		font-size: 18px;
		font-family: 'Source Sans Pro';
		&:hover{
			color: $color1;
		}
		&:focus{
			color: $color2;
		}	
	}

}

// france_for_you------------------------------------
#france_for_you{
	// min-height: 580px;
	.star:before{
		left: calc(40% - 6px);
	}
}
// Our_advantage----------------------------------
#Our_advantage{
	// height: 650px;
	// background: url("../img/BG2.jpg") ;
}
// advantage----------------------------------------
#advantage{
	div{
		min-height: 220px;
	}
	img{
		width: 70px;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 30px;
	}
}
// about_us-----------------------------------------
#about_us{
	// height: 640px;
	// background: url("../img/BG3.jpg") ;
}
// about_us_bottom----------------------------------------
#about_us_bottom{
	// min-height: 580px;
	// text-align: center;
}
// how_we_work-----------------------------------------
#how_we_work{
	
}
// how_we_work_bottom----------------------------------------
#how_we_work_bottom{
	img{	
		height: 410px;
	}
	a{
		color: #2c3d97;
	}
	p{
		a{
		
		text-decoration:underline!important;
	}
	}
}
// book-----------------------------------------
#book{
	text-align: center;
	h4{
		margin-bottom: 40px;
	}
	a{
		background: #2c3d97;
		padding: 13px 26px;
		border-radius: 18px;
		color: white;
		&:hover{
			background: white;
			color: #2c3d97;
		}
	}
}
//footer----------------------------------------
footer{
	min-height:  250px;
	background: white;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 60px;
	.bank{
		margin-bottom: 20px;
	}
	img{
		float: right;
		margin-right: 40px;
	}
	a{
		color: #2c3d97;
		font-size: 16px;
		// font-weight: bold;
		text-decoration:underline!important;
	}
	ul{
		text-align: left;
		li{
			margin-right: 7px;
		}
	}
	.col{
		display: inline-block;
		margin-right: 17px;
		margin-left: 17px;
		margin-bottom: 30px;
		p{
			margin-bottom: 0px;
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 480px) {
.col {
        display: block!important;
        width: 100%;

    }
}
#fb{
    background: url('../img/mesenger_sprite.png') 0 0;
    width: 26px;
	height: 26px;
	&:hover{
		background: url('../img/mesenger_sprite.png') -26px 0;
	}
}
#tw{
    background: url('../img/mesenger_sprite.png') 0 -26px;
    width: 26px;
	height: 26px;
	&:hover{
		background: url('../img/mesenger_sprite.png') -26px -26px;
	}
}
#vk{
    background: url('../img/mesenger_sprite.png') 0 -52px;
    width: 26px;
	height: 26px;
	&:hover{
		background: url('../img/mesenger_sprite.png') -26px -52px;
	}
}
#ig{
    background: url('../img/mesenger_sprite.png') 0 -78px;
    width: 26px;
	height: 26px;
	&:hover{
		background: url('../img/mesenger_sprite.png') -26px -78px;
	}
}