//font-family: 'Open Sans', sans-serif;
$color1: white;//white for text
$color2: #1d7431;//green for BG
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// --------------------------------------------------------------------
body{
	background-color: $color2;
	height: 100vh;
	text-align: center;
	font-family: Open Sans;
	
}
.container{
	p{
		font-size: 14px;
		color: $color1;
		font-weight: bold;
		span{
			font-family: Krungthep;
		}
	}
	a{
		color: $color1;
		&:hover{
			color: #ddeae0;
		}
	}
	.cardrow{
		padding-bottom: 30px;
		div{
			height: 25vh;
			max-height: 300px;
			background: url("../img/0C.png")no-repeat;
			background-size: 100% 100%;
			background-clip: content-box;
		}
	}
	.text{
		margin-top: 55px;
	}
}