//font-family: 'Open Sans', sans-serif;
$color1: white;//white for text
$color2: #1d7431;//green for BG
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// --------------------------------------------------------------------
body{
	background-color: $color2;
	height: 100vh;
	text-align: center;
	font-family: Open Sans;
	
}
.end_game{
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100%;
	z-index: 100;
	// visibility: hidden;
	img{
		max-width: 80vw;
	}
	h2{
		font-size: 28px;
		color: $color1;
		font-weight: bold;
	}
	a{
		width: 145px;
		height: 42px;
		margin-top: 35px;
		border-radius: 4px;
		font-size: 16px;
		color: $color2;
		font-weight: bold;
		&:hover{
			color: $color2;
		}
		&:active{
			color: $color2;
		}
		&:focus{
			color: $color2;
		}
	}
}
.click_blocker{
	position: absolute;
	top: 85px;
	left: 0;
	width: 100%;
	height: calc(100% - 100px);
	z-index: 99;
}
.container{
	p{
		font-size: 14px;
		color: $color1;
		font-weight: bold;
		span{
			font-family: Krungthep;
		}
	}
	a{
		color: $color1;
		&:hover{
			color: #ddeae0;
		}
	}
	.cardrow{
		div{
			height: 20vw;//25vh;
			max-height: 300px;
			background-size: 100% 100%;
			padding: 0px!important;
			// animation
			-o-transition: transform 0.2s linear;
			-ms-transition: transform 0.2s linear;
			-moz-transition: transform 0.2s linear;
			-webkit-transition: transform 0.2s linear;
			transition: transform 0.2s linear;
			&:hover{
				-webkit-transform:scale(0.98);
				-o-transform:scale(0.98);
				-moz-transform:scale(0.98);
				-webkit-transform:scale(0.98);
				transform:scale(0.98);
			}
		}
	}
	.text{
		margin-top: 55px;
	}
	.card-1{
		background: url("../img/card_0_to_51/1.png")no-repeat;
	}
	.card-2{
		background: url("../img/card_0_to_51/2.png")no-repeat;
	}
	.card-3{
		background: url("../img/card_0_to_51/3.png")no-repeat;
	}
	.card-4{
		background: url("../img/card_0_to_51/4.png")no-repeat;
	}
	.card-5{
		background: url("../img/card_0_to_51/5.png")no-repeat;
	}
	.card-6{
		background: url("../img/card_0_to_51/6.png")no-repeat;
	}
	.card-7{
		background: url("../img/card_0_to_51/7.png")no-repeat;
	}
	.card-8{
		background: url("../img/card_0_to_51/8.png")no-repeat;
	}
	.card-9{
		background: url("../img/card_0_to_51/9.png")no-repeat;
	}
	.card-10{
		background: url("../img/card_0_to_51/10.png")no-repeat;
	}
	// -------------------------------------------------11
	.card-11{background: url("../img/card_0_to_51/11.png")no-repeat;}
	.card-12{background: url("../img/card_0_to_51/12.png")no-repeat;}
	.card-13{background: url("../img/card_0_to_51/13.png")no-repeat;}
	.card-14{background: url("../img/card_0_to_51/14.png")no-repeat;}
	.card-15{background: url("../img/card_0_to_51/15.png")no-repeat;}
	.card-16{background: url("../img/card_0_to_51/16.png")no-repeat;}
	.card-17{background: url("../img/card_0_to_51/17.png")no-repeat;}
	.card-18{background: url("../img/card_0_to_51/18.png")no-repeat;}
	.card-19{background: url("../img/card_0_to_51/19.png")no-repeat;}
	.card-20{background: url("../img/card_0_to_51/20.png")no-repeat;}

	// ---------------------------------------------------21
	.card-21{background: url("../img/card_0_to_51/21.png")no-repeat;}
	.card-22{background: url("../img/card_0_to_51/22.png")no-repeat;}
	.card-23{background: url("../img/card_0_to_51/23.png")no-repeat;}
	.card-24{background: url("../img/card_0_to_51/24.png")no-repeat;}
	.card-25{background: url("../img/card_0_to_51/25.png")no-repeat;}
	.card-26{background: url("../img/card_0_to_51/26.png")no-repeat;}
	.card-27{background: url("../img/card_0_to_51/27.png")no-repeat;}
	.card-28{background: url("../img/card_0_to_51/28.png")no-repeat;}
	.card-29{background: url("../img/card_0_to_51/29.png")no-repeat;}
	.card-30{background: url("../img/card_0_to_51/30.png")no-repeat;}
	// ---------------------------------------------------31
	.card-31{background: url("../img/card_0_to_51/31.png")no-repeat;}
	.card-32{background: url("../img/card_0_to_51/32.png")no-repeat;}
	.card-33{background: url("../img/card_0_to_51/33.png")no-repeat;}
	.card-34{background: url("../img/card_0_to_51/34.png")no-repeat;}
	.card-35{background: url("../img/card_0_to_51/35.png")no-repeat;}
	.card-36{background: url("../img/card_0_to_51/36.png")no-repeat;}
	.card-37{background: url("../img/card_0_to_51/37.png")no-repeat;}
	.card-38{background: url("../img/card_0_to_51/38.png")no-repeat;}
	.card-39{background: url("../img/card_0_to_51/39.png")no-repeat;}
	.card-40{background: url("../img/card_0_to_51/40.png")no-repeat;}
	// ---------------------------------------------------41
	.card-41{background: url("../img/card_0_to_51/41.png")no-repeat;}
	.card-42{background: url("../img/card_0_to_51/42.png")no-repeat;}
	.card-43{background: url("../img/card_0_to_51/43.png")no-repeat;}
	.card-44{background: url("../img/card_0_to_51/44.png")no-repeat;}
	.card-45{background: url("../img/card_0_to_51/45.png")no-repeat;}
	.card-46{background: url("../img/card_0_to_51/46.png")no-repeat;}
	.card-47{background: url("../img/card_0_to_51/47.png")no-repeat;}
	.card-48{background: url("../img/card_0_to_51/48.png")no-repeat;}
	.card-49{background: url("../img/card_0_to_51/49.png")no-repeat;}
	.card-50{background: url("../img/card_0_to_51/50.png")no-repeat;}
	// ---------------------------------------------------51
	.card-51{background: url("../img/card_0_to_51/51.png")no-repeat;}
	.card-52{background: url("../img/card_0_to_51/52.png")no-repeat;}
	// --------------------------------------------------------
	.body{background: url("../img/body.png")no-repeat;}
	
}
.open_forever{visibility: hidden;}
.hide{visibility: hidden;}
.show{visibility: visible;}
@media (min-width: 992px){
	.container{
		.cardrow{
			div{
				height: 25vh; //32vw;
				border: 1vw solid $color2;
			}
		}
	}
}
@media (max-width: 500px){
	.container{
		.text{
			padding-bottom: 10vh;
		}
		.cardrow{
			div{
				height: 24vw; //32vw;
			}
		}
	}
}
// Анимация вращения
.imageRotateHorizontal,{
    -moz-animation: spinHorizontal .3s  linear;
    -o-animation: spinHorizontal .3s  linear;    
    -webkit-animation: spinHorizontal .3s  linear;
    animation: spinHorizontal .3s  linear;
}
@-moz-keyframes spinHorizontal {
    0% {
        -moz-transform: rotateY(0deg);
    }

    100% {
        -moz-transform: rotateY(360deg);
    }
}
@keyframes spinHorizontal {
	0% { 
        transform: rotateY(0deg); 
	}
    100% {
        transform: rotateY(360deg);
    }
}
@-ms-keyframes spinHorizontal {
	0% { 
        -ms-transform: rotateY(0deg); 
	}
    100% {
        -ms-transform: rotateY(360deg);
    }
}
@-o-keyframes spinHorizontal {
	0% { 
        -o-transform: rotateY(0deg); 
	}
	100% { 
        -o-transform: rotateY(360deg); 
	}
}
@-webkit-keyframes spinHorizontal {
	0% { 
        -webkit-transform: rotateY(0deg); 
	}
	100% { 
        -webkit-transform: rotateY(360deg); 
	}
}
// анимация вращения конец