//font-family: 'Open Sans', sans-serif;
$color1: white;//white for text
$color2: #1d7431;//green for BG
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus{outline:none!important;}
li{list-style-type: none;}
// --------------------------------------------------------------------
body{
	background-color: $color2;
	height: 100vh;
	text-align: center;
	font-family: Open Sans;
	
}
.container{
	img{
		margin-top: 95px;
		width: 70%;
		max-width: 501px;
	}
	h2{
		font-size: 28px;
		color: $color1;
		font-weight: bold;
	}
	a{
		width: 145px;
		height: 42px;
		margin-top: 35px;
		border-radius: 4px;
		// opacity: 0.85;
		font-size: 16px;
		color: $color2;
		font-weight: bold;
		&:hover{
			color: $color2;
		}
		&:active{
			color: $color2;
		}
		&:focus{
			color: $color2;
		}
	}
}