 
ul{
	list-style: none;
}
body{
	font-family: Myriad Pro;
}
a{
	text-decoration: none !important;
}
/*Header*/

.BG1{
	background-color: #e2dee0;
	height: 74px;
}
.BG2{
	background-color: #e94e38;
	padding-top: 22px;
	font-weight: bold;
	text-transform: uppercase;
	height: 74px;
}
.header{
	height: 74px;
}
.logo{
	padding: 0;
	text-decoration: none;
}
.logo img{
	max-height: 70px;
	height: 80%;
	margin-top: 3%;
	margin-left: 5%;
}
.logo a{
	color: #4b5b6a;
	font-size: 1.7em;
	font-weight: bold;
}
.header nav ul {
	margin-top: 23px;
	float: right;
}
.BG1 img{
	height: 18px;
	margin-top: 22px;
	margin-left: 30%;
}
.BG2 a{
	color: white;
}
.BG2 img{
	height: 17px;
	margin-right: 5%;
	margin-left: 30%;

}
.header ul a{
	color: gray;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 20px;
}

.header ul a:focus{
	color: #e94e38;
}
.header button{
	height: 74px;
	border-radius: 0;
	float: right !important;
}
.dropdown-menu{
	float: right;
	right: 0px;
	left:  0px;
	text-align: center;
}
.btn-group{
	padding-right: 0;
}

/*Header*/

/*search-block*/
.search-block{
	background: url(../img/Background1.png)no-repeat center top/cover;
	
}
.search-block h1{
	color: black;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 33px;
	color: white;
}
.search-block select{
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border: solid 1px gray;
	color: white;
	background:  rgba(147,147,147, 0.2);
	font-size: 18px;
	padding-left: 23px;
	font-family: Myriad Pro;	
}
.search-block option{
	color: white;
	background-color: rgba(0,0,0, 0.8);

	font-size: 18px;
}
.search-block input{
	width: 100%;
	height: 60px;
	border-radius: 30px;
	background-color: rgba(147,147,147, 0.2);
	border: solid 1px gray ;
	color: white;
	font-size: 18px;
	padding-left: 32px;
	margin-top: 23px;
}
.search-block button{
	width: 141px;
	height: 60px;
	border-radius: 30px;
	background-color: #e94e38;
	box-shadow: 0 1px 1px #e94e38;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: calc(50% - 90px);
	margin-top: 30px;
	margin-bottom: 40px;
}
/*search-block*/
/*navi-block*/
.navi-block{
	font-family: Myriad Pro;
	min-height: 60px;
	background-color: white;
}
.navi-block ul{
	list-style: none;
	text-transform: uppercase;
	margin-top: 25px;
}
.navi-block a{
	color: #96a6a7;
	font-weight: 600;
}
.navi-block a:focus{
	color: #e94e38;
	font-weight: 700;
}
.navi-block select{
	width: 45%;
	height: 36px;
	border-radius: 18px;
	border: solid 1px #cad2d3;
	color: #e94e38;
	background-color: white;
	font-size: 18px;
	padding-left: 23px;
	font-family: Myriad Pro;
	margin-top: 16px;
}
.navi-block button{
	width: 45%;
	height: 36px;
	background-color: #1baf5d;
	color: white;
	border-radius: 18px;
	margin-top: -5px;
	margin-left: 10px;
}
.navi-block label {
    width: 40px;
    height: 40px;
    position: relative;
    
   }
.navi-block form{
	margin-top: 10px;
}
.checkbox-inline{
	margin-left: 5px !important;
}
/*inlineCheckbox1*/
#inlineCheckbox1 input[type="checkbox"] + span {
	position: absolute;
	left: -20px; top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/icon1.png) no-repeat left 8px top 10px;
	cursor: pointer;
	background-color: grey;
    border-radius: 20px;
}
#inlineCheckbox1 input[type="checkbox"]:checked + span {
	background-color: #1baf5d;
	border-radius: 20px;
}
/*inlineCheckbox2*/
#inlineCheckbox2 input[type="checkbox"] + span {
	position: absolute;
	left: -20px; top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/icon2.png) no-repeat left 12px top 10px;
	cursor: pointer;
	background-color: grey;
    border-radius: 20px;
}
#inlineCheckbox2 input[type="checkbox"]:checked + span {
	background-color: #a61515;
	border-radius: 20px;
}
/*inlineCheckbox3*/
#inlineCheckbox3 input[type="checkbox"] + span {
	position: absolute;
	left: -20px; top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/icon3.png) no-repeat left 6px top 10px;
	cursor: pointer;
	background-color: grey;
    border-radius: 20px;
}
#inlineCheckbox3 input[type="checkbox"]:checked + span {
	background-color: #1822ee;
	border-radius: 20px;
}
/*inlineCheckbox4*/
#inlineCheckbox4 input[type="checkbox"] + span {
	position: absolute;
	left: -20px; top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/icon4.png) no-repeat left 9px top 10px;
	cursor: pointer;
	background-color: grey;
    border-radius: 20px;
}
#inlineCheckbox4 input[type="checkbox"]:checked + span {
	background-color: #f19e1f;
	border-radius: 20px;
}
/*inlineCheckbox5*/
#inlineCheckbox5 input[type="checkbox"] + span {
	position: absolute;
	left: -20px; top: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/icon5.png) no-repeat left 11px top 10px;
	cursor: pointer;
	background-color: grey;
    border-radius: 20px;
}
#inlineCheckbox5 input[type="checkbox"]:checked + span {
	background-color: #88499c;
	border-radius: 20px;
}
.navi-block p{
	margin-top: 22px;
	margin-right: 18px;
	margin-left: 2%;
}

/*navi-block*/

/*content-block*/
.content-block{
	min-height: 1350px;
	padding-top: 46px;
	background-color: #f3f1f2;
}
/*LIttle Stars*/
.star5:before{
	content:url("../img/Star5.png");
}
.star4:before{
	content:url("../img/Star4.png");
}
.star3:before{
	content:url("../img/Star3.png");
}
.star2:before{
	content:url("../img/Star2.png");
}
.star1:before{
	content:url("../img/Star1.png");
}
/*BIG Stars*/
.bigstar5:before{
	content:url("../img/BigStar5.png");
}
.bigstar4:before{
	content:url("../img/BigStar4.png");
}
.bigstar3:before{
	content:url("../img/BigStar3.png");
}
.bigstar2:before{
	content:url("../img/BigStar2.png");
}
.bigstar1:before{
	content:url("../img/BigStar1.png");
}
/*#1 Home style---------------------------*/
.BgHotel {
	width: 100%;
	border-bottom: 4px solid #1baf5d;/* Цвет нижней границы */
	border-radius: 4px 4px 0 0;
	z-index: -2;
}
.p1 {
	color: white ;
	font-weight: 700;
	background-color: #1baf5d;/* Фон цены */
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	position: absolute;
	top: 7px;
	right: 20px;
}
.p2{
	color: #566375 ;
	font-weight: 700;
	text-align: center;
}
.p3{
	color: #1baf5d ;/* Цвет названия */
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.p4{
	color: #96a6a7;
	display: inline;
	float: right;
	position: absolute;
	right: calc(50% - 50px);
	bottom: -5px;
}
.Pad0{
	padding: 0 !important;
}
.Shadow{
	box-sizing: border-box ;
	background-clip: content-box;
	border-radius: 4px;
	padding-left: 3% !important;
	padding-right: 3% !important;
	margin-bottom: 35px;


}
.BGwhite{
	background-color: white;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
	border-radius: 0 0 4px 4px;
	height: 130px;
}

.IconM{
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: calc(50% - 30px);
}
/*Hidden info*/
.ower:hover .info{
	display: block!important;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(27,175,93,0.5);/* Цвет затемнения  */
	border-radius: 4px 4px 0 0;
}
/*-----------Home style END------*/

/*Hidden info Constanta*/

.info .but a{
	color: white;
	border: solid 3px;
	padding: 5px 7px;
	border-radius: 20px;
	display: block;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 15px;
	margin-top: 15%;
	width: 80%;
	text-align: center;
}


/*Hidden info Constanta*/

/*sprite with stars*/
#reviewStars-input input:checked ~ label, 
#reviewStars-input label, 
#reviewStars-input label:hover, 
#reviewStars-input label:hover ~ label {
  background: url(../img/SpriteStar20.png) no-repeat;
}
.info #reviewStars-input{
	margin-left: 10%;
  	*zoom: 1;  
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 20px;
  width: 22px;
  position: absolute;
  top: 0;
  z-index: 0;

}

#reviewStars-input input:checked ~ label {
  background-position: 0 -20px;
  height: 20px;
  width: 22px;
}

#reviewStars-input label {
  background-position: 0 0;
  height: 20px;
  width: 22px;
  cursor: pointer;
  float: right;
	z-index: 1;
}

#reviewStars-input label:hover, 
#reviewStars-input label:hover ~ label {
  background-position: 0 -20px;
  height: 20px;
  width: 22px;
}

/*sprite with stars END*/
/*#2 Dance style---------------------------*/
.BgHotel_2 {
	width: 100%;
	border-bottom: 4px solid #f19e1f;/* Цвет нижней границы */
	border-radius: 4px 4px 0 0;
}
.p1_2{
	color: white ;
	font-weight: 700;
	background-color: #f19e1f;/* Фон цены */
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	position: absolute;
	top: 7px;
	right: 20px;
}
.p3_2{
	color: #f19e1f ;/* Цвет названия */
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
/*Hidden info*/
.ower_2:hover .info{
	display: block!important;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(241,158,31,0.5);/* Цвет затемнения  */
	border-radius: 4px 4px 0 0;
}
/*-----------Dance style END------*/
/*#3 Travel style---------------------------*/
.BgHotel_5 {
	width: 100%;
	border-bottom: 4px solid #88499c;/* Цвет нижней границы */
	border-radius: 4px 4px 0 0;
}
.p1_5{
	color: white ;
	font-weight: 700;
	background-color: #88499c;/* Фон цены */
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	position: absolute;
	top: 7px;
	right: 20px;
}
.p3_5{
	color: #88499c ;/* Цвет названия */
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
/*Hidden info*/
.ower_5:hover .info{
	display: block!important;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(136,73,156,0.5);/* Цвет затемнения  */
	border-radius: 4px 4px 0 0;
}
/*-----------Home style END------*/
/*BIG col -------------Style home*/
.p3_big{
	color: white ;/* Цвет названия */
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	font-size:18px;
	bottom: 0;
	left: 20%;
	
}
.p4_big{
	color: white;
	display: inline;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: calc(20% + 140px);
}
.iconL{
	height: 60px;
	width: 60px;
	position: absolute;
	top: -30px;
	left: 5%;
}
.Shadowinset {
	height: 120px;
	box-shadow: 0px -70px 81px -27px #000000 inset;	
	border-radius: 4px 4px 0 0;
}
.BG_Long_1{
	background: url(../img/Long-hotel1.png) no-repeat center top/cover ;
}
.BG_color_1{
	border-bottom: 4px solid #1baf5d; /* Цвет границы*/
}
/*Hidden info*/
.ower:hover .info_big{
	display: block!important;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(27,175,93,0.5);/* Цвет затемнения  */
	border-radius: 4px 4px 0 0;
}
/*Hidden info Constanta*/
.but_big{
	padding-right: 0px;
	margin-top: -7px;
}
.info_big .but_big a{
	color: white;
	border: solid 3px;
	padding: 5px 7px;
	border-radius: 20px;
	display: inline-block;
	width: 90%;
	text-align: center;
	margin-left: 10px;
}
.info_big{
	padding-top: 30px;
}
/*Hidden info--------------- END*/
.big{
	height: 140px;
}
.box {
    padding-right: 5px;
    height: 60px;
    width: 75%;
    line-height: 20px;
    position: absolute;
	top: 65px;
	left: calc(6% + 75px);
	overflow: hidden;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}
.box_in {
    color: #566375;   
}
.box_top{
	position: absolute;
	top: 15px;
	left: calc(6% + 75px);
}
.crop {
    width: 60px;
    height: 60px;
    overflow: hidden;  
    border-radius: 50%;
    position: absolute;
	top: 45px;
	left: 5%;
	box-shadow: 0 0 0 3px #e2dee0;
  }
.pers1 img {
	margin: -61px 0 0 -151px;
  }
/*BIG col --Style home END*/
/*BIG col --------Style Music */
.BG_Long_2{
	background: url(../img/Long-Music1.png) no-repeat center top/cover ;
}
.BG_color_2{
	border-bottom: 4px solid #f19e1f; /* Цвет границы*/
}
.pers2 img {
	margin: -0px 0 0 -102px;
  }
/*BIG col --------Style Music END */
/*Load more*/
.Load_more{
	text-align: center;
	font-family: Myriad Pro;
	font-size: 18px;
	margin-bottom: 30px;
}
.Load_more a{
	color: #566375;
	border-bottom: solid 1px #cccdd3;
}
.Load_more img{
	height: 18px;
	margin-left: 7px;
}
/*Load more   END*/
/*content-block-----------------------------------------------END*/
/*WhatCan--------------*/
.WhatCan{
	min-height: 690px;
	background-color: #f3f1f2;
}
.Text {
	text-align: center;
}
.BordTop{
	border-top: solid 1px #cccdd3;
}
.Text h3{
	color: #566375;
	margin-top: 90px;
	margin-bottom: 20px;
}
.Text p{
	color: #96a6a7;
	margin-bottom: 70px;
}
.nav-tabs li a{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.nav-tabs {
	margin-bottom: 20px;
	border-bottom: 0;
}
.nav-tabs a{
	border: 2px #a2b0b1 solid !important;
	margin-left: 20%;
}
.nav-tabs li{
	margin-left: 4.7%;
	margin-bottom: 15px;
}
/*FOCUS*/
.panel1:focus{
	border: 2px #1baf5d solid !important;
	background: url(../img/Tab_icon_11.png) no-repeat center;	
}
.panel2:focus{
	border: 2px #a61515 solid !important;
	background: url(../img/Tab_icon_22.png) no-repeat center;
}
.panel3:focus{
	border: 2px #1822ee solid !important;
	background: url(../img/Tab_icon_33.png) no-repeat center;	
}
.panel4:focus{
	border: 2px #f19e1f solid !important;	
	background: url(../img/Tab_icon_44.png) no-repeat center;	
}
.panel5:focus{
	border: 2px #88499c solid !important;
	background: url(../img/Tab_icon_55.png) no-repeat center;		
}
/*FOCUS--------END*/
/*not FOCUS*/
.panel1{
	background: url(../img/Tab_icon_1.png) no-repeat center ;	
}
.panel2{
	background: url(../img/Tab_icon_2.png) no-repeat center;	
}
.panel3{
	background: url(../img/Tab_icon_3.png) no-repeat center;	
}
.panel4{
	background: url(../img/Tab_icon_4.png) no-repeat center;	
}
.panel5{
	background: url(../img/Tab_icon_5.png) no-repeat center;	
}
/*not FOCUS--------END*/
.nav-tabs a:visited{
	border: 0px red solid !important;
	outline: 0px solid red!important;
}
.nav-tabs a:active{
	border: 0px red solid !important;
	outline: 0px solid red!important;
}
/*Page 1 style----------*/
#panel1 h4{
	color: #1baf5d;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}
.col1:before{
	content: url(../img/Tab_col1_1.png);
	float: left;
	margin-right: 20px;
	margin-bottom: 195px;
}
.col2:before{
	content: url(../img/Tab_col1_2.png);
	float: left;
	margin-right: 20px;
	margin-bottom: 195px;
}
/*Page 2 style-------------*/
#panel2 h4{
	color: #a61515;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}
.col3:before{
	content: url(../img/ContentICON2.png);
	float: left;
	margin-right: 20px;
	margin-bottom: 195px;
}
/*WhatCan-------------------------------------END*/
/*Footer-------*/
.footer{
	min-height: 500px;
	background: url(../img/Background1.png)no-repeat center top/cover;
}
.footer h3{
	text-align: center;
	color: white;
	margin-top: 64px;
}
.Email input{
	width: 100% !important;
	height: 64px;
	border-radius: 30px;
	background-color: rgba(147,147,147, 0.2);
	border: solid 1px gray /*#413d39*/;
	color: white;
	font-size: 18px;
	float: right;
	padding-right: 140px;
	padding-left: calc(6% + 15px);
}
.Email button{
	width: 126px;
	height: 54px;
	border-radius: 30px;
	background-color: #e94e38;
	box-shadow: 0 1px 1px #e94e38;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border-color: #e94e38;
	position: absolute;
	top: 54px;
	right: 4px;
}
.Email button:hover{
	background-color: #e94e38;
	opacity: 0.8;
	border-color: #e94e38;
}
.form-group{
	margin-top: 50px; 
	width: 100%;
}
.Email:before{
	content: url(../img/IconMail.png);
	position: absolute;
	bottom: 16px;
	left: 13px;
}
/*Botom Footer*/
.BotomFooter h5{
	color: white;
	font-size: 16px;
	margin-bottom: 25px;
}
.underline{
	border-bottom: 1px solid #585350;
}
.BotomFooter p{
	color: #c0bebc;
}
.BotomFooter img{
	width: 15%;
	max-width: 20px;
	margin-right: 4%;
	margin-bottom: 64px;
}
.BotomFooter {
	border-top: 1px solid #585350;
	margin-top: 57px;
	padding-top: 42px;
}
.w110{
	max-width: 110px;
}
/*Footer-----------------------------END
/*Back*/
.back{
	background: rgba(256, 256,256 ,0.8);
	width: 60px;
	height: 120px;
	position: fixed;
	top: 300px;
	left: 0px;
	z-index: 999;
	text-align: center;
	padding-top: 10px;
	border-radius: 0 20px 20px 0;
}
/*Модальное окно*/
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    left: 10vw;
    z-index: 20;
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 1250px;
    max-height: 700px;
    position: fixed;
    padding: 5px;
    border: 1px solid #383838;
    background: #fefefe;
    transition: transform 0.6s ease-out;
}
.overlay:target+.popup {
    transform: translate(-10%, 0);
    top: 2%;
}
.popup img {
    width: 100%;
    height: auto;
}
/*Back END*/