/* line 3, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a {
  text-decoration: none !important;
}

/* line 4, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 5, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
li {
  list-style-type: none;
}

/* line 10, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

/* line 17, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.container1 {
  background-color: #edeff0;
}

/* line 25, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #edeff0;
  display: grid;
  grid-template-columns: 0 auto 70px 70px 70px 70px 70px 70px auto 110px 12px;
  grid-template-rows: 80px auto;
  padding: 0 30px;
}

/* line 37, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}

/* line 44, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame img {
  margin-top: -5px;
  margin-left: -15px;
}

/* line 49, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_1, .nav .col_2, .nav .col_3, .nav .col_4, .nav .col_5 {
  align-self: center;
}

/* line 52, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_2, .nav .col_4 {
  text-align: center;
}

/* line 55, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_3 {
  text-align: right;
}

/* line 65, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider {
  margin-top: 80px;
  height: 50vw;
  overflow: hidden;
}

/* line 69, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider img {
  height: 100%;
  width: 100%;
}

/* line 75, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  padding: 0 30px;
}

/* line 80, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_1, .search .col_2, .search .col_3 {
  align-self: center;
}

/* line 83, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_2 {
  text-align: center;
}

/* line 86, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_3 {
  text-align: right;
}

/* line 91, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: calc(25vw - 60px);
  grid-gap: 20px;
  padding: 0 30px;
}

/* line 98, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 div {
  background-size: cover;
  border-radius: 8px;
  position: relative;
}

/* line 106, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box {
  color: white;
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 110, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box:hover {
  border: 3px solid red;
}

/* line 118, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical {
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 121, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover {
  border: 3px solid red;
  border-radius: 9px;
}

/* line 124, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover .play {
  background: red !important;
}

/* line 128, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: white;
  color: #3f444e;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

/* line 138, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info div {
  background: transparent;
}

/* line 141, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* line 146, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating img {
  height: 13px;
}

/* line 150, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play {
  background: #3f444e;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 5px;
}

/* line 158, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play img {
  margin: 10px;
}

/* line 163, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_img {
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 0 0 5px 5px;
}

/* line 173, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal {
  border: 3px solid #edeff0;
  transition: 0.5s;
  position: relative;
}

/* line 177, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal:hover {
  border: 3px solid red;
  border-radius: 9px;
}

/* line 182, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .play {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* line 187, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

/* line 192, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .video video {
  width: 100%;
  display: block;
}

/* line 198, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .like {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 204, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .download {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 210, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box_name {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  /* line 226, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(17vw - 60px);
  }
}

@media only screen and (min-width: 980px) {
  /* line 231, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 2;
    grid-row: 1/3;
  }
  /* line 235, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 3/5;
    grid-row: 2;
  }
  /* line 239, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 243, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 3;
    grid-row: 3/5;
  }
  /* line 247, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: none;
  }
  /* line 250, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: block;
  }
}

@media only screen and (max-width: 979px) {
  /* line 255, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: block;
  }
  /* line 258, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: none;
  }
  /* line 261, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 265, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 3;
    grid-row: 3/5;
  }
  /* line 269, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 273, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(33vw - 60px);
  }
  /* line 276, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 auto 70px 70px 70px 70px 70px 70px auto;
  }
}

@media only screen and (max-width: 720px) {
  /* line 281, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 285, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 2;
    grid-row: 4/6;
  }
  /* line 289, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 293, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(50vw - 60px);
  }
  /* line 296, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 114px repeat(7, auto);
  }
  /* line 298, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav .col_3 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  /* line 304, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_mobile {
    display: none;
  }
  /* line 307, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 311, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 1;
    grid-row: 5/7;
  }
  /* line 315, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1;
    grid-row: 3;
  }
  /* line 319, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(100vw - 60px);
  }
  /* line 322, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 114px repeat(1, auto) 30px;
  }
}

/* line 327, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.mix {
  display: none;
}

/*# sourceMappingURL=../css/main.map */