/* line 4, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, iframe,
blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, input, select, textarea {
  margin: 0;
  padding: 0;
}

/* line 9, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a {
  text-decoration: none !important;
}

/* line 10, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 11, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
li {
  list-style-type: none;
}

/* line 16, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.container1 {
  background-color: #edeff0;
}

/* line 31, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #edeff0;
  display: grid;
  grid-template-columns: 0 auto 70px 70px 70px 70px 70px 70px auto 110px 12px;
  grid-template-rows: 80px auto;
  padding: 0 30px;
}

/* line 43, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;
  border: 2px solid gray;
}

/* line 50, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame img {
  margin-top: -5px;
  margin-left: -15px;
}

/* line 55, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_1, .nav .col_2, .nav .col_3, .nav .col_4, .nav .col_5 {
  align-self: center;
}

/* line 58, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_2, .nav .col_4 {
  text-align: center;
}

/* line 61, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_3 {
  text-align: right;
}

/* line 71, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider {
  margin-top: 80px;
  height: 50vw;
  overflow: hidden;
}

/* line 75, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider img {
  height: 100%;
  width: 100%;
}

/* line 81, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search {
  display: grid;
  grid-template-columns: auto auto 180px;
  grid-template-rows: 80px auto;
  padding: 0 30px;
}

/* line 86, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_1, .search .col_2, .search .col_3 {
  align-self: center;
}

/* line 89, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_2 {
  text-align: center;
}

/* line 92, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_3 {
  text-align: right;
  position: relative;
}

/* line 95, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_3 .form {
  margin-bottom: 10px;
}

/* line 97, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_3 .form input {
  width: 100%;
  background: transparent;
  border: none;
  font-weight: bold;
  text-align: right;
}

/* line 106, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_1 {
  padding-left: 15px;
}

/* line 109, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .spincrement {
  background-color: #dddddd;
  height: 60px;
  transform: skewX(-20deg);
  position: absolute;
  margin-left: 3px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 25px;
  font-weight: bold;
  z-index: 44;
}

/* line 121, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .spincrement:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
  right: -44.0px;
  border-bottom: 60px solid #dddddd;
  border-right: 45px solid transparent;
  z-index: -1;
}

/* line 135, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search button {
  height: 60px;
  padding: 0 24px;
  transform: skewX(-20deg);
  border: none;
  font-weight: bold;
}

/* line 141, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search button span {
  display: block;
  transform: skewX(20deg);
}

/* line 145, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search button:hover {
  background-color: red;
  color: white;
}

/* line 152, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: calc(25vw - 60px);
  grid-gap: 20px;
  padding: 0 30px;
}

/* line 159, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 div {
  background-size: cover;
  border-radius: 8px;
  position: relative;
}

/* line 167, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box {
  color: white;
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 171, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box:hover {
  border: 3px solid red;
}

/* line 179, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical {
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 182, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover {
  border: 3px solid red;
  border-radius: 9px;
}

/* line 185, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover .play {
  background: red !important;
}

/* line 189, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: white;
  color: #3f444e;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

/* line 199, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info div {
  background: transparent;
}

/* line 202, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* line 207, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating img {
  height: 13px;
}

/* line 211, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play {
  background: #3f444e;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 5px;
}

/* line 219, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play img {
  margin: 10px;
}

/* line 224, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_img {
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 0 0 5px 5px;
}

/* line 234, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal {
  border: 3px solid #edeff0;
  transition: 0.5s;
  position: relative;
  color: red;
}

/* line 239, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal:hover {
  border: 3px solid red;
  border-radius: 11px;
}

/* line 244, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .play {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 248, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .play video {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}

/* line 255, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .play iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* line 265, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .like {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

/* line 272, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .download {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

/* line 279, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box_name {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
}

/* line 290, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.footer_download {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 299, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.footer_download .menu_list a {
  color: red;
}

/* line 305, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.footer {
  padding: 20px 30px;
}

/* line 307, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.footer .map {
  border: 3px solid #edeff0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

/* line 313, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.footer .map:hover {
  border: 3px solid red;
}

@media only screen and (min-width: 1200px) {
  /* line 321, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(17vw - 60px);
  }
}

@media only screen and (min-width: 980px) {
  /* line 326, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 2;
    grid-row: 1/3;
  }
  /* line 330, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 3/5;
    grid-row: 2;
  }
  /* line 334, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 338, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 3;
    grid-row: 3/5;
  }
  /* line 342, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: none;
  }
  /* line 345, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: block;
  }
}

@media only screen and (max-width: 979px) {
  /* line 350, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: block;
  }
  /* line 353, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: none;
  }
  /* line 356, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 360, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 2/4;
    grid-row: 1;
  }
  /* line 364, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 3;
    grid-row: 3/5;
  }
  /* line 368, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 372, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(33vw - 60px);
  }
  /* line 375, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 auto 70px 70px 70px 70px 70px 70px auto;
  }
  /* line 378, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search {
    grid-template-columns: 270px auto;
  }
  /* line 380, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search .col_2 {
    text-align: right;
    padding-right: 15px;
  }
  /* line 384, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search .col_3 {
    grid-column: 1/3;
    grid-row: 2;
  }
}

@media only screen and (max-width: 720px) {
  /* line 391, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 395, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 2;
    grid-row: 1;
  }
  /* line 398, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 .play {
    background-color: white;
  }
  /* line 401, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 video {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
  /* line 409, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 2;
    grid-row: 4/6;
  }
  /* line 413, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 417, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(50vw - 60px);
  }
  /* line 420, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 114px repeat(7, auto);
  }
  /* line 422, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav .col_3 {
    text-align: center;
  }
  /* line 426, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search {
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  }
  /* line 428, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search .col_2 {
    text-align: center;
    padding-right: 15px;
  }
  /* line 432, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .search .col_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
}

@media only screen and (max-width: 500px) {
  /* line 439, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_mobile {
    display: none;
  }
  /* line 442, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 1;
    grid-row: 1/3;
  }
  /* line 446, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 1;
    grid-row: 4;
  }
  /* line 450, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 1;
    grid-row: 5/7;
  }
  /* line 454, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1;
    grid-row: 3;
  }
  /* line 458, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .Page_1 {
    grid-auto-rows: calc(100vw - 60px);
  }
  /* line 461, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .nav {
    grid-template-columns: 0 114px repeat(1, auto) 30px;
  }
}

/* line 466, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.mix {
  display: none;
}

/*# sourceMappingURL=../css/main.map */