/* line 3, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a {
  text-decoration: none !important;
}

/* line 4, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 5, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
li {
  list-style-type: none;
}

/* line 10, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
a:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

/* line 17, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.container1 {
  background-color: #edeff0;
}

/* line 25, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav {
  display: grid;
  grid-template-columns: 0 auto 70px 70px 70px 70px 70px 70px auto;
  grid-template-rows: 80px auto;
  padding: 0 30px;
}

/* line 31, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}

/* line 38, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .round_frame img {
  margin-top: -5px;
  margin-left: -15px;
}

/* line 43, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_1, .nav .col_2, .nav .col_3 {
  align-self: center;
}

/* line 46, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_2 {
  text-align: center;
}

/* line 49, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.nav .col_3 {
  text-align: right;
}

/* line 54, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider {
  height: 500px;
  overflow: hidden;
}

/* line 57, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.slider img {
  width: 100%;
}

/* line 62, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  padding: 0 30px;
}

/* line 67, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_1, .search .col_2, .search .col_3 {
  align-self: center;
}

/* line 70, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_2 {
  text-align: center;
}

/* line 73, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.search .col_3 {
  text-align: right;
}

/* line 78, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: calc(25vw - 60px);
  grid-gap: 20px;
  padding: 0 30px;
}

/* line 85, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 div {
  background-size: cover;
  border-radius: 8px;
  position: relative;
}

/* line 93, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box {
  color: white;
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 97, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box:hover {
  border: 3px solid red;
}

/* line 105, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical {
  border: 3px solid #edeff0;
  transition: 0.5s;
}

/* line 108, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover {
  border: 3px solid red;
  border-radius: 9px;
}

/* line 111, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical:hover .play {
  background: red !important;
}

/* line 115, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: white;
  color: #3f444e;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

/* line 125, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info div {
  background: transparent;
}

/* line 128, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* line 133, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .rating img {
  height: 13px;
}

/* line 137, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play {
  background: #3f444e;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 5px;
}

/* line 145, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_info .play img {
  margin: 10px;
}

/* line 150, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_vertical .box_img {
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 0 0 5px 5px;
}

/* line 160, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal {
  border: 3px solid #edeff0;
  transition: 0.5s;
  position: relative;
}

/* line 164, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal:hover {
  border: 3px solid red;
  border-radius: 9px;
}

/* line 169, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .big_box_horizontal .play {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* line 175, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .like {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 181, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .download {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 187, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
.Page_1 .box_name {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
}

@media only screen and (min-width: 980px) {
  /* line 198, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_1 {
    grid-column: 2;
    grid-row: 1/3;
  }
  /* line 203, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_2 {
    grid-column: 3/5;
    grid-row: 2;
  }
  /* line 208, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_3 {
    grid-column: 1/3;
    grid-row: 3;
  }
  /* line 213, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .item_4 {
    grid-column: 3;
    grid-row: 3/5;
  }
  /* line 218, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: none;
  }
  /* line 221, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: block;
  }
}

@media only screen and (max-width: 979px) {
  /* line 226, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .show_tab {
    display: block;
  }
  /* line 229, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work9/scss/main.scss */
  .hide_tab {
    display: none;
  }
}

/*# sourceMappingURL=../css/main.map */