.box1{background: url("../img/movie-02.jpg");}
.box2{background: url("../img/movie-02.jpg");}
.box3{background: url("../img/movie-02.jpg");}
.box4{background: url("../img/movie-02.jpg");}
.box5{background: url("../img/movie-02.jpg");}
.box6{background: url("../img/movie-02.jpg");}
.box7{background: url("../img/movie-02.jpg");}
.box8{background: url("../img/movie-02.jpg");}
.box9{background: url("../img/movie-02.jpg");}
.box10{background: url("../img/movie-02.jpg");}
.box11{background: url("../img/movie-02.jpg");}
.box12{background: url("../img/movie-02.jpg");}
.box13{background: url("../img/movie-02.jpg");}
.box14{background: url("../img/movie-02.jpg");}
.box15{background: url("../img/movie-02.jpg");}
.box16{background: url("../img/movie-02.jpg");}

.item_1 .box_img{background: url("../img/movie-04.jpg")  center;}
.item_2 .box_img{background: url("../img/movie-04.jpg")  center;}
.item_3 .box_img{background: url("../img/movie-04.jpg")  center;}
.item_4 .box_img{background: url("../img/movie-04.jpg")  center;}