.box1{background: url("../img/movie-1.jpg");}
.box2{background: url("../img/movie-02.jpg");}
.box3{background: url("../img/movie-03.jpg");}
.box4{background: url("../img/movie-04.jpg");}
.box5{background: url("../img/movie-05.jpg");}
.box6{background: url("../img/movie-06.jpg");}
.box7{background: url("../img/movie-07.jpg");}
.box8{background: url("../img/movie-08.jpg");}
.box9{background: url("../img/movie-09.jpg");}
.box10{background: url("../img/movie-10.jpg");}
.box11{background: url("../img/movie-11.jpg");}
.box12{background: url("../img/movie-12.jpg");}

.item_1 .box_img{background: url("../img/movie-13.jpg")  center;}
.item_2 {background: url("../img/movie-14.jpg")  center;}
.item_3 {background: url("../img/movie-15.jpg")  center;}
.item_4 .box_img{background: url("../img/movie-16.jpg")  center;}