@font-face {
// название шрифта
font-family: "Gotham Pro Medium"; 
// адрес шрифта
src: url("../fonts/Gotham Pro Medium/GothamBook.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "Gotham Pro Medium"; 
// адрес шрифта
src: url("../fonts/Gotham Pro Medium/Gotham Pro Medium bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
@font-face {
// название шрифта
font-family: "MyriadPro"; 
// адрес шрифта
src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
// название шрифта
font-family: "ProximaNova"; 
// адрес шрифта
src: url("../fonts/ProximaNova/ProximaNova-Reg.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
// название шрифта
font-family: "ProximaNova"; 
// адрес шрифта
src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
}
// font-family: 'Playfair Display', serif;
$color1: #ffffff;//white for BG
$color2: #d39500;//yellow for button hover
$color3: #93919f;//gray for text
$color4: #f2f2f2;//white for text
$color5: #fab91e;//yellow for button
$color6: #080425;//dark blue for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus,a:after,div{outline:none!important;}
li{list-style-type: none;}
// -----------------------------------------------------------------General
body{
	background-color: gray;
	background: url("../img/bg_logo.png") 50% 35.5% no-repeat;
}
h2 {
	font-size: 52px;
	line-height: 1;
}
h5{
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	color: $color6;
	font-weight: bold;
}
a{
	&:hover{
		color: #d39500;
	}
}
.border{
	// border-right: 1px solid red;
	// border-left: 1px solid red;
	// position: relative;
	// z-index: 4;
}
.title{
	p{
		font-size: 13px;
		font-family: "ProximaNova";
		color: $color3;
		margin-top: 3px;
	}
	h2{
		color: $color6;
		font-family: 'Playfair Display', serif;
		margin-bottom: 40px;
		margin-top: 10px;
		font-weight: bold;
	}
	span{
		background-color: #f0b62b;
		display: block;
		width: 12px;
		height: 12px;
		margin: auto;
	}
}
.our_rooms,.fotoshoots,.about_us,.our_advantage{
	padding-top: 15px;
}
// ---------------------------header
header{
	min-height: 120px;
	position: relative;
	z-index: 999;
	.col-md-4{
		height: 100%;
	}
	.icon_phone{
		position: relative;
		&:before{
			content: url("../img/icon_phone.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker{
		position: relative;
		&:before{
			content: url("../img/icon_marker.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker,.icon_phone{
		margin-top: 40px;
		margin-left: 20%;
		padding-bottom: 10px;
	}
	span{
		display: block;
		font-size: 15px;
		color: $color3;
		font-family: "Gotham Pro Medium";
	}
	.logo{
		text-align: center;
		padding-top: 10px;
		border-left: 1px solid rgba(137,137,137,0.7);//$color3;
		border-right: 1px solid rgba(137,137,137,0.7); //$color3;
		padding-bottom: 10px;
	}
}
// ---------------------------nav
.two .submenu {
	visibility: hidden;
}
.two ul li:hover .submenu {
	visibility: visible;
}
.menu_laptop{
	width: 100%;
	z-index: 999;
	position: relative;
	.topmenu > li {
		display: inline-block;
		margin-right: 20px;
		position: relative;
	}
	ul{
		margin: auto;
		background-color: $color6;
		margin: 0;
		padding: 0;
	}
	.arrow_down{
		&:after{
			content: url("../img/icon_arrow_down.png");
			position: absolute;
			right: 20px;
			top: 22px;
		}
	}
	li{
		height: 77px;
		width: calc(100% / 6 - 4px);
		margin-right: 0!important;
		text-align: center;
		&:last-child{
			width: calc(100% / 6 + 0px);
			float: right;
		}
		&:hover{
			background-color: #211e3b;
		}
		.submenu{
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 10;

			li{
				background-color: #211e3b;
				width: 100%;
				&:hover{
					background-color: #38354f;
				}
			}
		}
		
	}
	a{
		height: 100%;
		width: 100%;
		font-family: MyriadPro;
		color: $color4;
		display: block;
		padding: 25px 15px;
		text-decoration: none;
		outline: none;
		text-transform: uppercase;
	}
}
#menu_mobile{
	width: 100%;
	height: 50px;
	z-index: 999;
	top: 0;
	left: 0;
	position: fixed;
	button,.btn-group{
		width: 100%;
		width: 100%;
		border-radius: 0;
		background-color: $color6;
		border: none;
		color: white;
		font-family: 'Playfair Display', serif;
		font-size: 20px;
		&:focus{

		}
	}
	.dropdown-menu{
		width: 100%;
		border-radius: 0;
		border: none;
		// padding-left: calc(70vw - 260px);
		margin-top: -2px;
		background-color: #211e3b;
		div{
			width: 60%;
			margin-left: calc(50% - 80px);
		}
		a{
			height: 40px;
			font-size: 20px;
			color: white;
			font-family: MyriadPro;
			&:hover{
					color: $color2;
				}
		}
		.submenu{
			ul{
				-webkit-padding-start: 0px!important;
			}
		}
	}
	// .topmenu > li {
	// 	display: inline-block;
	// 	margin-right: 20px;
	// 	position: relative;
	// }
	// ul{
	// 	margin: auto;
	// 	background-color: $color6;
	// 	margin: 0;
	// 	padding: 0;
	// }
	// .arrow_down{
	// 	&:after{
	// 		content: url("../img/icon_arrow_down.png");
	// 		position: absolute;
	// 		right: 20px;
	// 		top: 22px;
	// 	}
	// }
	// li{
	// 	height: 77px;
	// 	width: calc(100% / 6 - 4px);
	// 	margin-right: 0!important;
	// 	text-align: center;
	// 	&:last-child{
	// 		width: calc(100% / 6 + 0px);
	// 		float: right;
	// 	}
	// 	&:hover{
	// 		background-color: #211e3b;
	// 	}
	// 	.submenu{
	// 		position: absolute;
	// 		top: 100%;
	// 		left: 0;
	// 		width: 100%;
	// 		z-index: 10;

	// 		li{
	// 			background-color: #211e3b;
	// 			width: 100%;
	// 			&:hover{
	// 				background-color: #38354f;
	// 			}
	// 		}
	// 	}
		
	// }
	// a{
	// 	height: 100%;
	// 	width: 100%;
	// 	font-family: MyriadPro;
	// 	color: $color4;
	// 	display: block;
	// 	padding: 25px 15px;
	// 	text-decoration: none;
	// 	outline: none;
	// 	text-transform: uppercase;
	// }
}
.fixedattop{
	position: fixed!important;
	top: 0!important;
	left: 0!important;
}
// ---------------------------slider
// slider element
.slider{
	.dark{
		position: relative;
		left: 0;
		top: 0;
		width: 100%;//calc(100vw - 14px);
		height: 100vh;
		z-index: 49;
	}
	.slick-arrow{
		height: 125px;//100vh;
		width: 70px;//55px;
		top: 50%;
		background: transparent;
	}
	.slick-prev{
		left: 0;
		&:hover{
			background: transparent;
			&:before{
				content: url("../img/left_hover.png");
			}
		}
		&:focus{
			background: transparent;
		}
	}
	.slick-next{
		right: 0;
		&:hover{
			background: transparent;
			&:before{
				content: url("../img/right_hover.png");
			}
		}
		&:focus{
			background: transparent;
		}
	}
}

.slider{
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;//calc(100vw - 20px);
	color: $color1;
	.text{
		position: absolute;
		top: 42vh;
		margin-left: 15vw;
		width: 100vw;//1170px;//45vw;
		max-width: 550px;
		z-index: 50;
		h2{
			font-family: 'Playfair Display', serif;
			line-height: 1.2;
			margin-bottom: 20px;
		}
		p{
			font-size: 18px;
			margin-bottom: 45px;
		}
		a{
			display: inline-block;
			width: 170px;
			height: 50px;
			background-color: $color5;
			text-align: center;
			padding: 15px 20px;
			color: #815e22;
			font-family: "Gotham Pro Medium";
			margin-right: 20px;
			font-size: 15px;
			font-weight: bold;
			transition: .3s ease-in-out;
			&:hover{
				background-color: $color2;
			}
		}
	}
	img{
		width: 100%;
		height: auto;
	}
	&:before{
		content: url("../img/icon_mouse.png");
		position: absolute;
		left: 20px;
		bottom: 20px;
		z-index: 90;
	}
}
.slider_box{
	min-height: 765px;
	background: transparent;
	position: relative;
	visibility: hidden;
	z-index: 10;
}
//---------------------------our_advantage
.our_advantage{
	min-height: 680px;
	text-align: center;
	.col-md-4{
		padding: 10px;
	}
	p{
		font-family: "ProximaNova"; 
		color: $color3;
		padding: 0 10px;
		max-width: 340px;
		margin: auto;
	}
}
// ----------------------------about_us
.about_us{
	// background-color: gray;
	min-height: 550px;
	text-align: center;
	i{
		font-family: 'Playfair Display', serif;
		font-size: 22px;
		display: inline-block;
		width: 80%;
		margin-bottom: 40px;
	}
	p{
		display: inline-block;
		width: 65%;
		font-size: 18px;
		color: $color3;
		font-family: "ProximaNova";
		margin-bottom: 20px;
	}
	a{
		display: block;
		width: 215px;
		height: 50px;
		background-color: $color5;
		text-align: center;
		padding: 15px 20px;
		color: #815e22;
		font-family: "Gotham Pro Medium";
		font-weight: bold;
		margin: auto;
		margin-top: 25px;
		font-size: 15px;
		transition: .3s ease-in-out;
		&:hover{
			background-color: $color2;
		}
	}
}
//-----------------------------fotoshoots
.fotoshoots{
	min-height: 1400px;
	text-align: center;
	a{
		transition: .3s ease-in-out;
		display: block;
		padding: 25px 15px;
		text-decoration: none;
		outline: none;
	}
	.col-md-4{
		height: 310px;
		img{
			width: 100%;
		}
		&:hover .foto_place{
			transform: scale(1.2);
		}
	}
	.box{
		overflow: hidden;
	}
	.text_a{
		a{
			// display: block;
			height: 130px;
			width: calc(70% + 0px);
			background-color: $color1;
			position: relative;
			// left: 30%;
			top: -90px;
			padding-top: 40px;
			padding-left: 40px;
			text-align: left;
			color: $color6;
			font-size: 18px;
			font-weight: bold;
			margin-left: 30%;
			// float: right;
			&:hover{
				color: $color2;
			}
		}
	}
	.foto_place{
		width: calc(100% - 1px);
		height: 230px;
		transition: ease 0.5s ;
		// &:hover{
		// 		transform: scale(1.2);
		// 	}
	}
	.button_arrow{
		height: 45px;
		width: 45px;
		position: relative;
		margin-left: calc(30% - 45px);
		top: 0px;
		background: url("../img/button.jpg");
		&:hover{
			background: url("../img/button_hover.jpg");
		}
	}
}
//------------------------------our_rooms
.our_rooms{
	min-height: 680px;
	text-align: center;
	.slider_2{
		height: 400px;
		padding: 0 15px;
		position: relative;
		margin-bottom: 125px;
		.slick-arrow{
			height: 40px;//100vh;
			width: 40px;//55px;
			top: 100%;
			background-color: $color5;
			border-radius: 0;
		}
		.slick-prev{
			left: calc(50% - 40px);
			&:before{
				content: url("../img/icon_arrow_left.png");
				font-size: 14px;
			}
			&:focus{
				background: $color5;
			}
			&:hover{
				background: $color2;
			}
			
		}
		.slick-next{
			right: calc(50% - 40px);
			&:before{
				content: url("../img/icon_arrow_right.png");
				font-size: 14px;
			}
			&:focus{
				background: $color5;
			}
			&:hover{
				background: $color2;
			}
			
		}
		.slide{
			div{
				height: 400px;
			}
		}
		.text{
			div{
				height: 320px;
				background: $color1;
				position: relative;
				left: -40px;
				z-index: 30;
				margin-top: 40px;
				width: calc(100% + 40px);
				padding: 40px;
				text-align: left;
			}
			h3{
				margin-top: 0;
				font-family: 'Playfair Display', serif;
				color: $color6;
			}
			p{
				font-size: 18px;
				font-family: "ProximaNova";
				margin-left: 4.5vw;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					display: block;
					left: -4.5vw;
					width: calc(4.5vw - 10px);
					height: 25px;
					background: url("../img/icon_line.png")center repeat-x;
				}
			}
			a{
				display: block;
				width: 215px;
				height: 50px;
				background-color: $color5;
				text-align: center;
				padding: 15px 20px;
				color: #815e22;
				font-family: "Gotham Pro Medium";
				font-weight: bold;
				// margin: auto;
				margin-top: 25px;
				font-size: 15px;
				transition: .3s ease-in-out;
				&:hover{
					background-color: $color2;
				}
			}
		}
	}
	.buttons{
		.button_1{
			padding-right: 0;
			a{
				background:
				url("../img/icon_button-1.png") 75% 50%  no-repeat,
				url("../img/icon_arrow_right.png") 55% 50%  no-repeat;
				background-color: $color5;
				&:hover{
					background:
					url("../img/icon_button-1.png") 75% 50% no-repeat,
					url("../img/icon_arrow_right.png") 60% 50% no-repeat;
					background-color: $color2;
				}
			}
		}
		.button_2{
			padding-left: 0;
			a{
				background:
				url("../img/icon_button-2.png") 75% 50%  no-repeat,
				url("../img/icon_arrow_right.png") 55% 50%  no-repeat;
				background-color: $color5;
				&:hover{
					background:
					url("../img/icon_button-2.png") 75% 50% no-repeat,
					url("../img/icon_arrow_right.png") 60% 50% no-repeat;
					background-color: $color2;
				}
			}
		}
		a{
			width: 100%;//calc(50% - 2px);
			height: 140px;
			display: block;
			transition: .3s ease-in-out;
			padding: 30px 0 0 4vw;
			text-align: left;
			font-size: 18px;
			font-weight: bold;
			color: $color6;
		}
	}
}
//-------------------------------footer
footer{
	min-height: 150px;
	font-size: 15px;
	font-family: "Gotham Pro Medium";
	color: $color6;
	// padding-bottom: 35px;
	// padding-top: 15px;
	a{
		color: $color6;
		border-bottom: 1px solid $color2
	}
	 .col-sm-4{
		height: 100%;
	}
	.icon_phone{
		position: relative;
		&:before{
			content: url("../img/icon_phone.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker{
		position: relative;
		&:before{
			content: url("../img/icon_marker.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_mail{
		position: relative;
		&:before{
			content: url("../img/icon_mail.png");
			position: absolute;
			left: -25px;
			top: 10px;
		}
	}
	.icon_tian{
		position: relative;
		&:before{
			content: url("../img/icon_tian.png");
			position: absolute;
			left: -35px;
			top: 5px;
		}
	}
	.icon_marker,.icon_phone,.icon_mail{
		margin: 15px 0;
		margin-left: 20%;
	}
	.tian,.icon_tian{
		font-family: "ProximaNova"; 
		color: $color3;
		font-size: 13px;
		margin: 15px 0;
		margin-left: 20%;
	}
	.tian{
		padding-top: 10px;
	}
	span{
		display: block;
	}
	.footer_top{
		padding: 40px 0;
		border-bottom: 1px solid #ebebeb;
		margin: 0;
	}
	.footer_bot{
		padding: 30px 0 15px 0;
	}
}

@media (max-width: 990px){
	.our_rooms{
		a{
			padding: 10px 0 0 1vw!important;
			font-size: 14px!important;
		}
		.buttons{
			.button_1{
				a{
					background:
					url("../img/icon_button-1.png") 85% 85%  no-repeat,
					url("../img/icon_arrow_right.png") 30% 80%  no-repeat;
					background-color: $color5;
					&:hover{
						background:
						url("../img/icon_button-1.png") 85% 85% no-repeat,
						url("../img/icon_arrow_right.png") 30% 80% no-repeat;
						background-color: $color2;
					}
				}
			}
			.button_2{
				a{
					background:
					url("../img/icon_button-2.png") 85% 85%  no-repeat,
					url("../img/icon_arrow_right.png") 30% 80%  no-repeat;
					background-color: $color5;
					&:hover{
						background:
						url("../img/icon_button-2.png") 85% 85% no-repeat,
						url("../img/icon_arrow_right.png") 30% 80% no-repeat;
						background-color: $color2;
					}
				}
			}
			a{
				width: 100%;//calc(50% - 2px);
				height: 140px;
				display: block;
				transition: .3s ease-in-out;
				padding: 30px 0 0 4vw;
				text-align: left;
				font-size: 18px;
				font-weight: bold;
				color: $color6;
			}
		}
	}
	header{
		.row{
			padding-top: 50px;
		}
	}
}
@media (max-width: 768px){
	.our_rooms{
		.slider_2{
			height: 600px;
			.slide{
				div{
					width: 200%;
					height: 600px;
				}
			}
			.text{
				div{
					height: 250px;
					padding: 20px;
					left: calc(-100% + 40px);
					top: 250px;
					width: calc(200% - 80px);
					background: rgba(250,250,250,0.3);

				}
			}
		}
	}
	.slider{
		.text{
			width: calc(100vw - 160px); 
			margin: 0 80px;
			top: 22vh;
			h2{
				font-size: 40px;
				margin:  20px 0; 
			}
			p{
				font-size: 15px;
				margin-bottom: 20px;
			}
			a{
				width: 40%;
				margin: 0 8.5% 0 0%;
				padding: 2vw 1vw;
			}
		}
	}
	header{
		.icon_phone,.icon_marker{
			margin-top: 5px;
			margin-left: 25px;
		}
		// .logo{
		// 	position: fixed;
		// 	top: 5px;
		// 	left: 10px;
		// 	z-index: 1900!important;
		// }
	}
}
@media (max-width: 500px) {
	.our_rooms{
		.text{
			a{
				width: calc(100% - 4.3vw)!important;
				font-size: 4vw!important;
			}
		}
	}
	h2{
		font-size: 46px;
	}
	footer{
		.icon_marker,.icon_phone,.icon_mail,.icon_tian{
			margin-left: 9vw;
		}
		.icon_tian{
			margin-left: 15vw;
		}
		.tian{
			margin-left: 15vw;
		}
	}
}