@font-face {
// название шрифта
font-family: "Gotham Pro Medium"; 
// адрес шрифта
src: url("../fonts/Gotham Pro Medium/Gotham Pro Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
// название шрифта
font-family: "MyriadPro"; 
// адрес шрифта
src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
// название шрифта
font-family: "ProximaNova"; 
// адрес шрифта
src: url("../fonts/ProximaNova/ProximaNova-Reg.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
// название шрифта
font-family: "ProximaNova"; 
// адрес шрифта
src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
}
// font-family: 'Playfair Display', serif;
$color1: #ffffff;//white for BG
$color2: #d39500;//yellow for button hover
$color3: #93919f;//gray for text
$color4: #f2f2f2;//white for text
$color5: #fab91e;//yellow for button
$color6: #080425;//dark blue for text
a{text-decoration: none!important;}
button:focus,a:focus,input:focus,select:focus,a:after{outline:none!important;}
li{list-style-type: none;}
// ---------------------------------------------------------------------------
body{
	background-color: transparent;
}
h2 {
	font-size: 52px;
}
h5{
	font-size: 16px;
}
a{
	&:hover{
		color: #d39500;
	}
}
// ---------------------------header
header{
	min-height: 120px;
	position: relative;
	z-index: 999;
	.col-md-4{
		height: 100%;
	}
	.icon_phone{
		position: relative;
		&:before{
			content: url("../img/icon_phone.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker{
		position: relative;
		&:before{
			content: url("../img/icon_marker.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker,.icon_phone{
		margin-top: 40px;
		margin-left: 20%;
	}
	span{
		display: block;
	}
	.logo{
		text-align: center;
		padding-top: 10px;
	}
}
// ---------------------------nav
nav{
	width: 100%;
	z-index: 999;
	position: relative;
	ul{
		margin: auto;
		background-color: $color6;
	}
	.arrow_down{
		&:after{
			content: url("../img/icon_arrow_down.png");
			position: absolute;
			right: 20px;
			top: 22px;
		}
	}
	li{
		height: 77px;
		width: calc(100% / 6 - 4px);
		margin-right: 0!important;
		text-align: center;
		&:last-child{
			width: calc(100% / 6 + 0px);
			float: right;
		}
		&:hover{
			background-color: #211e3b;
		}
		.submenu{
			li{
				background-color: #211e3b;
				width: 100%;
				&:hover{
					background-color: #38354f;
				}
			}
		}
	}
	a{
		height: 100%;
		width: 100%;
		font-family: MyriadPro;
		color: $color4;
	}
}
// ---------------------------slider
.dark{
		position: relative;
		left: 0;
		top: 0;
		width: calc(100vw - 20px);
		height: 100vh;
		z-index: 49;
	}
	.slider{
		height: 100vh;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		// z-index: 100;
		width: calc(100vw - 20px);
		color: $color1;
	
	.text{
		position: absolute;
		top: 50vh;
		margin-left: 15vw;
		width: 45vw;
		max-width: 540px;
		// left: 20vw;
		z-index: 50;
		h2{
			font-family: 'Playfair Display', serif;
		}
		p{
			font-size: 18px;
		}
	}
	img{
		width: 100%;
		height: auto;
	}
}
.slider_box{
	min-height: 765px;
}
//---------------------------our_advantage
.our_advantage{
	min-height: 680px;
	text-align: center;

}
// ----------------------------about_us
.about_us{
	background-color: gray;
	min-height: 550px;
	text-align: center;
}
//-----------------------------fotoshoots
.fotoshoots{
	min-height: 1400px;
	text-align: center;
	.col-md-4{
		height: 310px;
		img{
			width: 100%;
		}
	}
	.text_a{
		a{
			// display: block;
			height: 130px;
			width: 70%;
			background-color: $color1;
			position: relative;
			// left: 30%;
			top: -90px;
			padding-top: 40px;
			padding-left: 40px;
			text-align: left;
			color: $color6;
			font-size: 18px;
			font-weight: bold;
			margin-left: 30%;
			&:hover{
				color: $color2;
			}
		}
	}
	.foto_place{
		width: 100%;
		height: 230px;
	}
	.button_arrow{
		height: 45px;
		width: 45px;
		position: relative;
		margin-left: calc(30% - 45px);
		top: 0px;
		background: url("../img/button.jpg");
		&:hover{
			background: url("../img/button_hover.jpg");
		}
	}
}
//------------------------------our_rooms
.our_rooms{
	min-height: 680px;
	text-align: center;
	.buttons{
		div{
			padding: 0;
		}
		.button_1{
			background:
			url("../img/icon_button-1.png") 75% 50%  no-repeat,
			url("../img/icon_arrow_right.png") 55% 50%  no-repeat;
			background-color: $color5;
			&:hover{
				background:
				url("../img/icon_button-1.png") 75% 50% no-repeat,
				url("../img/icon_arrow_right.png") 60% 50% no-repeat;
				background-color: $color2;
			}
		}
		.button_2{
			background:
			url("../img/icon_button-2.png") 75% 50%  no-repeat,
			url("../img/icon_arrow_right.png") 55% 50%  no-repeat;
			background-color: $color5;
			&:hover{
				background:
				url("../img/icon_button-2.png") 75% 50% no-repeat,
				url("../img/icon_arrow_right.png") 60% 50% no-repeat;
				background-color: $color2;
			}
		}
		a{
			width: 100%;//calc(50% - 2px);
			height: 140px;
			display: block;
			
			padding: 30px 0 0 4vw;
			text-align: left;
			font-size: 18px;
			font-weight: bold;
			color: $color6;
		}
	}
}
//-------------------------------footer
footer{
	 min-height: 150px;
	 .col-sm-4{
		height: 100%;
	}
	.icon_phone{
		position: relative;
		&:before{
			content: url("../img/icon_phone.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_marker{
		position: relative;
		&:before{
			content: url("../img/icon_marker.png");
			position: absolute;
			left: -20px;
			top: 10px;
		}
	}
	.icon_mail{
		position: relative;
		&:before{
			content: url("../img/icon_mail.png");
			position: absolute;
			left: -25px;
			top: 10px;
		}
	}
	.icon_tian{
		position: relative;
		&:before{
			content: url("../img/icon_tian.png");
			position: absolute;
			left: -35px;
			top: 5px;
		}
	}
	.icon_marker,.icon_phone,.icon_mail,.icon_tian,.tian{
		margin-top: 40px;
		margin-left: 20%;
	}
	.tian{
		
	}
	span{
		display: block;
	}
}