@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-It.woff") format("truetype"); 
font-style: italic; 
font-weight: normal; 
}
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Light.woff") format("truetype"); 
font-style: normal; 
font-weight: lighter; 
}
@font-face { 
font-family: "Peace Sans"; 
src: url("../fonts/peace_sans/Peace Sans/Peace Sans Webfont.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
div{
   /* border-style: solid;
	border-color: red;*/
}

body{
	background: white;
	font-family: SourceSansPro;
	color: #191919;
}
a{
	text-decoration: none!important;
}
/*Header--------------------*/
header{
	min-width: 120px;
}
.mes{
	margin-top: 10px;
	text-align: right;
}
.mes a{
	padding: 13px 13px;
	text-decoration: none;
	border:1px solid #52b317;
}
.mes p{
	margin-top: 25px;
}
.mes p:before{
	content:url("../img/lock.png");
	margin-right: 10px;
}
.button1{
	background: white;
	color: green;
	border-radius: 8px 0 0 8px;
}
.button2{
	background: #52b317;
	color: white;
	border-radius: 0 8px 8px 0;
}
.button1:hover,
.button2:hover,
.button3:hover{
	background: #469914;
	color: white;
	border:1px solid #469914;
}
.tel{
	margin-top: 10px;
	font-weight: lighter;
	font-size: 20px;
}
.tel p:before{
	content:url("../img/phone.png");
	margin-right: 10px;
}
/*nav-bar---------------------*/
.nav-bar{
	height: 60px;
	background: rgba(137,137,137,0.5);
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	top: 60px;
	left: 0;
}
.nav-bar a{
	color: white;
	font-size: 16px;
	margin-right: 4vw;
}
.list-inline{
	margin-top: 20px;
}
.nav-bar a:hover,
.nav-bar a:active{
	padding-bottom: 17px;
	border-bottom: 3px solid white;
}
/*-------------------------------*/
/*Slider--*/
.single-slide{
	height: 500px;
	overflow: hidden;
	z-index: 2;
	/*width: 600px;*/
	/*margin: 30px auto;*/
}
.single-slide img{
	max-height: 100%;
	width: auto;
}
/*----------------*/
/*Middle Block-------------------------------------------*/
/*About village*/
.button3{
	background: #52b317;
	color: white;
	border-radius: 8px;
	border:1px solid #52b317;
	padding: 13px 20px;
	position:absolute;
	top: 150px;
	left: 40px;
	 box-shadow: 0px 3px 0px 0px rgba(186,186,186,0.9);
}
.middle-block h2{
	color: #52b317;
	font-size: 46px;
	font-family: Peace Sans;
	margin-bottom: 40px;
	margin-top: 0;
	text-align: left;
}
.middle-block p{
	color:#191919;
	font-size: 17px;
}
.r1{
	margin-top: 20px;
	margin-bottom: 80px;
}
.r1 p{
	max-width: 500px;
}
.r2{
	margin-bottom: 50px;
	text-align: center;
	/*padding-bottom: 50px;*/
}
.r2 h4{
	font-size: 18px;
	font-weight: bold;
	color:#191919;
	margin-top: 30px;
	margin-bottom: 20px;
}
.r2 div:nth-child(2),
.r2 div:nth-child(3),
.r2 div:nth-child(4){
	border-right: 1px solid #dbdbdb;
}
.r2 p{
	max-width: 200px;
	margin: auto;
	margin-bottom: 5px;
}
.r2 .col-md-3{
	min-height: 235px;
}
.line {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #dbdbdb;
}








.but{

}
#Capa_1{
  width: 80px;
  height: 80px;
  fill: white;
  padding: 10px 7px;
  border-radius: 50%;
  border: solid 1px white;
  overflow: hidden;
}
#Capa_1:hover{
	fill: green;
	background: white;
}
















div.tres {
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13.2pt;
    PADDING-BOTTOM: 7px;
    MARGIN: 3px;
    PADDING-TOP: 7px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center;
}