@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-It.woff") format("truetype"); 
font-style: italic; 
font-weight: normal; 
}
@font-face { 
font-family: "SourceSansPro"; 
src: url("../fonts/SourceSansPro/SourceSansPro-Light.woff") format("truetype"); 
font-style: normal; 
font-weight: lighter; 
}
@font-face { 
font-family: "Peace Sans"; 
src: url("../fonts/peace_sans/Peace Sans/Peace Sans Webfont.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
body{
	background: white;
	font-family: SourceSansPro;
	color: #191919;
}
a{
	text-decoration: none!important;
}
/*Header--------------------*/
.mes p a{
	border: none;
	padding: 0;
	color: #52b317;
}
.mes p a:hover{
	color: #469914;
}
.mes{
	margin-top: 10px;
	text-align: right;
	padding: 0;
}
.mes a{
	padding: 9px 13px;
	text-decoration: none;
	border:1px solid #52b317;
}
.mes p{
	margin-top: 25px;
	font-size: 17px;
	color: #459713;
}
.mes p:before{
	content:url("../img/lock.png");
	margin-right: 10px;
}
.button1{
	background: white;
	color: green;
	border-radius: 8px 0 0 8px;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.button2{
	background: #52b317;
	color: white;
	border-radius: 0 8px 8px 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	white-space: nowrap;
}
.button1:hover,
.button2:hover,
.button3:hover{
	background: #469914;
	color: white;
	border:1px solid #469914;
}
.tel{
	margin-top: 10px;
	font-weight: lighter;
	font-size: 20px;
	display: inline-block;
	text-align: right;
}
.tel p:before{
	content:url("../img/phone.png");
	margin-right: 10px;
}
header .row{
	margin-top: 30px;
}
.logo img{
	max-width: 80vw;
}
.logo p{
	letter-spacing: 0.16em;
}
/*nav-bar---------------------*/
.nav-bar a{
	color: white;
	font-size: 16px;
	margin-right: calc(5.3vw - 55px);
	letter-spacing: 0.1em;
}
.nav-bar .container{
	padding-right: 0px ;
}
.list-inline{
	margin-top: 20px;
}
.nav-bar a:hover,
.nav-bar a:active{
	padding-bottom: 16px;
	border-bottom: 3px solid white;
}
#header{
	min-height: 120px;
}
#navbar {
	background: rgba(0,0,0,0.4);
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0;
    width: 100%;
    height: 60px;
}
#navbar.fixedattop {
  position: fixed; 
  top: 0px;
  width: 100%;
  z-index: 9999;

  background: white;
  color: black;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.fixedattop a{
	color: #101010;
}
.fixedattop a:hover,
.fixedattop a:active{
	border-bottom: 3px solid #52b317;
	padding-bottom: 15px;
}
.n1{
	position: relative;
}
/*Dropdown for mobile*/
.dropdown{
	position: relative;
	left: calc(50% - 30px);
}
.dropdown a{
	margin-right: 0;
}
/*-------------------------------*/
/*Slider--*/
.single-slide{
	height: 50vw;
	max-height:  500px;
	overflow: hidden;
}
.single-slide img{
	width: 100%;
	height: auto;
}
.sl_text h1{
	 position: absolute;
	 top: 50px;
	 left: calc(17% + 40px);
	 background: transparent;
	 font-family: Peace Sans;
	 text-shadow: 1px 1px 1px gray;
	 color: white;
	 font-size: 5.2vw; 
	 white-space: pre-wrap;
	 display: inline-block;
	 width: 80%;
	 height: 30%;
	 z-index: 300;
	 text-align: left;

}
.sl_text a{
	position: absolute;
 	top: calc(30% + 50px);
 	left: calc(17% + 40px);
 	color: white;
 	font-size: 18px;
 	font-weight: bold;
 	letter-spacing: 0.1em;
	background: rgba(0,0,0,0.15);
	box-shadow:  0px 1px 3px black;
	padding: 12px;
	border-radius: 8px;
}
.sl_text a:hover{
	background: rgba(0,0,0,0.25);
}
.sl{
	position: relative;
}
@media screen and (max-width: 600px) {
.slick-prev, .slick-next {
        display: none!important;
    }
}
@media screen and (max-width: 600px) {
.sl_text a {
        display: none!important;
    }
}
/*Middle Block-------------------------------------------*/
/*About village*/
.button3{
	background: #52b317;
	color: white;
	border-radius: 8px;
	border:1px solid #52b317;
	padding: 10px 20px;
	position:absolute;
	top: 150px;
	left: 30px;
	box-shadow: 0px 3px 0px 0px rgba(186,186,186,0.9);
	font-size:15px;
	font-weight: bold; 
	text-transform: uppercase;
}
.middle-block h2{
	color: #52b317;
	font-size: 46px;
	font-family: Peace Sans;
	margin-bottom: 40px;
	margin-top: 0;
	text-align: left;
}
.middle-block p{
	color:#191919;
	font-size: 17px;
}
.r1{
	margin-top: 20px;
}
.r1 div{
	margin-bottom: 45px;
}
.r1 p{
	max-width: 500px;
}
.aboutV{
	padding-top:  30px;
}
.aboutV .line{
	margin-bottom: 40px;
}
.aboutV h2{
	margin-bottom: 30px;
}
/*advantage*/
.r2{
	margin-bottom: 50px;
	text-align: center;
}
.r2 h4{
	font-size: 18px;
	font-weight: bold;
	color:#191919;
	margin-top: 30px;
	margin-bottom: 20px;
}
.r2 div:nth-child(2),
.r2 div:nth-child(3),
.r2 div:nth-child(4){
	border-right: 1px solid #dbdbdb;
}
.r2 p{
	max-width: 200px;
	margin: auto;
	margin-bottom: 5px;
	line-height: 21px;
}
.r2 .col-md-3{
	min-height: 235px;
}
.line {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 45px;
}
@media screen and (max-width: 992px) {
.r2 div:nth-child(3) {
        border: none;
    }
}
@media screen and (max-width: 768px) {
.r2 div:nth-child(4),
.r2 div:nth-child(2) {
        border: none;
    }
}
/*feedback*/
.feedback a{
	font-size: 17px;
	padding: 5px 12px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	color: #878787;
}
.mt{
	margin-top: 14px;
	margin-bottom: 30px;
	padding-left: 6px;
}
.pers1{
	font-weight: lighter;
	margin-bottom: 60px;
}
.pers1 p:first-child{
	margin-top: 10px;
	display: inline-block;
	min-width: 170px;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 10px;
}
.text p{
	border: 1px solid #dbdbdb;
	border-radius: 30px;
	padding:35px 40px!important;
	margin-top: 40px !important;
}
.text:before{
	content: url(../img/ico-bef.png);
	z-index: 30;
	position: absolute;
	top: 110px;
	left: 50px;
}
.text:after{
	content: url(../img/ico-aft.png);
	z-index: 30;
	position: absolute;
	bottom: -15px;
	right: 55px;
}
.feedback .line{
	margin-bottom: 55px;
}
.feedback h2{
	margin-bottom: 55px;
}
/*partners*/
.partners{
	text-align: center;
}
.partners p{
	font-weight: lighter;
	width: 130px;
	margin: 30px auto 40px auto;
	line-height: 21px;
}
.partners .line{
	margin-top: 50px;
}
.partners img{
	margin-top: 40px;
}
.partners h2{
	margin-bottom: 50px;
}
.r3 div:nth-child(2),
.r3 div:nth-child(3),
.r3 div:nth-child(4){
	border-right: 1px solid #dbdbdb;
}
@media screen and (max-width: 768px) {
.r3 div:nth-child(3) {
        border: none;
    }
}
@media screen and (max-width: 768px) {
.r3 div:nth-child(4),
.r3 div:nth-child(2) {
        border: none;
    }
}
/*news*/
.news .mt a{
	font-size: 17px;
	padding: 4px 12px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	color: #878787;
}
.news h4{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 25px;
}
.news h4:nth-child(3){
	font-weight: 610;
}
.news p,
.news h4{
	max-width: 300px;
}
.news img{
	width: 100%;
	max-width: 300px;
	margin-bottom: 20px;
}
.news .line{
	margin-top: 125px;
	margin-bottom: 25px;
}
.popup img{
	width: 500px;
}
/*Middle Block END---------------------------------*/
/*footer---------------------------*/
/*top-footeer*/
.top-footer{
	margin-bottom: 45px;
}
.top-footer a{
	color: #52b317;
	font-size: 17px;
	font-weight: lighter;
	line-height: 32px;
	white-space: nowrap;
}
.top-footer a:hover{
	color: #418d12;
}
.top-footer p{
	font-size: 17px;
}
.top-footer span p{
	display: inline-block;
}
.top-footer span a{
	color: #459713;
	border-radius: 8px;
	padding: 7px 14px;
	border: 1px solid #459713;
	margin-left: 10px;
}
.top-footer span a:hover{
	color: white;
	background: #469914;
	border: 1px solid #469914;
}
.mb{
	margin-bottom: 10px;
}
/*Bottom-footer*/
.bottom-footer{
	background: #459713;
	min-height:  100px; 
}
#Capa_1{
  width: 40px;
  height: 40px;
  fill: white;
  border-radius: 50%;
  border: solid 1px white;
  overflow: hidden;
}
#Capa_1:hover{
	fill: #459713;
	background: white;
}
.f2{
  width: 40px;
  height: 40px;
  fill: #459713;
  border-radius: 50%;
  border: solid 1px white;
  overflow: hidden;
}
#Capa_1:hover .f2{
	fill: white;
	background: white;
}
.bottom-footer p{
	margin-top: 40px;
	font-size: 17px;
	color: white;
}
.bottom-footer ul{
	margin-top: 35px;
}
.ta{
	text-align: right;
}
/*Birds*/
.bird{
	position: relative;
	bottom: -50%;
	right: 0%;
	z-index: 100;
}
.bird1{
	position: absolute;
	bottom: -50%;
	left: 70%;
}
.bird2{
	width: 48px !important;
	position: absolute;
	bottom: -3px;
	left: 20px;
	margin-bottom: 0px!important;
}
.bird3{
	position: absolute;
	bottom: -3px;
	left: 30px;
}
.bird4{
	position: absolute;
	bottom: -50%;
	right: 0;
}
.bird5{
	position: absolute;
	bottom: -7px;
	left: 5%;
}
.bird6{
	position: absolute;
	bottom: -3px;
	left: calc(5% + 86px);
}
/*Modal window*/
.mod{
	width: 60vw;
	max-width: 340px;
	height: 270px;
	background: white;
	padding: 15px;
	display: none;
}
.mod input{
	width: 100%;
	max-width: 310px;
	height: 37px;
	background: #f8f8f8;
}
.mod input:focus{
	border-color: #52b317;
	background: white;
}
.mod label{
	font-size: 17px;
}
.mod button{
	color: white;
	background: #52b317;
	border-color:#52b317; 
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.12em;
	border-radius: 10px;
}
.mod button:hover{
	background: #469914;
	border-color:#469914;
	color: white;
}
.fancybox-skin{
	background: white;
}
.fancybox-close{
	background: url(../img/popup_close.png)no-repeat;
	width: 21px;
	height: 21px;
	top: -45px;
	right: 0px;
}
