@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 22, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
button:focus, a:focus, input:focus, select:focus, textarea:focus {
  outline: none !important;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
li {
  list-style-type: none;
}

/* line 26, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
body {
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
  font-size: 24px;
}

/* line 35, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
img {
  width: 100%;
  max-width: 300px;
}

/* line 39, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.content {
  width: calc(100vw - 185px);
  min-height: 100vh;
  float: right;
  padding-bottom: 15px;
}

/* line 45, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.row1 {
  display: flex;
  height: calc(50vw - 92.5px);
  width: 100%;
}

/* line 50, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.row2 {
  display: flex;
  height: calc(25vw - 46.25px);
  width: 100%;
}

/* line 54, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.row2 .box_sm {
  height: 100%;
}

/* line 58, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.row3 {
  display: flex;
  height: calc(12.5vw - 23px);
  width: 100%;
}

/* line 62, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.row3 .box_sm {
  height: 100%;
}

/* line 66, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.col1 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 50%;
  height: 100%;
}

/* line 73, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.col2 {
  display: flex;
  width: 50%;
  height: 100%;
}

/* line 78, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.col3 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 50%;
  height: 100%;
}

/* line 85, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.box_xs {
  width: 50%;
  height: 50%;
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

/* line 96, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.box_sm {
  width: 50%;
  height: 50%;
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
}

/* line 104, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.box_lg {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
}

/* line 111, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.bg:hover {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-size: 105% 105%;
}

/* line 118, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.human_info .hide {
  display: none;
  text-align: center;
  font-size: 1.1vw;
  color: white;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 70%;
}

/* line 128, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.human_info .hide span {
  position: relative;
}

/* line 133, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.human_info:hover .hide {
  display: block;
}

/* line 137, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.human_text {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 10px;
  font-size: 1.25vw;
}

/* line 143, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.no_border {
  border: 0 !important;
}

/* line 146, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.map_info {
  width: calc(100% - 10px);
  height: 37%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px;
  padding-top: 4vw;
  box-sizing: border-box;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
  font-size: 1.6vw;
}

/* line 175, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.map {
  position: relative;
}

/* line 192, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 25px;
}

/* line 196, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form input {
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #707070;
  margin-top: 2px;
  font-size: 20px;
}

/* line 204, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form div {
  width: 100%;
}

/* line 207, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form span {
  float: right;
}

/* line 210, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form p {
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 216, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.company_form p span {
  font-size: 1.4vw;
}

/* line 221, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputName {
  margin-bottom: 1.5vw;
}

/* line 223, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputName input {
  width: calc(100% - 107px);
  float: right;
}

/* line 228, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputEmail {
  margin-bottom: 1.3vw;
}

/* line 230, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputEmail input {
  width: calc(100% - 203px);
  float: right;
}

/* line 236, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputText textarea {
  width: calc(100% - 5px);
  height: calc(20vw - 73px);
  resize: none;
  background-color: #1a1a1a;
  border: 1px solid #707070;
  color: #ffffff;
  font-size: 16px;
}

/* line 244, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.InputText textarea::placeholder {
  color: #ffffff;
}

/* line 249, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.ButtonForm {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 50px;
  float: right;
  margin-top: calc(3vw - 10px);
  font-size: 20px;
}

/* line 257, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.ButtonForm:hover {
  color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

/* line 264, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.text_box {
  background-color: #000000;
  border-top: 6px solid #f2f2f2;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.25vw;
}

/* line 271, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.text_box p {
  color: #ffffff;
  margin: 7px 0;
}

/* line 276, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.show_more {
  text-align: center;
}

/* line 278, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.show_more p {
  margin-top: calc(40% - 15px);
}

/* line 282, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.show_more img {
  margin-top: 15px;
  width: 40%;
  height: auto;
}

/* line 290, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

/* line 295, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.logo img {
  box-shadow: 0px -5px 70px -30px #000000;
}

/* line 299, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

/* line 303, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.buttons ul {
  margin: 0;
}

/* line 306, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.buttons a {
  color: #000000;
  display: block;
  border: 2px solid #000000;
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  font-size: 15px;
}

/* line 320, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.buttons a:hover {
  color: #5e5e5e;
  border: 2px solid #5e5e5e;
}

@media (min-width: 1360px) {
  /* line 329, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo {
    width: 180px;
  }
  /* line 332, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .content {
    width: calc(100vw - 240px);
  }
  /* line 335, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .row1 {
    height: calc(50vw - 120px);
  }
  /* line 338, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .row2 {
    height: calc(25vw - 60px);
  }
  /* line 342, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .buttons a {
    width: 180px;
  }
}

@media (min-width: 1025px) {
  /* line 348, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .content_mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  /* line 353, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .content {
    display: none;
  }
  /* line 356, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .box_xs {
    width: 33%;
    height: calc(33vw - 61px);
  }
  /* line 360, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .row1 {
    height: calc(70vw - 185px);
    width: 99%;
  }
  /* line 364, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .map_info {
    padding-top: 6vw;
    font-size: 2.2vw;
  }
  /* line 368, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .map {
    border: none;
  }
  /* line 371, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .text_box {
    font-size: 1.5vw;
  }
  /* line 374, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .human_text {
    font-size: 1.5vw;
  }
  /* line 378, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .human_info .hide {
    font-size: 1.5vw;
  }
}

@media (max-width: 770px) {
  /* line 384, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
  /* line 388, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .row1 {
    height: calc(100vw - 185px);
    width: 100%;
  }
  /* line 392, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .map_info {
    padding-top: 9vw;
  }
  /* line 396, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .text_box {
    padding-top: 0px;
    font-size: calc(2.2vw - 2px);
  }
  /* line 400, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .human_text {
    font-size: 2.3vw;
  }
  /* line 404, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .human_info .hide {
    font-size: 1.8vw;
  }
  /* line 408, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .company_form {
    padding-top: 15px;
  }
  /* line 410, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .company_form input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 414, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .company_form label {
    font-size: 3.1vw;
  }
  /* line 420, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .company_form p {
    flex-direction: column;
    margin-bottom: 10px;
  }
  /* line 423, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .company_form p span {
    font-size: 2.1vw;
  }
}

/* line 436, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 445, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.box_xs {
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  display: flex;
  align-content: stretch;
}

/* line 457, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
.logo_mobile {
  display: none;
}

@media (max-width: 500px) {
  /* line 461, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  body {
    background-color: #ffffff;
    padding: 0;
  }
  /* line 465, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  textarea {
    height: 50px !important;
  }
  /* line 468, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  /* line 472, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .row1 {
    height: calc(100vw - 0px);
    width: 100%;
  }
  /* line 476, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
  }
  /* line 482, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .hide_mobile {
    display: none;
  }
  /* line 485, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .box_info {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 5px;
    width: 100%;
  }
  /* line 495, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .text_box, .human_text {
    font-size: 19px;
    padding: 20px 30px 20px 40px;
    text-align: left;
  }
  /* line 500, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .text_box p, .human_text p {
    margin: 0;
  }
  /* line 504, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .map_info {
    font-size: 3.7vw;
    padding-top: 15vw;
    padding-left: 20px;
    width: 100vw;
    top: 0;
    left: 0px;
  }
  /* line 512, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .box_lg {
    border: none;
  }
  /* line 516, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .human_info .hide {
    font-size: 4.8vw;
  }
  /* line 521, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile {
    display: block;
    width: calc(100vw - 6vw);
    height: calc(100vw - 0px);
    padding: 8vw 10px 8vw 6vw;
    box-sizing: border-box;
  }
  /* line 527, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile .content_mobile {
    float: right;
  }
  /* line 530, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile span {
    white-space: nowrap;
  }
  /* line 533, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile .f_chld {
    margin-bottom: 11.2vw;
    margin-top: 20px;
  }
  /* line 537, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 541, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile img {
    width: 100px;
  }
  /* line 544, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile p {
    color: #000000;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 549, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #000000;
  }
  /* line 552, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile p a:hover {
    color: #404040;
  }
}

@media (max-width: 360px) {
  /* line 560, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile {
    padding: 5vw 10px 8vw 6vw;
  }
  /* line 562, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /* line 567, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/company.scss */
  .text_box {
    line-height: 20px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=../css/company.map */