@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

button:focus, a:focus, input:focus, select:focus, textarea:focus {
  outline: none !important;
}

li {
  list-style-type: none;
}

body {
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
  font-size: 0.95vw;
}

button, input {
  font-size: 0.95vw;
}

textarea {
  font-size: 0.85vw;
}

img {
  width: 100%;
  max-width: 300px;
}

.content {
  width: calc(100vw - 185px);
  min-height: 100vh;
  float: right;
  padding-bottom: 15px;
}

.row1 {
  display: flex;
  height: calc(50vw - 92.5px);
  width: 100%;
}

.row2 {
  display: flex;
  height: calc(25vw - 46.25px);
  width: 100%;
}

.row2 .box_sm {
  height: 100%;
}

.row3 {
  display: flex;
  height: calc(12.5vw - 23px);
  width: 100%;
}

.row3 .box_sm {
  height: 100%;
}

.col1 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 50%;
  height: 100%;
}

.col2 {
  display: flex;
  width: 50%;
  height: 100%;
}

.col3 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 50%;
  height: 100%;
}

.box_xs {
  width: 50%;
  height: 50%;
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.box_sm {
  width: 50%;
  height: 50%;
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  border-radius: 7px;
}

.box_lg {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  border-radius: 7px;
}

.bg:hover {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-size: 105% 105%;
}

.human_info {
  cursor: default;
}

.human_info .hidden {
  display: none;
  text-align: center;
  font-size: 0.9vw;
  color: white;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 75%;
}

.human_info .hidden span {
  position: relative;
}

.human_info:hover .hidden {
  display: block;
}

.human_text {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
}

.human_text p {
  margin: 0;
}

.no_border {
  border: 0 !important;
}

.map_info {
  width: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 102;
  border-radius: 2px;
}

.map_info b {
  margin-bottom: 1.5vw;
  display: block;
}

.map {
  position: relative;
}

.company_form {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px;
}

.company_form input {
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #707070;
  font-family: "PFDasGroteskPro-Regular";
}

.company_form div {
  width: 100%;
}

.company_form span {
  float: right;
}

.company_form p {
  margin-top: 0px;
  margin-bottom: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company_form p span {
  font-size: 1.15vw;
}

.company_form p span a {
  color: #ffffff;
}

.InputName {
  margin-bottom: 1.5vw;
}

.InputName input {
  width: calc(100% - 5.1vw);
  float: right;
}

.InputEmail {
  margin-bottom: 1.3vw;
}

.InputEmail input {
  width: calc(100% - 8.1vw - 5px);
  float: right;
}

.InputText textarea {
  width: calc(100% - 22px);
  height: calc(20vw - 73px);
  resize: none;
  background-color: #1a1a1a;
  border: 1px solid #707070;
  color: #ffffff;
  padding: 10px;
  font-family: "PFDasGroteskPro-Regular";
}

.InputText textarea::placeholder {
  color: #707070;
}

.InputText textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.InputText textarea:focus::-moz-placeholder {
  color: transparent;
}

.InputText textarea:focus:-moz-placeholder {
  color: transparent;
}

.InputText textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.ButtonForm {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 50px;
  float: right;
  margin-top: calc(1vw + 10px);
  font-family: "PFDasGroteskPro-Regular";
  cursor: pointer;
}

.ButtonForm:hover {
  color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.text_box {
  background-color: #000000;
  box-sizing: border-box;
  padding: 20px;
}

.text_box p {
  color: #ffffff;
  margin: 0px 0;
}

.show_more {
  text-align: center;
}

.show_more p {
  margin-top: calc(40% - 15px);
}

.show_more img {
  margin-top: 15px;
  width: 40%;
  height: auto;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 125px;
}

.logo img {
  box-shadow: 0px -5px 70px -30px #000000;
}

.logo:after {
  content: url("../img/hover_icon1.png");
  position: absolute;
  right: 10px;
  bottom: 10px;
  visibility: hidden;
}

.logo:hover:after {
  visibility: visible;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

.buttons ul {
  margin: 0;
}

.buttons a {
  color: #000000;
  display: block;
  border: 2px solid #000000;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  font-size: 15px;
}

.buttons a:hover {
  color: #5e5e5e;
  border: 2px solid #5e5e5e;
}

.buttons span {
  color: #000000;
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

.buttons span a {
  border: none;
  text-decoration: underline !important;
  text-align: left;
  margin-top: 0;
  display: inline-block;
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
}

.buttons span a:hover {
  color: #b3b2b2;
  border: none;
}

@media (min-width: 1360px) {
  .logo {
    width: 180px;
  }
  .content {
    width: calc(100vw - 240px);
  }
  .row1 {
    height: calc(50vw - 120px);
  }
  .row2 {
    height: calc(25vw - 60px);
  }
  .buttons a {
    width: 180px;
  }
  .buttons span {
    font-size: 16px;
  }
  .buttons span a {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .content_mobile, .but_tab {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  body, button, input {
    font-size: 1.15vw;
  }
  textarea {
    font-size: 1.0vw;
  }
  .content, .but_lap {
    display: none !important;
  }
  .box_xs {
    width: calc(100% / 3);
    height: calc(33vw - 61px);
  }
  .row1 {
    height: calc(70vw - 185px);
    width: 100%;
  }
  .map {
    border: none;
  }
  .human_info .hidden {
    font-size: 1.12vw;
  }
  .InputName input {
    width: calc(100% - 6vw);
  }
  .InputEmail input {
    width: calc(100% - 10.4vw);
  }
}

@media (max-width: 770px) {
  body, button, input {
    font-size: calc(2.30vw - 4px);
  }
  textarea {
    font-size: 1.8vw;
  }
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
  .row1 {
    height: calc(100vw - 185px);
    width: 100%;
  }
  .text_box {
    padding: 15px;
  }
  .human_text {
    padding: 15px;
  }
  .human_info .hidden {
    font-size: calc(2.10vw - 4px);
  }
  .company_form {
    padding: 20px;
  }
  .company_form input {
    width: 100%;
    margin-bottom: 6px;
  }
  .company_form p {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .company_form p span {
    font-size: 2.3vw;
  }
  .company_form p span a {
    color: #ffffff;
    display: block;
  }
}

.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.box_xs {
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  display: flex;
  border-radius: 7px;
  align-content: stretch;
}

.logo_mobile, .tel_mob {
  display: none;
}

@media (max-width: 500px) {
  .tel_mob {
    display: inline-block;
  }
  .tel_lap {
    display: none;
  }
  body, button, input {
    background-color: #f2f2f2;
    padding: 0;
    font-size: 4.4vw;
  }
  textarea {
    height: 50px !important;
    font-size: 4.2vw;
  }
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  .row1 {
    height: calc(100vw - 0px);
    width: 100%;
  }
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
    border-radius: 0px;
  }
  .hidden_mobile {
    display: none;
  }
  .box_info {
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    margin: 30px auto;
    padding-right: 5px;
    width: 100%;
  }
  .text_box, .human_text {
    padding: 6vw;
    text-align: left;
  }
  .text_box p, .human_text p {
    margin: 0;
  }
  .map_info {
    padding: 6vw;
    width: 100vw;
    top: 0;
    left: 0px;
  }
  .map_info a {
    color: #ffffff;
    text-decoration: underline !important;
  }
  .company_form {
    z-index: 110px;
  }
  .box_lg {
    border: none;
    border-radius: 0px;
  }
  .human_info .hidden {
    font-size: 4.4vw;
  }
  #logo_button {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 6vw;
    width: 115px;
    height: 115px;
    z-index: 300;
  }
  #logo_button img {
    margin-top: 6vw;
    margin-left: 7px;
  }
  #logo_cross {
    position: absolute;
    top: 6vw;
    right: 6vw;
    z-index: 300;
    visibility: hidden;
  }
  #logo_cross img {
    width: 40px;
    height: 40px;
  }
  #logo {
    position: absolute;
    top: 6vw;
    left: 6vw;
  }
  #logo img {
    margin-left: 7px;
  }
  .fixedattop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 119;
    visibility: hidden;
  }
  .fixedattop #logo_button {
    visibility: visible;
    display: block;
  }
  .fixedattop #logo {
    visibility: hidden;
  }
  .fixedattop p {
    visibility: hidden;
  }
  .logo_mobile_open {
    visibility: hidden !important;
  }
  .logo_mobile_compact {
    background-color: #ffffff !important;
    box-shadow: 0px 2px 20px 0px #000000;
    visibility: visible;
  }
  .logo_mobile_compact:after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100vw);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 104;
  }
  .logo_mobile_compact p {
    visibility: visible;
  }
  .logo_mobile_compact #logo_cross {
    visibility: visible;
  }
  .logo_mobile {
    display: block;
    height: calc(100vw - 0px);
    padding: 6vw;
    box-sizing: border-box;
  }
  .logo_mobile .content_mobile {
    float: right;
  }
  .logo_mobile span {
    white-space: nowrap;
  }
  .logo_mobile .f_chld {
    margin-bottom: 10vw;
    margin-top: 20vw;
  }
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  .logo_mobile img {
    width: 100px;
  }
  .logo_mobile p {
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #000000;
  }
  .logo_mobile p a:hover {
    color: #404040;
  }
}

@media (max-width: 360px) {
  .logo_mobile .f_chld {
    margin-bottom: 10px;
  }
  .text_box {
    line-height: 20px;
    font-size: 18px;
  }
  .ButtonForm {
    padding: 3px 40px;
  }
}

.hidden_page {
  display: none;
}

.show_page {
  display: block;
}

.hide {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
}

.pointer_off {
  cursor: default;
}
