@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 22, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
li {
  list-style-type: none;
}

/* line 26, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
body {
  padding: 15px 15px 15px 15px;
  background-color: #1a1a1a;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
}

/* line 34, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
img {
  width: 100%;
  max-width: 300px;
}

/* line 38, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.content {
  width: calc(100vw - 185px);
  min-height: 100vh;
  float: right;
  padding-bottom: 15px;
}

/* line 44, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.row1 {
  display: flex;
  height: calc(50vw - 92.5px);
  width: 100%;
}

/* line 49, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.row2 {
  display: flex;
  height: calc(25vw - 46.25px);
  width: 100%;
}

/* line 53, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.row2 .box_sm {
  height: 100%;
}

/* line 57, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.col1 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
}

/* line 66, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.col2 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%;
  height: 100%;
}

/* line 73, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.box_sm {
  width: 50%;
  height: calc(50% - 0px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
}

/* line 80, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.box_lg {
  width: 100%;
  height: calc(100% - 0px);
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
}

/* line 96, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.blur {
  z-index: 99;
}

/* line 99, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.inner_wrapper {
  z-index: 100;
}

/* line 103, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

/* line 107, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.wrapper:hover .blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-size: 105% 105%;
}

/* line 112, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.wrapper:hover .tags {
  visibility: visible;
}

/* line 117, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.inner_wrapper, .blur {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

/* line 127, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.text_box {
  background-color: #262626;
  box-sizing: border-box;
  font-size: 1.11vw;
  border-radius: 7px;
}

/* line 134, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.text_box p {
  margin: 20px;
  color: #ffffff;
}

/* line 139, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.show_more {
  text-align: center;
  color: #ffffff;
  background-color: #262626;
}

/* line 143, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.show_more p {
  margin-top: calc(40% - 15px);
}

/* line 146, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.show_more img {
  margin-top: 15px;
  width: 37%;
  height: auto;
}

/* line 152, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.box_info {
  font-size: 1.2vw;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* line 169, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.tags {
  text-transform: lowercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
  visibility: hidden;
  z-index: 121;
}

/* line 177, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.tags a {
  color: #000000;
  margin-left: 5px;
}

/* line 180, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.tags a:hover {
  color: #323131;
}

/* line 187, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.tags_white a:hover {
  color: white;
}

/* line 192, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.white_text {
  color: #ffffff !important;
}

/* line 196, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

/* line 202, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

/* line 206, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.buttons ul {
  margin: 0;
}

/* line 209, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.buttons a {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

/* line 222, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.buttons a:hover {
  color: #b3b2b2;
  border: 2px solid #b3b2b2;
}

@media (min-width: 1360px) {
  /* line 231, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo {
    width: 180px;
  }
  /* line 234, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .content {
    width: calc(100vw - 240px);
  }
  /* line 237, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .row1 {
    height: calc(25vw + 25vw - 120px);
  }
  /* line 240, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .row2 {
    height: calc(25vw - 60px);
  }
  /* line 244, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .buttons a {
    width: 180px;
  }
  /* line 248, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .kit1 {
    border-top: 7px solid #1a1a1a;
    border-bottom: 6px solid #1a1a1a;
    border-radius: 10px;
  }
  /* line 253, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .kit2 {
    border-top: 6px solid #1a1a1a;
  }
}

@media (min-width: 1025px) {
  /* line 260, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .content_mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  /* line 265, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .content {
    display: none;
  }
  /* line 268, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_xs {
    width: calc(100% / 3);
    height: calc(33vw - 59px);
  }
  /* line 272, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_info {
    font-size: 1.5vw;
    padding: 15px;
  }
  /* line 280, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .text_box {
    display: block;
    text-align: left !important;
    font-size: 1.3vw;
  }
  /* line 287, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .text_box p {
    margin: 15px;
  }
  /* line 291, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .kit1 {
    border-top: 7px solid #1a1a1a;
    border-bottom: 6px solid #1a1a1a;
    border-radius: 10px;
  }
  /* line 296, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .kit2 {
    border-top: 6px solid #1a1a1a;
  }
}

@media (max-width: 770px) {
  /* line 303, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
  /* line 307, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_info {
    font-size: 1.9vw;
    padding: 10px;
  }
  /* line 311, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .text_box {
    font-size: 1.7vw;
  }
  /* line 313, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .text_box p {
    margin: 10px;
  }
}

/* line 319, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 328, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.box_xs {
  display: block;
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
}

/* line 341, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.logo_mobile {
  display: none;
}

@media (max-width: 500px) {
  /* line 345, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  body {
    padding: 0;
  }
  /* line 348, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  /* line 352, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_xs {
    width: 100%;
    height: calc(100vw - 0px);
    border: none;
    text-align: center;
    border-radius: 0;
    display: flex;
    text-align: center;
    align-content: stretch;
  }
  /* line 362, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .show_more {
    display: block;
  }
  /* line 365, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .hide_mobile {
    display: none;
  }
  /* line 368, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .box_info {
    font-size: 4.5vw;
    padding: 20px 20px 20px 20px;
  }
  /* line 377, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .tags {
    font-size: 4.5vw;
  }
  /* line 383, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo_button {
    visibility: hidden;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 6vw;
    width: 115px;
    height: 115px;
  }
  /* line 391, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo_button img {
    margin-top: 6vw;
    margin-left: 7px;
  }
  /* line 396, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo_cross {
    position: absolute;
    top: 6vw;
    right: 6vw;
    visibility: hidden;
  }
  /* line 401, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo_cross img {
    width: 40px;
    height: 40px;
  }
  /* line 406, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo {
    position: absolute;
    top: 6vw;
    left: 6vw;
  }
  /* line 410, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  #logo img {
    margin-left: 7px;
  }
  /* line 414, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .fixedattop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent !important;
  }
  /* line 421, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .fixedattop #logo_button {
    visibility: visible;
  }
  /* line 424, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .fixedattop #logo {
    visibility: hidden;
  }
  /* line 427, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .fixedattop p {
    visibility: hidden;
  }
  /* line 431, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile_open {
    background-color: transparent !important;
  }
  /* line 434, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile_compact {
    background-color: #000000 !important;
    box-shadow: 0px 2px 20px 0px #000000;
  }
  /* line 437, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile_compact:after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100vw);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  /* line 448, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile_compact p {
    visibility: visible;
  }
  /* line 451, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile_compact #logo_cross {
    visibility: visible;
  }
  /* line 456, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile {
    display: block;
    height: calc(100vw - 0px);
    padding: 6vw;
    box-sizing: border-box;
    background-color: #000000;
  }
  /* line 463, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile .content_mobile {
    float: right;
  }
  /* line 466, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile span {
    white-space: nowrap;
  }
  /* line 469, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10vw;
    margin-top: 20vw;
  }
  /* line 473, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 477, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile img {
    width: 100px;
  }
  /* line 480, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 485, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #ffffff;
  }
  /* line 488, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile p a:hover {
    color: #d9d9d9;
  }
}

@media (max-width: 360px) {
  /* line 498, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10px;
  }
}

/* line 506, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.hide_page {
  display: none;
}

/* line 509, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
.show_page {
  display: block;
}

/* line 512, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/main.scss */
#page2 {
  margin-top: -15px;
}

/*# sourceMappingURL=../css/main.map */