@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

li {
  list-style-type: none;
}

body {
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
}

img {
  width: 100%;
}

.text_box {
  background-color: #262626;
  border-top: 6px solid #f2f2f2;
  box-sizing: border-box;
  font-size: 24px;
  padding: 5px 10px;
}

.text_box p {
  color: #ffffff;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.text_box p b {
  margin-bottom: 40px;
  display: inline-block;
}

.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

.back_arrow {
  position: fixed;
  top: 215px;
  left: 50px;
  width: 60px;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

.buttons ul {
  margin: 0;
}

.buttons a {
  color: #1a1a1a;
  display: block;
  border: 2px solid #1a1a1a;
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

.buttons a:hover {
  color: #b3b2b2;
  border: 2px solid #b3b2b2;
}

.back_arrow_mobile {
  width: 60px;
}

.logo_mobile_black img {
  width: 100px;
}

.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.box_xs {
  width: 25%;
  height: calc(25vw - 60px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  display: flex;
  text-align: center;
  align-content: stretch;
}

@media (min-width: 1360px) {
  .logo {
    width: 180px;
  }
  .back_arrow {
    top: 270px;
    left: 80px;
  }
  .content_mobile {
    width: calc(100vw - 240px);
  }
  .buttons a {
    width: 180px;
  }
}

@media (max-width: 1359px) {
  .box_xs {
    width: 33.3%;
    height: calc(33.3vw - 61.61px);
  }
}

@media (max-width: 901px) {
  .text_box {
    font-size: 3.1vw;
  }
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.49px);
  }
}

.logo_mobile {
  display: none;
}

@media (max-width: 550px) {
  body {
    padding: 0;
  }
  .text_box {
    font-size: 4.3vw;
    padding-left: 30px;
  }
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
  }
  .hide_mobile {
    display: none;
  }
  .logo_mobile {
    width: calc(100vw - 6vw);
    height: calc(100vw - 0px);
    padding: 8vw 20px 8vw 6vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo_mobile .content_mobile {
    float: right;
  }
  .logo_mobile h1 {
    color: #1a1a1a;
    font-size: 8.0vw;
  }
  .logo_mobile span {
    white-space: nowrap;
  }
  .logo_mobile .f_chld {
    margin-bottom: 11.2vw;
    margin-top: 20px;
  }
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  .logo_mobile p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #ffffff;
  }
  .logo_mobile p a:hover {
    color: #d9d9d9;
  }
}

@media (max-width: 360px) {
  .logo_mobile {
    padding: 5vw 10px 8vw 6vw;
  }
  .logo_mobile .f_chld {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.hide_page {
  display: none;
}

.show_page {
  display: block;
}
