/*Для отображения дополнительных блоков: добавить "/* " к строке "display: none!important;"*/
.bg1{
	background: url("../img/1_mymy/1.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg2{
	background: url("../img/1_mymy/2.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg3{
	background: url("../img/1_mymy/3.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg4{
	background: url("../img/1_mymy/4.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg5{
	background: url("../img/1_mymy/5.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg6{
	background: url("../img/1_mymy/6.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg7{
	background: url("../img/1_mymy/1.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg8{
	background: url("../img/1_mymy/1.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}