/*Для отображения дополнительных блоков: добавить "/* " к строке "display: none!important;"*/
.bg1{
	background: url("../img/24_taeznyi_dar/1.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg2{
	background: url("../img/24_taeznyi_dar/2.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg3{
	background: 
	url("../img/24_taeznyi_dar/3.jpg") 0 0 no-repeat,
	url("../img/24_taeznyi_dar/4.jpg") 100% 0 no-repeat,
	url("../img/24_taeznyi_dar/5.jpg") 0 100% no-repeat,
	url("../img/24_taeznyi_dar/6.jpg") 100% 100% no-repeat;
	background-size: calc(50% - 4px) calc(50% - 4px);

	/*background: url("../img/24_taeznyi_dar/3.jpg")center no-repeat;
	background-size: contain;*/
	/*display: none!important;*/
}
.bg4{
	background: url("../img/24_taeznyi_dar/4.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg5{
	background: url("../img/24_taeznyi_dar/5.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg6{
	background: url("../img/24_taeznyi_dar/6.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg7{
	background: url("../img/24_taeznyi_dar/7.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg8{
	background: url("../img/24_taeznyi_dar/8.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg9{
	background: url("../img/24_taeznyi_dar/9.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg10{
	background: url("../img/24_taeznyi_dar/10.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg11{
	background: url("../img/24_taeznyi_dar/11.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg12{
	background: url("../img/24_taeznyi_dar/12.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg13{
	background: url("../img/24_taeznyi_dar/13.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg14{
	background: url("../img/24_taeznyi_dar/15.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg15{
	background: url("../img/24_taeznyi_dar/15.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg16{
	background: url("../img/24_taeznyi_dar/16.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}