/*Для отображения дополнительных блоков: добавить "/* " к строке "display: none!important;"*/
.bg1{
	background: url("../img/29_HarbourSpace/1.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg2{
	background: url("../img/29_HarbourSpace/2.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg3{
	background: url("../img/29_HarbourSpace/3.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg4{
	background: url("../img/29_HarbourSpace/5.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg5{
	background: url("../img/29_HarbourSpace/4.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg6{
	background: url("../img/29_HarbourSpace/6.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg7{
	background: 
	url("../img/29_HarbourSpace/7.jpg") 0 0 no-repeat,
	url("../img/29_HarbourSpace/8.jpg") 100% 0 no-repeat,
	url("../img/29_HarbourSpace/9.jpg") 0 100% no-repeat,
	url("../img/29_HarbourSpace/10.jpg") 100% 100% no-repeat;
	background-size: calc(50% - 4px) calc(50% - 4px);

	/*background: url("../img/29_HarbourSpace/7.jpg")center no-repeat;
	background-size: contain;*/
	/*display: none!important;*/
}
.bg8{
	background: url("../img/29_HarbourSpace/8.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg9{
	background: url("../img/29_HarbourSpace/9.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg10{
	background: url("../img/29_HarbourSpace/10.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg11{
	background: url("../img/29_HarbourSpace/12.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg12{
	background: url("../img/29_HarbourSpace/11.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg13{
	background: url("../img/29_HarbourSpace/13.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg14{
	background: 
	url("../img/29_HarbourSpace/14.jpg") 0 0 no-repeat,
	url("../img/29_HarbourSpace/15.jpg") 100% 0 no-repeat,
	url("../img/29_HarbourSpace/16.jpg") 0 100% no-repeat,
	url("../img/29_HarbourSpace/17.jpg") 100% 100% no-repeat;
	background-size: calc(50% - 4px) calc(50% - 4px);

	/*background: url("../img/29_HarbourSpace/14.jpg")center no-repeat;
	background-size: contain;*/
	/*display: none!important;*/
}
.bg15{
	background: url("../img/29_HarbourSpace/15.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg16{
	background: url("../img/29_HarbourSpace/16.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg17{
	background: url("../img/29_HarbourSpace/17.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
@media (max-width: 680px) {
	.bg7,.bg14{
		background-size: 50%;
	}
}