.bg1{
	background: url("../img/company/company1.png")center no-repeat;
	background-size: 100% 100%;
}
.bg2{
	background: url("../img/company/company2.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg3{
	background: url("../img/company/company3.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg4{
	background: url("../img/company/company4.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg5{
	background: url("../img/company/company5.jpg")center no-repeat;
	background-size: 100% 100%;
}
/*Фото людей*/
.bg6{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg7{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg8{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg9{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg10{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg11{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg12{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg13{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg14{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg15{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg16{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg17{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg18{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg19{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg20{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg21{
	background: url("../img/company/company6.jpg")center no-repeat;
	background-size: 100% 100%;
}