.bg1{
	background: url("../img/company/company1.png")center no-repeat;
	background-size: 100% 100%;
}
.bg2{
	background: url("../img/company/company2.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg3{
	background: url("../img/company/company3.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg4{
	background: url("../img/company/company4.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg5{
	background: url("../img/company/company5.jpg")center no-repeat;
	background-size: 100% 100%;
}
/*Фото людей*/
.bg6{
	background: url("../img/company/1_Андрей Брохман креативный директор.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg7{
	background: url("../img/company/2_Юра Пономарев Арт-директор.png")center no-repeat;
	background-size: 100% 100%;
}
.bg8{
	background: url("../img/company/3_Мария Шиляева Аккаунт-менеджер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg9{
	background: url("../img/company/4_Алексей Горшков Менеджер по развитию.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg10{
	background: url("../img/company/5_Максим Касимов Менеджер по развитию.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg11{
	background: url("../img/company/6_Ксения Папулова Помощник аккаунт-менеджера.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg12{
	background: url("../img/company/7_Колесов Сергей Ведущий дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg13{
	background: url("../img/company/8_Александр Попов Дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg14{
	background: url("../img/company/9_Юрий Кондратюк Дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg15{
	background: url("../img/company/10_Дмитрий Демчук Дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg16{
	background: url("../img/company/11_Олег Неволин Юниор-дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg17{
	background: url("../img/company/12_Виолетта Донскова Юниор-дизайнер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg18{
	background: url("../img/company/13_Азер Бабаев Иллюстратор.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg19{
	background: url("../img/company/14_Евгения Ушакова Копирайтер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg20{
	background: url("../img/company/15_Никита Сокуров Копирайтер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg21{
	background: url("../img/company/16_Василиса Николаева Бухгалтер.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg22{
	background: url("../img/company/17_Яна Казакова Офис-менеджер.jpg")center no-repeat;
	background-size: 100% 100%;
}