.bg1{
	background: url("../img/product_1_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg2{
	background: url("../img/product_2_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg3{
	background: url("../img/product_3_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg4{
	background: url("../img/product_4_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg5{
	background: url("../img/product_5_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg6{
	background: url("../img/product_6_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg7{
	background: url("../img/product_7_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg8{
	background: url("../img/product_8_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg9{
	background: url("../img/product_9_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg10{
	background: url("../img/product_10_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg11{
	background: url("../img/product_11_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg12{
	background: url("../img/product_12_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg13{
	background: url("../img/product_13_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg14{
	background: url("../img/product_14_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg15{
	background: url("../img/product_15_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg16{
	background: url("../img/product_16_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg17{
	background: url("../img/product_17_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg18{
	background: url("../img/product_18_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg19{
	background: url("../img/product_19_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg20{
	background: url("../img/product_20_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg21{
	background: url("../img/product_21_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg22{
	background: url("../img/product_22_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg23{
	background: url("../img/product_23_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg24{
	background: url("../img/product_24_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg25{
	background: url("../img/product_25_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg26{
	background: url("../img/product_26_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg27{
	background: url("../img/product_27_main.jpg")center no-repeat;
	background-size: 100% 100%;
}
.bg28{
	background: url("../img/product_28_main.jpg")center no-repeat;
	background-size: 100% 100%;
}