/*Для отображения дополнительных блоков: добавить "/* " к строке "display: none!important;"*/
.bg1{
	background: url("../img/21_serdce_goroda/1.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg4{
	background: url("../img/21_serdce_goroda/2.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg3{
	background: url("../img/21_serdce_goroda/3.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg2{
	background: 
	url("../img/21_serdce_goroda/4.jpg") 0 0 no-repeat,
	url("../img/21_serdce_goroda/5.jpg") 100% 0 no-repeat,
	url("../img/21_serdce_goroda/6.jpg") 0 100% no-repeat,
	url("../img/21_serdce_goroda/7.jpg") 100% 100% no-repeat;
	background-size: calc(50% - 4px) calc(50% - 4px);

	/*background: url("../img/21_serdce_goroda/4.jpg")center no-repeat;
	background-size: contain;*/
	/*display: none!important;*/
}
.bg5{
	background: url("../img/21_serdce_goroda/5.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg6{
	background: url("../img/21_serdce_goroda/6.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg7{
	background: url("../img/21_serdce_goroda/7.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg8{
	background: url("../img/21_serdce_goroda/8.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg9{
	background: url("../img/21_serdce_goroda/9.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg10{
	background: url("../img/21_serdce_goroda/10.jpg")center no-repeat;
	background-size: contain;
	/*display: none!important;*/
}
.bg11{
	background: url("../img/21_serdce_goroda/11.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg12{
	background: url("../img/21_serdce_goroda/12.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg13{
	background: url("../img/21_serdce_goroda/13.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg14{
	background: url("../img/21_serdce_goroda/15.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg15{
	background: url("../img/21_serdce_goroda/15.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}
.bg16{
	background: url("../img/21_serdce_goroda/16.jpg")center no-repeat;
	background-size: contain;
	display: none!important;
}