@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 22, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
li {
  list-style-type: none;
}

/* line 26, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
body {
  padding: 15px 15px 15px 15px;
  background-color: #1a1a1a;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
}

/* line 34, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
img {
  width: 100%;
}

/* line 38, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box {
  background-color: #262626;
  border-top: 6px solid #1a1a1a;
  box-sizing: border-box;
  font-size: 1.3vw;
  padding: 1vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* line 47, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p {
  color: #ffffff;
  text-align: left;
  margin: 0;
}

/* line 54, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p b {
  margin-bottom: 2.8vw;
  display: inline-block;
}

/* line 60, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags {
  font-size: 1.3vw;
}

/* line 65, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a {
  color: #000000;
  padding: 0 0.5vw;
}

/* line 68, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a:hover {
  color: #ffffff;
}

/* line 75, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

/* line 81, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow {
  position: fixed;
  top: 270px;
  left: 50px;
  width: 60px;
}

/* line 87, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

/* line 91, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons ul {
  margin: 0;
}

/* line 94, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

/* line 108, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a:hover {
  color: #b3b2b2;
  border: 2px solid #b3b2b2;
}

/* line 116, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 125, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.box_xs {
  width: 50%;
  height: calc(50vw - 120px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
  display: flex;
  text-align: center;
  align-content: stretch;
}

/* line 139, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo_mobile {
  display: none;
}

@media (min-width: 1360px) {
  /* line 144, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo {
    width: 180px;
  }
  /* line 147, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .back_arrow {
    left: 80px;
  }
  /* line 150, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 240px);
  }
  /* line 154, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .buttons a {
    width: 180px;
  }
}

@media (max-width: 1359px) {
  /* line 160, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
}

@media (max-width: 1201px) {
  /* line 166, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 1.6vw;
  }
}

@media (max-width: 680px) {
  /* line 172, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  body {
    padding: 0;
  }
  /* line 175, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 4.3vw;
    padding: 20px;
    padding-left: 35px;
  }
  /* line 180, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .tags {
    font-size: 3.5vw;
  }
  /* line 183, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  /* line 187, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
  }
  /* line 193, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .hide_mobile {
    display: none;
  }
  /* line 207, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    display: block;
    width: calc(100vw - 6vw);
    height: calc(100vw - 0px);
    padding: 8vw 20px 8vw 6vw;
    box-sizing: border-box;
  }
  /* line 213, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .content_mobile {
    float: right;
  }
  /* line 216, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile h1 {
    color: #ffffff;
    font-size: 8.0vw;
  }
  /* line 220, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile span {
    white-space: nowrap;
  }
  /* line 223, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 11.2vw;
    margin-top: 20px;
  }
  /* line 227, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 231, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile img {
    width: 100px;
  }
  /* line 234, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 239, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #ffffff;
  }
  /* line 242, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a:hover {
    color: #d9d9d9;
  }
}

@media (max-width: 360px) {
  /* line 250, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    padding: 5vw 10px 8vw 6vw;
  }
  /* line 252, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* line 260, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.hide_page {
  display: none;
}

/* line 263, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show_page {
  display: block;
}

/* line 267, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team {
  display: block;
}

/* line 269, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .tags {
  display: block;
  margin-bottom: 10vw;
}

/* line 273, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team p {
  margin: 20px 0;
}

/*# sourceMappingURL=../css/product.map */