@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 22, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
li {
  list-style-type: none;
}

/* line 26, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
body {
  padding: 15px 15px 15px 15px;
  background-color: #1a1a1a;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
}

/* line 34, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
img {
  width: 100%;
}

/* line 38, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box {
  background-color: #262626;
  border-top: 6px solid #1a1a1a;
  box-sizing: border-box;
  font-size: 1.3vw;
  padding: 20px;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

/* line 47, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p {
  color: #ffffff;
  text-align: left;
  margin: 0;
}

/* line 54, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p b {
  display: inline-block;
  text-transform: uppercase;
}

/* line 61, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags {
  text-align: left;
  font-size: 1.3vw;
}

/* line 76, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a {
  color: #ffffff;
  margin-left: -4px;
  margin-right: 1.0vw;
  display: inline-block;
  margin-bottom: 3px;
  background-color: black;
  border-radius: 4px;
  padding: 1px 4px 2px 4px;
  cursor: default;
  white-space: nowrap;
}

/* line 88, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a:hover {
  background-color: #323131;
}

/* line 95, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

/* line 101, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow {
  position: fixed;
  top: 165px;
  left: 20px;
  width: 125px;
  height: calc(100vh - 165px - 96px - 30px - 100px);
  text-align: center;
}

/* line 108, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow a {
  display: block;
  height: 100%;
}

/* line 112, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow a:hover img {
  width: 65px;
}

/* line 116, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow img {
  width: 60px;
  margin-top: 50px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* line 125, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

/* line 129, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons ul {
  margin: 0;
}

/* line 132, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

/* line 146, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a:hover {
  color: #b3b2b2;
  border: 2px solid #b3b2b2;
}

/* line 151, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons span {
  color: #ffffff;
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

/* line 156, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons span a {
  border: none;
  text-decoration: underline !important;
  text-align: left;
  margin-top: 0;
  display: inline-block;
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
}

/* line 166, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons span a:hover {
  color: #b3b2b2;
  border: none;
}

/* line 175, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 184, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.box_xs {
  width: 50%;
  height: calc(50vw - 120px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
  display: flex;
  text-align: center;
  align-content: stretch;
}

/* line 195, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.box_xl {
  width: 100% !important;
  height: calc(100vw - 240px) !important;
}

/* line 201, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo_mobile {
  display: none;
}

@media (min-width: 1360px) {
  /* line 206, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo {
    width: 180px;
  }
  /* line 209, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .back_arrow {
    left: 20px;
    top: 220px;
    width: 180px;
    height: calc(100vh - 220px - 96px - 30px);
  }
  /* line 215, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 240px);
  }
  /* line 219, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .buttons a {
    width: 180px;
  }
  /* line 222, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .buttons span {
    font-size: 16px;
  }
  /* line 224, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .buttons span a {
    font-size: 16px;
  }
}

@media (max-width: 1359px) {
  /* line 231, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
  /* line 235, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xl {
    width: 100% !important;
    height: calc(100vw - 185px) !important;
  }
}

@media (min-width: 1025px) {
  /* line 241, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .but_tab {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  /* line 246, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .but_lap {
    display: none !important;
  }
}

@media (max-width: 1201px) {
  /* line 252, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 1.5vw;
  }
}

@media (max-width: 680px) {
  /* line 258, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .bg1 {
    order: 0;
  }
  /* line 261, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg9, .bg10, .bg11, .bg12, .bg13, .bg14, .bg15, .bg16, .bg17, .bg18, .bg19, .text_box {
    order: 1;
  }
  /* line 264, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  body {
    padding: 0;
  }
  /* line 267, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 4.3vw;
    padding: 20px;
  }
  /* line 272, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .tags {
    font-size: 3.5vw;
  }
  /* line 275, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  /* line 279, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
  }
  /* line 285, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xl {
    width: 100% !important;
    height: calc(100vw - 0px) !important;
  }
  /* line 289, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .hide_mobile {
    display: none;
  }
  /* line 304, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_button {
    display: none;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: 6vw;
    width: 115px;
    height: 115px;
    z-index: 300;
  }
  /* line 314, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_button img {
    margin-top: 6vw;
    margin-left: 7px;
  }
  /* line 319, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_cross {
    position: absolute;
    top: 6vw;
    right: 6vw;
    z-index: 300;
    visibility: hidden;
  }
  /* line 325, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_cross img {
    width: 40px;
    height: 40px;
  }
  /* line 330, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo {
    position: absolute;
    top: 6vw;
    left: 6vw;
  }
  /* line 334, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo img {
    margin-left: 7px;
  }
  /* line 338, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 119;
    visibility: hidden;
  }
  /* line 346, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop #logo_button {
    visibility: visible;
    display: block;
  }
  /* line 350, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop #logo {
    visibility: hidden;
  }
  /* line 353, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop p, .fixedattop h1 {
    visibility: hidden;
  }
  /* line 358, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_open {
    visibility: hidden !important;
    background-color: transparent !important;
  }
  /* line 362, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact {
    background-color: #1a1a1a !important;
    box-shadow: 0px 2px 20px 0px #000000;
    visibility: visible;
  }
  /* line 366, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact:after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100vw);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 104;
  }
  /* line 377, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact h1 {
    visibility: visible !important;
  }
  /* line 382, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact #logo_cross {
    visibility: visible;
  }
  /* line 386, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    display: block;
    height: calc(100vw - 0px);
    padding: 8vw 20px 8vw 6vw;
    box-sizing: border-box;
  }
  /* line 392, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .content_mobile {
    float: right;
  }
  /* line 395, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile h1 {
    color: #ffffff;
    font-size: 8.0vw;
    margin-top: 20vw;
  }
  /* line 400, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p {
    visibility: hidden;
  }
  /* line 403, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile span {
    white-space: nowrap;
  }
  /* line 406, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 11.2vw;
    margin-top: 20px;
  }
  /* line 410, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 414, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile img {
    width: 100px;
  }
  /* line 417, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 422, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #ffffff;
  }
  /* line 425, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a:hover {
    color: #d9d9d9;
  }
}

@media (max-width: 360px) {
  /* line 433, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    padding: 5vw 10px 8vw 6vw;
  }
  /* line 435, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* line 443, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team {
  display: block;
}

/* line 445, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .tags {
  display: block;
}

/* line 450, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .names {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 458, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .names div {
  width: 45%;
  margin: 1vw 1vw 1vw 0%;
  text-align: left;
  color: #ffffff;
}

/* line 467, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.hide_page {
  display: none;
}

/* line 470, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show_page {
  display: block;
}

/* line 473, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.hide {
  visibility: hidden !important;
}

/* line 476, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show {
  visibility: visible !important;
}

/*# sourceMappingURL=../css/product.map */