@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDasGroteskPro-Regular";
  src: url("../fonts/PFDasGroteskPro-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 22, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
button:focus, a:focus, input:focus, select:focus {
  outline: none !important;
}

/* line 24, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
li {
  list-style-type: none;
}

/* line 26, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
body {
  padding: 15px 15px 15px 15px;
  background-color: #1a1a1a;
  box-sizing: border-box;
  margin: 0px;
  font-family: "PFDasGroteskPro-Regular";
}

/* line 34, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
img {
  width: 100%;
}

/* line 38, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box {
  background-color: #262626;
  border-top: 6px solid #1a1a1a;
  box-sizing: border-box;
  font-size: 1.3vw;
  padding: 20px;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

/* line 47, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p {
  color: #ffffff;
  text-align: left;
  margin: 0;
}

/* line 54, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.text_box p b {
  display: inline-block;
}

/* line 60, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags {
  text-align: left;
  font-size: 1.3vw;
}

/* line 67, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a {
  color: #000000;
  padding: 0 0.5vw;
  cursor: default;
}

/* line 71, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.tags a:hover {
  color: #ffffff;
}

/* line 78, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo {
  position: fixed;
  top: 21px;
  left: 20px;
  width: 125px;
}

/* line 84, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.back_arrow {
  position: fixed;
  top: 215px;
  left: 50px;
  width: 60px;
}

/* line 90, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons {
  position: fixed;
  bottom: 20px;
  left: -20px;
}

/* line 94, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons ul {
  margin: 0;
}

/* line 97, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a {
  color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

/* line 111, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.buttons a:hover {
  color: #b3b2b2;
  border: 2px solid #b3b2b2;
}

/* line 119, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.content_mobile {
  width: calc(100vw - 185px);
  min-height: 90vh;
  float: right;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 128, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.box_xs {
  width: 50%;
  height: calc(50vw - 120px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #1a1a1a;
  display: flex;
  text-align: center;
  align-content: stretch;
}

/* line 142, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.logo_mobile {
  display: none;
}

@media (min-width: 1360px) {
  /* line 147, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo {
    width: 180px;
  }
  /* line 150, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .back_arrow {
    left: 80px;
    top: 270px;
  }
  /* line 154, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 240px);
  }
  /* line 158, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .buttons a {
    width: 180px;
  }
}

@media (max-width: 1359px) {
  /* line 164, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 50%;
    height: calc(50vw - 92.5px);
  }
}

@media (max-width: 1201px) {
  /* line 170, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 1.5vw;
  }
}

@media (max-width: 680px) {
  /* line 176, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .bg1 {
    order: 0;
  }
  /* line 179, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg10, .bg11, .bg12, .bg13, .bg14, .bg15, .bg16, .text_box {
    order: 1;
  }
  /* line 182, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  body {
    padding: 0;
  }
  /* line 185, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .text_box {
    font-size: 4.3vw;
    padding: 20px;
  }
  /* line 190, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .tags {
    font-size: 3.5vw;
  }
  /* line 193, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .content_mobile {
    width: calc(100vw - 0px);
    padding-bottom: 0;
  }
  /* line 197, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .box_xs {
    width: 100%;
    height: calc(100vw - 2px);
    border: none;
    text-align: center;
  }
  /* line 203, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .hide_mobile {
    display: none;
  }
  /* line 218, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_button {
    visibility: hidden;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: 6vw;
    width: 115px;
    height: 115px;
    z-index: 300;
  }
  /* line 227, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_button img {
    margin-top: 6vw;
    margin-left: 7px;
  }
  /* line 232, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_cross {
    position: absolute;
    top: 6vw;
    right: 6vw;
    z-index: 300;
    visibility: hidden;
  }
  /* line 238, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo_cross img {
    width: 40px;
    height: 40px;
  }
  /* line 243, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo {
    position: absolute;
    top: 6vw;
    left: 6vw;
  }
  /* line 247, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  #logo img {
    margin-left: 7px;
  }
  /* line 251, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 119;
    background-color: transparent !important;
  }
  /* line 258, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop #logo_button {
    visibility: visible;
  }
  /* line 261, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop #logo {
    visibility: hidden;
  }
  /* line 264, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .fixedattop p, .fixedattop h1 {
    visibility: hidden;
  }
  /* line 269, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_open {
    visibility: hidden !important;
    background-color: transparent !important;
  }
  /* line 273, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact {
    background-color: #1a1a1a !important;
    box-shadow: 0px 2px 20px 0px #000000;
  }
  /* line 276, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact:after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100vw);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 104;
  }
  /* line 287, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact h1 {
    visibility: visible !important;
  }
  /* line 292, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile_compact #logo_cross {
    visibility: visible;
  }
  /* line 296, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    display: block;
    height: calc(100vw - 0px);
    padding: 8vw 20px 8vw 6vw;
    box-sizing: border-box;
  }
  /* line 302, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .content_mobile {
    float: right;
  }
  /* line 305, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile h1 {
    color: #ffffff;
    font-size: 8.0vw;
    margin-top: 20vw;
  }
  /* line 310, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p {
    visibility: hidden;
  }
  /* line 313, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile span {
    white-space: nowrap;
  }
  /* line 316, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 11.2vw;
    margin-top: 20px;
  }
  /* line 320, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .mtop {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 324, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile img {
    width: 100px;
  }
  /* line 327, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 332, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a {
    text-decoration: underline !important;
    color: #ffffff;
  }
  /* line 335, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile p a:hover {
    color: #d9d9d9;
  }
}

@media (max-width: 360px) {
  /* line 343, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile {
    padding: 5vw 10px 8vw 6vw;
  }
  /* line 345, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
  .logo_mobile .f_chld {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* line 353, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.hide_page {
  display: none;
}

/* line 356, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show_page {
  display: block;
}

/* line 360, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team {
  display: block;
}

/* line 362, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .tags {
  display: block;
}

/* line 367, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .names {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 375, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.product_team .names div {
  width: 45%;
  margin: 1vw 1vw 1vw 0%;
  text-align: left;
  color: #ffffff;
}

/* line 384, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.hide_page {
  display: none;
}

/* line 387, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show_page {
  display: block;
}

/* line 390, C:/Users/Serg/Documents/GitHub/Teroll.github.io/work7/scss/product.scss */
.show {
  visibility: visible !important;
}

/*# sourceMappingURL=../css/product.map */